body,td
{
	font-family: Arial, Helvetica;
	font-size: 10px;
	background-color: #ffffff;
}

td.sectionheader
{
	color: #ffffff;
	background-color=#000040;
	font-size: 12px

}

td.report
{
	color: #eeeeee;
	font-family: Arial, Helvetica;
	font-size: 12px;
	background-image:url(../images/reportbar.gif);
	font-weight: bold;
	text-align: center;
}

td.text
{
	color: #000000;
	font-family: Arial, Helvetica;
	font-size: 12px;
	background-image:url(../images/textfade.gif);
	font-weight: bold;
	text-align: center;
}

td.html
{
	color: #000000;
	font-family: Arial, Helvetica;
	font-size: 12px;
	background-image:url(../images/htmlfade.gif);
	font-weight: bold;
	text-align: center;
}

td.aol
{
	color: #000000;
	font-family: Arial, Helvetica;
	font-size: 12px;
	background-image:url(../images/aolfade.gif);
	font-weight: bold;
	text-align: center;
}

table.main
{
	background-color: #aaaaaa;
	cellpadding: 0;
	cellspacing: 0;
	border: 0;
}

th
{
	color: #ffffff;
	font-family: Arial, Helvetica;
	font-size: 12px;
	background-color: #333399;
	font-weight: bold;
	text-align: left;
}

td.submenuON
{
	color: #000000;
}

td.submenuOFF
{
	color: #ffffff;
	background-color: #333399;
}

td.main
{
	color: #ffffff;
	background-image:url(../images/mainfillerbg.gif);
}

a:link,a:visited
{
	color:#990000;
	text-decoration: underline;
}


a.submenuon:link,a.submenuon:visited
{
	color:#000000;
	text-decoration: none;
	font-size: 10px;
}

a.submenu:link,a.submenu:visited
{
	color:#ffffff;
	text-decoration: none;
	font-size: 10px;
}

a.submenu:hover
{
	text-decoration: underline;
	font-size: 10px;
}

b.sectionheader

{
	color:#ffcc00;
	text-decoration: none;
}

input,textarea,option
{
	font-family: arial;
	font-size: 11px;
}

div.subscription
{
	font-family: Arial, Helvetica;
	font-size: 10px;
	color: #990000;
	text-decoration: underline;
}