body,td
{
	font-family: Arial, Helvetica;
	font-size: 10px;
	background-color: #ffffff;
}



td.sectionheader
{
	color: #ffffff;
	background-color=#000040;
	font-size: 12px

}

td.text
{
	color: #000000;
	font-family: Arial, Helvetica;
	font-size: 12px;
	background-color: #669933;
	font-weight: bold;
	text-align: center;
}

td.html
{
	color: #000000;
	font-family: Arial, Helvetica;
	font-size: 12px;
	background-color: #66CC33;
	font-weight: bold;
	text-align: center;
}

td.aol
{
	color: #000000;
	font-family: Arial, Helvetica;
	font-size: 12px;
	background-color: #66FF33;
	font-weight: bold;
	text-align: center;
}

td.ctmheadfont
{
	color: #FFFFFF;
	font-family: Arial, Helvetica;
	font-size: 12px;
	font-weight: bold;
	background-color: #333399;
}

table.ctmhead
{
	background-color: #223377;
	margin: 10;
	border: 0;
}

table.ctmbody
{
	background-color: #DDEEFF;
	margin: 0;
	border: 0;
}
td.ctmmetatd
{
	background-color: #AABBDD;
	font-size: 12px;
	text-align: center;
	font-weight: bold;
}
td.ctmheadtd
{
	background-color: #AABBDD;
	font-size: 14px;
}

table.main
{
	background-color: #aaaaaa;
	cellpadding: 0;
	cellspacing: 0;
	border: 0;
}

th
{
	color: #000000;
	font-family: Arial, Helvetica;
	font-size: 12px;
	background-color: #ffffff;
	font-weight: bold;
	text-align: left;
}

td.submenuON
{
	color: #000000;
}

td.submenuOFF
{
	color: #ffffff;
	background-color: #333399;
}


a:link,a:visited
{
	color:#990000;
	text-decoration: underline;
}


a.submenuon:link,a.submenuon:visited
{
	color:#000000;
	text-decoration: none;
	font-size: 10px;
}

a.submenu:link,a.submenu:visited
{
	color:#ffffff;
	text-decoration: none;
	font-size: 10px;
}

a.submenu:hover
{
	text-decoration: underline;
	font-size: 10px;
}

b.sectionheader

{
	color:#ffcc00;
	text-decoration: none;
}

input,textarea,option
{
	font-family: arial;
	font-size: 11px;
}
