SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_sntt_entity_attr_save_2]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_sntt_entity_attr_save_2]
GO


CREATE PROCEDURE usp_sntt_entity_attr_save_2
(
	@attr_id int = NULL OUTPUT,
	@entity_id int = NULL,
	@type_id int = NULL,
	@attr_name varchar(255) = NULL,
	@scope_id int = NULL,
	@internal_id_flag int = NULL,
	@fingerprint_seq int = NULL
)
AS

SET @attr_name = LOWER(@attr_name)
SET @attr_name = REPLACE(@attr_name, ' ', '_')

IF EXISTS (SELECT TOP 1 * FROM sntt_entity_attr WHERE (attr_id = @attr_id))
BEGIN
	UPDATE sntt_entity_attr
		SET
			entity_id = @entity_id,
			type_id = @type_id,
			attr_name = @attr_name,
			scope_id = @scope_id,
			internal_id_flag = @internal_id_flag,
			fingerprint_seq = @fingerprint_seq
		WHERE
			(attr_id = @attr_id)
END
ELSE
BEGIN
	INSERT sadm_attr_seq (empty) VALUES (0)
	SELECT @attr_id = @@identity
	DELETE sadm_attr_seq

	INSERT sntt_entity_attr
		(
			attr_id,
			entity_id,
			type_id,
			attr_name,
			scope_id,
			internal_id_flag,
			fingerprint_seq
		)
		VALUES
		(
			@attr_id,
			@entity_id,
			@type_id,
			@attr_name,
			@scope_id,
			@internal_id_flag,
			@fingerprint_seq
		)
END

IF ( @fingerprint_seq > 0 )
BEGIN
	UPDATE sntt_entity_attr SET fingerprint_seq = attr_id WHERE attr_id = @attr_id
END

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

