SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_scps_from_address_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_scps_from_address_save]
GO


CREATE PROCEDURE usp_scps_from_address_save
(
	@from_address_id int = NULL,
	@cust_id int = NULL,
	@domain varchar(255) = NULL,
	@prefix varchar(255) = NULL
)
AS

IF EXISTS (SELECT TOP 1 * FROM scps_from_address WHERE (from_address_id = @from_address_id))
BEGIN
	UPDATE scps_from_address
		SET
			cust_id = @cust_id,
			domain = @domain,
			prefix = @prefix
		WHERE
			(from_address_id = @from_address_id)
END
ELSE
BEGIN
	INSERT scps_from_address
		(
			cust_id,
			domain,
			prefix
		)
		VALUES
		(
			@cust_id,
			@domain,
			@prefix
		)

	SET @from_address_id = @@identity
END

SELECT @from_address_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

