SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_sadm_next_id_get2]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_sadm_next_id_get2]
GO


CREATE PROCEDURE usp_sadm_next_id_get2 (@cust_id int, @type_id int, @increment int = 1)
AS

DECLARE @next_id int

EXEC usp_sadm_next_id_get @cust_id, @type_id, @next_id OUTPUT, @increment

SELECT @next_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

