SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_sadm_system_user_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_sadm_system_user_save]
GO


CREATE PROCEDURE usp_sadm_system_user_save
(
	@system_user_id int = NULL,
	@partner_id int = NULL,
	@first_name varchar(255) = NULL,
	@last_name varchar(255) = NULL,
	@email_address varchar(255) = NULL,
	@phone varchar(255) = NULL,
	@username varchar(255) = NULL,
	@password varchar(255) = NULL,
	@status_id int = NULL
)
AS
	
IF EXISTS (SELECT TOP 1 * FROM sadm_system_user WHERE (system_user_id = @system_user_id))
BEGIN
	UPDATE sadm_system_user
		SET
			partner_id = @partner_id,
			first_name = @first_name,
			last_name = @last_name,
			email_address = @email_address,
			phone = @phone,
			username = @username,
			password = @password,
			status_id = @status_id 
		WHERE
			(system_user_id = @system_user_id)
END
ELSE
BEGIN
	INSERT sadm_system_user
		(
			partner_id,
			first_name,
			last_name,
			email_address,
			phone,
			username,
			password,
			status_id
		)
		VALUES
		(
			@partner_id,
			@first_name,
			@last_name,
			@email_address,
			@phone,
			@username,
			@password,
			@status_id
		)

	SET @system_user_id = @@identity
END

SELECT @system_user_id
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

