SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_shlp_help_doc_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_shlp_help_doc_save]
GO


CREATE PROCEDURE dbo.usp_shlp_help_doc_save
	(@help_doc_id 		int, 
	@parent_help_doc_id 	int, 
	@type_id 		int, 
	@internal_heading 	varchar(500), 
	@display_heading 	varchar(500), 
	@content_text 		varchar(6000), 
	@help_order 		int, 
	@approved_flag 	bit)
AS

IF EXISTS (SELECT * FROM shlp_help_doc WHERE help_doc_id = @help_doc_id)
BEGIN
	UPDATE shlp_help_doc
		SET	parent_help_doc_id 	= @parent_help_doc_id, 
			type_id 			= @type_id, 
			internal_heading 	= @internal_heading, 
			display_heading 		= @display_heading,
			content_text 		= @content_text, 
			help_order 		= @help_order,
			approved_flag 		= @approved_flag
		WHERE help_doc_id 		= @help_doc_id
END
ELSE
BEGIN
	INSERT shlp_help_doc
			(parent_help_doc_id, 	type_id, 	internal_heading, 	display_heading, 
			content_text, 		help_order, 	approved_flag)
		VALUES
			(@parent_help_doc_id, 	@type_id, 	@internal_heading, 	@display_heading, 
			@content_text, 		@help_order, 	@approved_flag)
	SELECT @help_doc_id = @@IDENTITY
END

SELECT @help_doc_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

