SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_sadm_partner_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_sadm_partner_save]
GO


CREATE PROCEDURE usp_sadm_partner_save
	(@partner_id int,
	@partner_name varchar(255))
AS

IF EXISTS (SELECT partner_id FROM sadm_partner WHERE partner_id = @partner_id)
BEGIN
	UPDATE sadm_partner
		SET partner_name = @partner_name
		WHERE partner_id = @partner_id
END
ELSE
BEGIN
	INSERT sadm_partner (partner_name)
		VALUES (@partner_name)
	SELECT @partner_id = @@identity
END

SELECT @partner_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

