SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_shlp_faq_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_shlp_faq_save]
GO



CREATE PROCEDURE dbo.usp_shlp_faq_save
	(@faq_id 		int, 
	@parent_faq_id 		int, 
	@type_id 		int, 
	@display_heading 	varchar(500), 
	@ask_question 		varchar(500), 
	@given_answer 	varchar(6000), 
	@britemoon_process 	varchar(8000), 
	@faq_order 		int,
	@approved_flag 	bit)
AS

IF EXISTS (SELECT * FROM shlp_faq WHERE faq_id = @faq_id)
BEGIN
	UPDATE shlp_faq
		SET	parent_faq_id 		= @parent_faq_id, 
			type_id 			= @type_id,
			display_heading 		= @display_heading,
			ask_question 		= @ask_question,
			given_answer 		= @given_answer,
			britemoon_process 	= RTRIM(@britemoon_process),
			faq_order 		= @faq_order,
			approved_flag 		= @approved_flag
		WHERE faq_id 			= @faq_id
END
ELSE
BEGIN
	INSERT shlp_faq
			(parent_faq_id, 		type_id, 			display_heading, 	ask_question, 
			given_answer, 		britemoon_process, 		faq_order, 		approved_flag)
		VALUES
			(@parent_faq_id, 	@type_id, 			@display_heading, 	@ask_question, 
			@given_answer, 	RTRIM(@britemoon_process), 	@faq_order, 		@approved_flag)
	SELECT @faq_id = @@IDENTITY
END

SELECT @faq_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

