SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_sadm_attribute_save_2]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_sadm_attribute_save_2]
GO


CREATE PROCEDURE usp_sadm_attribute_save_2
(
	@attr_id int = NULL OUTPUT,
	@cust_id int = NULL,
	@attr_name varchar(255) = NULL,
	@type_id int = NULL,
	@scope_id int = NULL,
	@descrip varchar(255) = NULL,
	@value_qty int = NULL,
	@internal_flag int = NULL
)
AS

IF NOT EXISTS (SELECT TOP 1 * FROM sadm_attribute WHERE (attr_id = @attr_id))
BEGIN

	IF EXISTS (SELECT attr_id FROM sadm_attribute WHERE attr_name = @attr_name AND cust_id = 0)
	BEGIN
		RAISERROR('Attribute with the same name already exists in the customer family',16,1)
		RETURN
	END

	IF EXISTS (SELECT attr_id FROM sadm_attribute WHERE attr_name = @attr_name)
	BEGIN
		DECLARE @level_id int
		SET @level_id = 0
		CREATE TABLE #cust_family (cust_id int, level_id int)

		INSERT #cust_family(cust_id, level_id) VALUES (@cust_id, @level_id)

		WHILE(@@rowcount > 0)
		BEGIN
			SET @level_id = @level_id + 1
			INSERT #cust_family(cust_id, level_id)
				SELECT parent_cust_id, @level_id
					FROM sadm_customer
					WHERE
						( parent_cust_id != 0 ) AND
						( cust_id IN (SELECT cust_id FROM #cust_family WHERE level_id = @level_id -1))
		END

		UPDATE #cust_family SET level_id = @level_id

		WHILE(@@rowcount > 0)
		BEGIN
			SET @level_id = @level_id + 1
			INSERT #cust_family(cust_id, level_id)
				SELECT cust_id, @level_id
					FROM sadm_customer
					WHERE
						( cust_id != 0 ) AND
						( parent_cust_id IN (SELECT cust_id FROM #cust_family WHERE level_id = @level_id -1))
		END

		IF EXISTS (SELECT attr_id FROM sadm_attribute, #cust_family WHERE attr_name = @attr_name AND sadm_attribute.cust_id = #cust_family.cust_id )
		BEGIN
			RAISERROR('Attribute with the same name already exists in the customer family',16,1)
			RETURN
		END
	END

	--- === === === ---

	INSERT sadm_attr_seq (empty) VALUES (0)
	SELECT @attr_id = @@identity
	DELETE sadm_attr_seq

	INSERT sadm_attribute
		(
			attr_id,
			cust_id,
			attr_name,
			type_id,
			scope_id,
			descrip,
			value_qty,
			internal_flag
		)
		VALUES
		(
			@attr_id,
			@cust_id,
			@attr_name,
			@type_id,
			ISNULL(@scope_id,300),
			@descrip,
			@value_qty,
			@internal_flag
		)

END
ELSE
BEGIN
	UPDATE sadm_attribute
		SET
			cust_id = @cust_id,
			--attr_name = @attr_name,
			type_id = @type_id,
			scope_id = ISNULL(@scope_id,300),
			descrip = @descrip,
			value_qty = @value_qty,
			internal_flag = @internal_flag
		WHERE
			(attr_id = @attr_id)
END

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

