SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_sadm_system_note_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_sadm_system_note_save]
GO


CREATE PROCEDURE usp_sadm_system_note_save
(
	@note_id int=null,
	@subject varchar(255)=null,
	@body image=null,
	@published int=0
)
AS

DECLARE @new_note_id int
SET @new_note_id = @note_id

IF EXISTS (SELECT TOP 1 * FROM sadm_system_note WHERE note_id = @note_id)
BEGIN
	UPDATE sadm_system_note
		SET
			subject = @subject,
			body = @body,
			published = @published,
			modify_date = getDate()
		WHERE
			(note_id = @note_id)
END
ELSE
BEGIN
	INSERT sadm_system_note
		(
			subject,
                                        body,
                                        published,
                                        modify_date
		)
		VALUES
		(
			@subject,
                                        @body,
                                        0,
                                        getDate()
		)

	SET @new_note_id = @@Identity
END

SELECT @new_note_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

