SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_sadm_system_user_retrieve]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_sadm_system_user_retrieve]
GO


CREATE PROCEDURE usp_sadm_system_user_retrieve
	(@system_user_id int = NULL,
	@username varchar(255) = NULL,
	@password  varchar(255) = NULL,
	@partner_id int = NULL)
AS

IF ((@system_user_id IS NULL) AND (@username IS NULL)) RETURN

SELECT 
		system_user_id,
		partner_id,
		first_name,
		last_name,
		email_address,
		phone,
		username,
		password,
		status_id
	FROM sadm_system_user
	WHERE
		((system_user_id = @system_user_id) OR (@system_user_id IS NULL))
		AND
		((username = @username) OR (@username IS NULL))
		AND
		((password = @password) OR (@password IS NULL))
		AND
		((partner_id = @partner_id) OR (@partner_id IS NULL))

IF (@@rowcount > 1) RAISERROR ('Too many users with the same login or id.', 16, 1)
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

