SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_sadm_attr_4_feature_create]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_sadm_attr_4_feature_create]
GO


CREATE PROCEDURE usp_sadm_attr_4_feature_create
(
	@cust_id int = NULL,
	@attr_name varchar(255) = NULL,
	@display_name varchar(255) = NULL
)
AS

IF EXISTS (SELECT TOP 1 a.attr_id FROM sadm_attribute a WHERE a.cust_id = @cust_id  AND a.attr_name = @attr_name) RETURN
IF EXISTS (SELECT TOP 1 a.attr_id FROM sadm_attribute a, sadm_cust_attr ca WHERE ca.cust_id = @cust_id AND a.attr_id = ca.attr_id AND a.attr_name = @attr_name) RETURN

--- === attribute === ---

DECLARE @type_id int
DECLARE @scope_id int
DECLARE @descrip varchar(255)
DECLARE @value_qty int
DECLARE @internal_flag int

SET @type_id = 20
SET @scope_id = 300
SET @descrip = NULL
SET @value_qty = NULL
SET @internal_flag = NULL

--- === cust_attr === ---

DECLARE @display_seq int
DECLARE @fingerprint_seq int
DECLARE @sync_flag int
DECLARE @hist_flag int
DECLARE @newsletter_flag varchar(255)

SET @display_seq = 100
SET @fingerprint_seq = NULL
SET @sync_flag = 1
SET @hist_flag = NULL
SET @newsletter_flag = NULL

--- === === === ---

DECLARE @attr_id int

EXEC usp_sadm_attribute_save_2 @attr_id OUTPUT, @cust_id, @attr_name, @type_id, @scope_id, @descrip, @value_qty, @internal_flag
EXEC usp_sadm_cust_attr_save @cust_id, @attr_id, @display_name, @display_seq, @fingerprint_seq, @sync_flag, @hist_flag, @newsletter_flag


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

