SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_sntt_entity_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_sntt_entity_save]
GO


CREATE PROCEDURE usp_sntt_entity_save
(
	@entity_id int = NULL,
	@cust_id int = NULL,
	@entity_name varchar(255)  = NULL,
	@scope_id int = NULL
)
AS

SET @entity_name = LOWER(@entity_name)
SET @entity_name = REPLACE(@entity_name, ' ', '_')

IF EXISTS (SELECT TOP 1 * FROM sntt_entity WHERE (entity_id = @entity_id))
BEGIN
	UPDATE sntt_entity
		SET
			cust_id = @cust_id,
			entity_name = @entity_name,
			scope_id = @scope_id
		WHERE
			(entity_id = @entity_id)
END
ELSE
BEGIN
	INSERT sntt_entity
		(
			cust_id,
			entity_name,
			scope_id
		)
		VALUES
		(
			@cust_id,
			@entity_name,
			@scope_id
		)

	SET @entity_id = @@identity

	DECLARE @attr_name varchar(255)
	SET @attr_name = @entity_name + '_id'

	EXEC usp_sntt_entity_attr_save_2
		@attr_id = NULL,
		@entity_id = @entity_id,
		@type_id = 10, -- INTEGER
		@attr_name = @attr_name,
		@scope_id = 0, -- SYSTEM INTERNAL
		@internal_id_flag = 1,
		@fingerprint_seq = NULL

	EXEC usp_sntt_entity_attr_save_2
		@attr_id = NULL,
		@entity_id = @entity_id,
		@type_id = 1000, -- recipient
		@attr_name =  'recipient',
		@scope_id = 300, -- PUBLIC
		@internal_id_flag = NULL,
		@fingerprint_seq = NULL

END

SELECT @entity_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

