SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_sadm_customer_delete]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_sadm_customer_delete]
GO


CREATE PROCEDURE usp_sadm_customer_delete
(
	@cust_id int = NULL
)
AS

IF ISNULL(@cust_id,0) = 0 RETURN

DELETE scps_unsub_msg WHERE cust_id = @cust_id
DELETE sadm_attr_calc_props WHERE cust_id = @cust_id
DELETE sadm_cust_attr WHERE cust_id = @cust_id
DELETE sadm_attribute WHERE cust_id = @cust_id
DELETE sadm_cust_feature WHERE cust_id = @cust_id
DELETE sadm_vanity_domain WHERE cust_id = @cust_id
DELETE sadm_cust_mod_inst_service WHERE cust_id = @cust_id
DELETE sadm_cust_mod_inst WHERE cust_id = @cust_id
DELETE scps_from_address WHERE cust_id = @cust_id
DELETE scps_cust_ui_settings WHERE cust_id = @cust_id
DELETE sadm_cust_addr WHERE cust_id = @cust_id
DELETE sadm_cust_unique_id WHERE cust_id = @cust_id
DELETE sadm_cust_send_param WHERE cust_id = @cust_id
DELETE sadm_cust_partner WHERE cust_id = @cust_id
DELETE sadm_cust_plan WHERE cust_id = @cust_id

DELETE scps_user_ui_settings WHERE user_id in 
	(SELECT user_id FROM scps_user WHERE cust_id = @cust_id)

DELETE scps_access_mask WHERE user_id in 
	(SELECT user_id FROM scps_user WHERE cust_id = @cust_id)

DELETE scps_user WHERE cust_id = @cust_id

DELETE scnt_img_cust_file_extension WHERE cust_id = @cust_id
DELETE scnt_img_cust_refresh_info WHERE cust_id = @cust_id
DELETE scps_aprvl_cust WHERE cust_id = @cust_id

DELETE sadm_customer WHERE cust_id = @cust_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

