SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_sntt_entity_attr_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_sntt_entity_attr_save]
GO


CREATE PROCEDURE usp_sntt_entity_attr_save
(
	@attr_id int = NULL,
	@entity_id int = NULL,
	@type_id int = NULL,
	@attr_name varchar(255) = NULL,
	@scope_id int = NULL,
	@internal_id_flag int = NULL,
	@fingerprint_seq int = NULL
)
AS

EXEC usp_sntt_entity_attr_save_2
	@attr_id OUTPUT,
	@entity_id ,
	@type_id,
	@attr_name,
	@scope_id,
	@internal_id_flag,
	@fingerprint_seq

SELECT @attr_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

