SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_sadm_vanity_domain_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_sadm_vanity_domain_save]
GO


CREATE PROCEDURE usp_sadm_vanity_domain_save
(
	@domain_id int = NULL,
	@cust_id int = NULL,
	@domain varchar(255) = NULL,
	@mod_inst_id int = NULL
)

AS

SET @domain = LTRIM(RTRIM(@domain))
IF (@domain = '') OR (@domain IS NULL)
BEGIN
	DELETE sadm_vanity_domain WHERE domain_id = @domain_id
END
ELSE
BEGIN
	IF EXISTS (SELECT domain_id FROM sadm_vanity_domain WHERE domain_id = @domain_id)
	BEGIN
		UPDATE sadm_vanity_domain
			SET
				cust_id = @cust_id,
				mod_inst_id = @mod_inst_id,
				domain = @domain
			WHERE
				domain_id = @domain_id
	END
	ELSE
	BEGIN
		INSERT sadm_vanity_domain
				(cust_id,
				mod_inst_id,
				domain)
			VALUES
				(@cust_id,
				@mod_inst_id,
				@domain)

		SELECT @domain_id = @@identity
	END
END

SELECT @domain_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

