SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_sadm_maintenance]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_sadm_maintenance]
GO


CREATE PROCEDURE usp_sadm_maintenance WITH RECOMPILE
AS

DECLARE @db_name nvarchar(128)

DECLARE brite_databases CURSOR FAST_FORWARD FOR
	SELECT name
		FROM master.dbo.sysdatabases 
		WHERE name like 'brite%'

OPEN brite_databases

FETCH NEXT FROM brite_databases INTO @db_name

WHILE @@FETCH_STATUS = 0
BEGIN
	BACKUP LOG @db_name WITH NO_LOG
	FETCH NEXT FROM brite_databases INTO @db_name
END

CLOSE brite_databases
DEALLOCATE brite_databases

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

