SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_shlp_support_ticket_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_shlp_support_ticket_save]
GO


CREATE PROCEDURE dbo.usp_shlp_support_ticket_save
	(@ticket_id 		int,
	@cust_id 		int, 
	@user_id 		int, 
	@subject 		varchar(500), 
	@original_issue 		varchar(8000), 
	@further_info 		varchar(8000))
AS

IF EXISTS (SELECT * FROM shlp_support_ticket WHERE ticket_id = @ticket_id)
BEGIN
	DECLARE @origin_date datetime
	SELECT @origin_date = create_date FROM shlp_support_ticket WHERE ticket_id = @ticket_id

	INSERT shlp_support_ticket
			(origin_ticket_id, 	cust_id, 	[user_id], 	subject, 
			original_issue, 		further_info, 	create_date, 	status_id)
		VALUES
			(@ticket_id, 		@cust_id, 	@user_id, 	@subject, 
			@original_issue, 	@further_info, 	@origin_date, 	0)
	
	SELECT @ticket_id
END
ELSE
BEGIN
	INSERT shlp_support_ticket
			(cust_id, 	[user_id], 	subject, 	status_id, 
			original_issue, 	further_info, 	create_date)
		VALUES
			(@cust_id, 	@user_id, 	@subject, 	0, 
			@original_issue, @further_info, 	GETDATE())

	SELECT @@IDENTITY
END

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

