SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_sadm_machine_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_sadm_machine_save]
GO


CREATE PROCEDURE usp_sadm_machine_save
	(@machine_id int,
	@machine_name varchar(255),
	@ip_address varchar(255))
AS

IF EXISTS (SELECT machine_id FROM sadm_machine WHERE machine_id = @machine_id)
BEGIN
	UPDATE sadm_machine
		SET
			machine_name = @machine_name,
			ip_address = @ip_address
		WHERE
			 machine_id = @machine_id
END
ELSE
BEGIN
	INSERT sadm_machine
			(machine_name,
			ip_address)
		VALUES
			(@machine_name,
			@ip_address)

	SELECT @machine_id = @@identity
END

SELECT @machine_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

