SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_sadm_attr_calc_props_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_sadm_attr_calc_props_save]
GO


CREATE PROCEDURE usp_sadm_attr_calc_props_save
(
	@cust_id int = NULL,
	@attr_id int = NULL,
	@calc_values_flag int = NULL,
	@last_calc_date datetime = NULL
)
AS

IF EXISTS (SELECT TOP 1 * FROM sadm_attr_calc_props WHERE (cust_id = @cust_id) AND (attr_id = @attr_id))
BEGIN
	UPDATE sadm_attr_calc_props
		SET
			calc_values_flag = @calc_values_flag,
			last_calc_date = @last_calc_date
		WHERE
			(cust_id = @cust_id) AND
			(attr_id = @attr_id)
END
ELSE
BEGIN
	INSERT sadm_attr_calc_props
		(
			cust_id,
			attr_id,
			calc_values_flag,
			last_calc_date
		)
		VALUES
		(
			@cust_id,
			@attr_id,
			@calc_values_flag,
			@last_calc_date
		)
END

SELECT @cust_id, @attr_id


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

