SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_sadm_cust_addr_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_sadm_cust_addr_save]
GO


CREATE PROCEDURE usp_sadm_cust_addr_save
(
	@cust_id int = NULL,
	@state varchar(255) = NULL,
	@address1 varchar(255) = NULL,
	@address2 varchar(255) = NULL,
	@city varchar(255) = NULL,
	@country varchar(255) = NULL,
	@zip varchar(255) = NULL,
	@phone varchar(255) = NULL,
	@fax varchar(255) = NULL
)
AS

IF EXISTS (SELECT TOP 1 * FROM sadm_cust_addr WHERE (cust_id = @cust_id))
BEGIN
	UPDATE sadm_cust_addr
		SET
			state = @state,
			address1 = @address1,
			address2 = @address2,
			city = @city,
			country = @country,
			zip = @zip,
			phone = @phone,
			fax = @fax
		WHERE
			(cust_id = @cust_id)
END
ELSE
BEGIN
	INSERT sadm_cust_addr
		(
			cust_id,
			state,
			address1,
			address2,
			city,
			country,
			zip,
			phone,
			fax
		)
		VALUES
		(
			@cust_id,
			@state,
			@address1,
			@address2,
			@city,
			@country,
			@zip,
			@phone,
			@fax
		)
END

SELECT @cust_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

