SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_sadm_cust_feature_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_sadm_cust_feature_save]
GO


CREATE PROCEDURE usp_sadm_cust_feature_save
(
	@cust_id int = NULL,
	@feature_id int = NULL
)
AS


IF NOT EXISTS (SELECT TOP 1 * FROM sadm_cust_feature WHERE (cust_id = @cust_id) AND (feature_id = @feature_id))
BEGIN
	INSERT sadm_cust_feature
		(
			cust_id,
			feature_id
		)
		VALUES
		(
			@cust_id,
			@feature_id
		)

	IF ( @feature_id = 10 )
	BEGIN
		EXEC usp_sadm_attr_4_feature_create @cust_id, 'recip_sync_flag', 'Recipient Sync Flag'

	END

	IF ( @feature_id = 30 )
	BEGIN
		EXEC usp_sadm_attr_4_feature_create @cust_id, 'recip_sync_flag', 'Recipient Sync Flag'

		EXEC usp_sadm_attr_4_feature_create @cust_id, 'ownerid', 'Owner ID'
		EXEC usp_sadm_attr_4_feature_create @cust_id, 'crmid', 'crmid'
		EXEC usp_sadm_attr_4_feature_create @cust_id, 'crm_typeid', 'crm_typeid'
		EXEC usp_sadm_attr_4_feature_create @cust_id, 'accountid', 'accountid'
		EXEC usp_sadm_attr_4_feature_create @cust_id, 'lead_topic', 'lead_topic'
		EXEC usp_sadm_attr_4_feature_create @cust_id, 'owner_email', 'owner_email'
		EXEC usp_sadm_attr_4_feature_create @cust_id, 'owner_firstname', 'owner_firstname'
		EXEC usp_sadm_attr_4_feature_create @cust_id, 'owner_fullname', 'owner_fullname'
		EXEC usp_sadm_attr_4_feature_create @cust_id, 'owner_lastname', 'owner_lastname'
		EXEC usp_sadm_attr_4_feature_create @cust_id, 'owner_phone', 'owner_phone'
	END
END

SELECT @cust_id, @feature_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

