SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_sadm_customer_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_sadm_customer_save]
GO

CREATE PROCEDURE usp_sadm_customer_save
(
	@cust_id int = NULL,
	@cust_name varchar(255) = NULL,
	@level_id int = NULL,
	@login_name varchar(255) = NULL,
	@status_id int = NULL,
	@max_bbacks int = NULL,
	@descrip varchar(255) = NULL,
	@parent_cust_id int = NULL,
	@upd_rule_id int = NULL,
	@upd_hierarchy_id int = NULL,
	@unsub_hierarchy_id int = NULL,
	@auto_report_flag int = NULL,
	@max_bback_days int = NULL,
	@pass_expire_interval int = NULL,
	@pass_notify_days int = NULL,
	@cti_group_id varchar(255) = NULL
)
AS

DECLARE @prev_parent_cust_id int

IF ( @cust_id IS NOT NULL )
BEGIN
	SELECT @prev_parent_cust_id = parent_cust_id  FROM sadm_customer WHERE (cust_id = @cust_id)

	IF (@prev_parent_cust_id != @parent_cust_id)
	BEGIN
		IF EXISTS (SELECT TOP 1 * FROM sadm_cust_attr WHERE (cust_id = @cust_id) AND (fingerprint_seq IS NOT NULL))
		BEGIN
			RAISERROR ('Changing parent is not permitted due to possible fingerprint ussues.', 16, 1)
			RETURN
		END
	END
END

IF EXISTS (SELECT TOP 1 * FROM sadm_customer WHERE (cust_id = @cust_id))
BEGIN
	UPDATE sadm_customer
		SET
			cust_name = @cust_name,
			level_id = @level_id,
			login_name = @login_name,
			status_id = @status_id,
			max_bbacks = @max_bbacks,
			descrip = @descrip,
			parent_cust_id = @parent_cust_id,
			upd_rule_id = @upd_rule_id,
			upd_hierarchy_id = @upd_hierarchy_id,
			unsub_hierarchy_id = @unsub_hierarchy_id,
			auto_report_flag = @auto_report_flag,
			max_bback_days = @max_bback_days,
			pass_expire_interval = @pass_expire_interval,
			pass_notify_days = @pass_notify_days,
			cti_group_id = @cti_group_id
		WHERE
			(cust_id = @cust_id)
END
ELSE
BEGIN
	SET @prev_parent_cust_id = 0

	INSERT sadm_customer
		(
			cust_name,
			level_id,
			login_name,
			status_id,
			max_bbacks,
			descrip,
			parent_cust_id,
			upd_rule_id,
			upd_hierarchy_id,
			unsub_hierarchy_id,
			auto_report_flag,
			max_bback_days,
			pass_expire_interval,
			pass_notify_days,
			cti_group_id
		)
		VALUES
		(
			@cust_name,
			@level_id,
			@login_name,
			@status_id,
			@max_bbacks,
			@descrip,
			@parent_cust_id,
			@upd_rule_id,
			@upd_hierarchy_id,
			@unsub_hierarchy_id,
			@auto_report_flag,
			@max_bback_days,
			@pass_expire_interval,
			@pass_notify_days,
			@cti_group_id
		)

	SET @cust_id = @@identity

	INSERT sadm_cust_attr
			(cust_id,
			attr_id,
			display_name,
			display_seq,
			fingerprint_seq)
		SELECT 
				@cust_id,
				attr_id,
				display_name,
				display_seq,
				fingerprint_seq
			FROM sadm_cust_attr
			WHERE cust_id = 0

	INSERT sadm_cust_feature(cust_id, feature_id)
		SELECT @cust_id, feature_id
			FROM sadm_cust_feature
			WHERE cust_id = 0
END

IF (@prev_parent_cust_id != @parent_cust_id)
BEGIN
	UPDATE sadm_cust_attr
		SET sadm_cust_attr.fingerprint_seq = ca.fingerprint_seq
		FROM
			sadm_cust_attr,
			sadm_cust_attr ca
		WHERE
			sadm_cust_attr.cust_id = @cust_id AND
			sadm_cust_attr.attr_id = ca.attr_id AND
			ca.cust_id = @parent_cust_id AND
			ca.fingerprint_seq IS NOT NULL

	INSERT sadm_cust_attr
			(cust_id,
			attr_id,
			display_name,
			display_seq,
			fingerprint_seq)
		SELECT 
				@cust_id,
				attr_id,
				display_name,
				display_seq,
				fingerprint_seq
			FROM sadm_cust_attr
			WHERE
				cust_id = @parent_cust_id AND
				fingerprint_seq IS NOT NULL AND
				attr_id NOT IN ( SELECT attr_id FROM sadm_cust_attr WHERE cust_id = @cust_id )
END

SELECT @cust_id
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

