SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_sadm_bill_calc]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_sadm_bill_calc]
GO


CREATE PROCEDURE usp_sadm_bill_calc
(
	@cust_id int = null,
	@sent int = null,
	@extra int = null
)
AS

DECLARE @period_cost money
SET @period_cost = 0.00
DECLARE @extra_cost money
SET @extra_cost = 0.00

DECLARE @plan_id int
DECLARE @plan_term int
DECLARE @plan_volume int
DECLARE @plan_term_start_date datetime

DECLARE @cc_each int
DECLARE @cc_volume int
DECLARE @cc_extra int 

SELECT TOP 1
	@plan_id = plan_id,
	@plan_term = term,
	@plan_volume = volume,
	@plan_term_start_date = term_start_date
FROM sadm_cust_plan 
WHERE cust_id = @cust_id

-- Britemoon Plan A
IF ( @plan_id = 1 )
BEGIN
   SELECT TOP 1
              @cc_each = cc_each
   FROM sadm_rate
   WHERE plan_id = @plan_id
         AND @sent <= volume 
  ORDER BY volume ASC
  SET @period_cost = @sent * @cc_each / 10000.0
END

-- Britemoon Plan B
IF ( @plan_id = 2 )
BEGIN
   SELECT TOP 1
              @cc_each = cc_each,
              @cc_extra = cc_extra
   FROM sadm_rate
   WHERE plan_id = @plan_id
         AND  @plan_volume <= volume
  ORDER BY volume ASC
  SET @period_cost = (@plan_volume* @cc_each)  / 10000.0
  SET @extra_cost = (@extra * @cc_extra)  / 10000.0
END

-- MSCRM 
IF ( @plan_id = 3 )
BEGIN
   SELECT TOP 1
              @cc_volume = cc_volume,
              @cc_extra = cc_extra
   FROM sadm_rate
   WHERE plan_id = @plan_id
         AND  @plan_volume <= volume
  ORDER BY volume ASC
  SET @period_cost = @cc_volume  / 10000.0
  SET @extra_cost = (@extra * @cc_extra)  / 10000.0
END

IF (@plan_id > 0) 
SELECT cast(@period_cost as varchar(25)), cast(@extra_cost as varchar(25))
ELSE
SELECT 'not calculated', 'not calculated'

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

