SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_simc_services_get]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_simc_services_get]
GO


CREATE PROCEDURE usp_simc_services_get
	(@service_type_id int,
	@mod_inst_id int,
	@cust_id int)
	AS

CREATE TABLE #tmp
	(n int identity,
	type_id int NULL,
	mod_inst_id int NULL,
	cust_id int NULL,
	protocol varchar(8) NULL,
	host  varchar(255) NULL,
	port int NULL,
	path varchar(255) NULL)

INSERT INTO #tmp
		(type_id,
		mod_inst_id,
		cust_id,
		protocol,
		host,
		port,
		path)
	SELECT
			cmis.service_type_id,
			cmis.mod_inst_id,
			cmis.cust_id,
			cmis.protocol,
			host = m.ip_address,
			cmis.port,
			cmis.path
		FROM
			sadm_cust_mod_inst_service cmis WITH (NOLOCK),
			sadm_mod_inst mi WITH (NOLOCK),
			sadm_machine m WITH (NOLOCK)
		WHERE
			( cmis.service_type_id = @service_type_id) AND
			( ( cmis.mod_inst_id = @mod_inst_id ) OR ( @mod_inst_id IS NULL ) ) AND
			( ( cmis.cust_id = @cust_id ) OR ( @cust_id IS NULL ) ) AND
			( mi.mod_inst_id = cmis.mod_inst_id ) AND
			( m.machine_id = mi.machine_id )
		ORDER BY
			cmis.cust_id,
			cmis.mod_inst_id


INSERT INTO #tmp
		(type_id,
		mod_inst_id,
		cust_id,
		protocol,
		host,
		port,
		path)
	SELECT
			mis.service_type_id,
			mis.mod_inst_id,
			NULL,
			mis.protocol,
			host = m.ip_address,
			mis.port,
			mis.path
		FROM
			sadm_cust_mod_inst cmi WITH (NOLOCK),
			sadm_mod_inst mi WITH (NOLOCK),
			sadm_mod_inst_service mis WITH (NOLOCK),
			sadm_machine m WITH (NOLOCK)
		WHERE
			( mis.service_type_id = @service_type_id ) AND
			( mis.mod_inst_id = cmi.mod_inst_id ) AND
			( ( cmi.mod_inst_id = @mod_inst_id ) OR ( @mod_inst_id IS NULL ) ) AND
			( ( cmi.cust_id = @cust_id ) OR ( @cust_id IS NULL ) ) AND
			( mi.mod_inst_id = cmi.mod_inst_id ) AND
			( m.machine_id = mi.machine_id )
		ORDER BY
			cmi.cust_id,
			cmi.mod_inst_id

SELECT
		type_id,
		mod_inst_id,
		cust_id,
		protocol,
		host,
		port,
		path,
		MIN(n)
	FROM #tmp
	GROUP BY
		type_id,
		mod_inst_id,
		cust_id,
		protocol,
		host,
		port,
		path
	ORDER BY MIN(n)

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

