SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_sadm_system_note_list_get]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_sadm_system_note_list_get]
GO


CREATE PROCEDURE usp_sadm_system_note_list_get
(
	@exclude_id	int
)
AS


SELECT
	n.note_id, 
	n.subject, 
             CONVERT(VARCHAR(32), n.modify_date, 100) as 'modify_date_txt', 
             n.published
FROM	sadm_system_note n
WHERE(n.note_id != @exclude_id)
ORDER BY
	n.modify_date DESC

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

