SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_sadm_attribute_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_sadm_attribute_save]
GO


CREATE PROCEDURE usp_sadm_attribute_save
(
	@attr_id int = NULL,
	@cust_id int = NULL,
	@attr_name varchar(255) = NULL,
	@type_id int = NULL,
	@scope_id int = NULL,
	@descrip varchar(255) = NULL,
	@value_qty int = NULL,
	@internal_flag int = NULL
)
AS

EXEC usp_sadm_attribute_save_2
	@attr_id OUTPUT,
	@cust_id,
	@attr_name,
	@type_id,
	@scope_id,
	@descrip,
	@value_qty,
	@internal_flag

SELECT @attr_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

