SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_shlp_support_ticket_get]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_shlp_support_ticket_get]
GO


CREATE PROCEDURE dbo.usp_shlp_support_ticket_get
	(@origin_ticket_id 	int)
AS

DECLARE @get_ticket_id int

SELECT 
	@get_ticket_id = max(ticket_id)
FROM 
	shlp_support_ticket with(nolock)
WHERE 
	origin_ticket_id = @origin_ticket_id

IF @get_ticket_id IS NULL
BEGIN
	SELECT @get_ticket_id = @origin_ticket_id
END

SELECT s.ticket_id, 
	s.cust_id, 
	c.cust_name, 
	s.user_id, 
	u.user_name + ' ' + u.last_name as 'user_name', 
	s.status_id, 
	st.display_name, 
	s.level_id, 
	s.source_id, 
	s.subject, 
	s.original_issue, 
	s.further_info, 
	s.support_diary, 
	s.issue_type, 
	s.resolution_time, 
	s.resolution_what, 
	s.resolution_solve, 
	s.resolution_prevent, 
	s.create_date, 
	CONVERT(varchar(100), s.create_date, 100) as 'create_date_txt', 
	s.modify_date, 
	CONVERT(varchar(100), s.modify_date, 100) as 'modify_date_txt'
FROM shlp_support_ticket s with(nolock)
LEFT OUTER JOIN sadm_customer c ON s.cust_id = c.cust_id
LEFT OUTER JOIN scps_user u ON s.user_id = u.user_id
LEFT OUTER JOIN shlp_support_status st ON s.status_id = st.status_id
WHERE s.ticket_id = @get_ticket_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

