SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_scps_cust_ui_settings_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_scps_cust_ui_settings_save]
GO


CREATE PROCEDURE usp_scps_cust_ui_settings_save
(
	@cust_id int = NULL,
	@css_filename varchar(255) = NULL,
	@frame_dir varchar(255) = NULL,
	@config_file varchar(255) = NULL
)
AS

IF EXISTS (SELECT TOP 1 * FROM scps_cust_ui_settings WHERE (cust_id = @cust_id))
BEGIN
	UPDATE scps_cust_ui_settings
		SET
			css_filename = @css_filename,
			frame_dir = @frame_dir,
			config_file = @config_file
		WHERE
			(cust_id = @cust_id)
END
ELSE
BEGIN
	INSERT scps_cust_ui_settings
		(
			cust_id,
			css_filename,
			frame_dir,
			config_file
		)
		VALUES
		(
			@cust_id,
			@css_filename,
			@frame_dir,
			@config_file
		)
END

SELECT @cust_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

