SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_sadm_cust_mod_inst_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_sadm_cust_mod_inst_save]
GO


CREATE PROCEDURE usp_sadm_cust_mod_inst_save
	(@cust_id int,
	@mod_inst_id int)
AS

IF NOT EXISTS (SELECT cust_id, mod_inst_id FROM sadm_cust_mod_inst WHERE cust_id = @cust_id AND mod_inst_id = @mod_inst_id)
BEGIN
	INSERT  sadm_cust_mod_inst
			(cust_id,
			mod_inst_id)
		VALUES
			(@cust_id,
			@mod_inst_id)
END

SELECT @cust_id, @mod_inst_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

