SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_sadm_cust_attr_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_sadm_cust_attr_save]
GO


CREATE PROCEDURE usp_sadm_cust_attr_save
(
	@cust_id int = NULL,
	@attr_id int = NULL,
	@display_name varchar(255) = NULL,
	@display_seq int = NULL,
	@fingerprint_seq int = NULL,
	@sync_flag int = NULL,
	@hist_flag int = NULL,
	@newsletter_flag varchar(255) = NULL,
	@recip_view_seq int = NULL
)
AS

IF EXISTS (SELECT TOP 1 * FROM sadm_cust_attr WHERE (cust_id = @cust_id) AND (attr_id = @attr_id))
BEGIN
	UPDATE sadm_cust_attr
		SET
			display_name = @display_name,
			display_seq = @display_seq,
			fingerprint_seq = @fingerprint_seq,
			sync_flag = @sync_flag,
			hist_flag = @hist_flag,
			newsletter_flag = @newsletter_flag,
			recip_view_seq = @recip_view_seq
		WHERE
			(cust_id = @cust_id) AND
			(attr_id = @attr_id)
END
ELSE
BEGIN
	INSERT sadm_cust_attr
		(
			cust_id,
			attr_id,
			display_name,
			display_seq,
			fingerprint_seq,
			sync_flag,
			hist_flag,
			newsletter_flag,
			recip_view_seq
		)
		VALUES
		(
			@cust_id,
			@attr_id,
			@display_name,
			@display_seq,
			@fingerprint_seq,
			@sync_flag,
			@hist_flag,
			@newsletter_flag,
			@recip_view_seq
		)
END

/*
IF (@fingerprint_seq IS NOT NULL)
BEGIN
	DECLARE @parent_cust_id int
	SELECT @parent_cust_id FROM sadm_customer WHERE @cust_id = @cust_id

	IF (@parent_cust_id = 0)
	BEGIN
		DECLARE @recipient_entity_id int
		SELECT @recipient_entity_id = entity_id FROM sntt_entity WHERE cust_id = @cust_id AND entity_name = 'recipient'

		EXEC usp_sntt_entity_pk_save_2
			@recipient_entity_id,
			@fingerprint_seq,
			@attr_id
	END
END
*/

SELECT @cust_id, @attr_id
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

