SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_sadm_cust_unique_id_reallocate]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_sadm_cust_unique_id_reallocate]
GO


CREATE PROCEDURE usp_sadm_cust_unique_id_reallocate
	(@cust_id int,
	@type_id int,
	@allocate int)
AS

IF ((ISNULL(@cust_id,0) < 1) AND  (ISNULL(@type_id,0) < 1) AND (ISNULL(@allocate,0) < 1)) RETURN

DECLARE @min_id int, @max_id int, @next_id int

BEGIN TRANSACTION T1

SELECT @min_id = MAX(max_id) FROM  sadm_cust_unique_id WHERE type_id = @type_id
SET @min_id = ISNULL(@min_id, 0) + 1
SET @max_id = @min_id + @allocate - 1
SET @next_id = @min_id

UPDATE sadm_cust_unique_id
	SET 
		min_id = @min_id,
		max_id = @max_id,
		next_id = @next_id
	WHERE
		(cust_id = @cust_id) AND
		(type_id = @type_id)

COMMIT TRANSACTION T1

--SELECT @cust_id, @type_id, @min_id, @max_id, @next_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

