SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_sadm_cust_unique_id_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_sadm_cust_unique_id_save]
GO


CREATE PROCEDURE usp_sadm_cust_unique_id_save
	(@cust_id int,
	@type_id int,
	@min_id int,
	@max_id int,
	@next_id int)
AS

IF ((@cust_id IS NULL ) OR ( @type_id IS NULL ) OR ( @min_id IS NULL ) OR ( @max_id IS NULL )) -- OR ( @next_id IS NULL ) )
BEGIN
	RAISERROR('Invalid paramerers for usp_sadm_cust_unique_id_save', 16, 1)
	RETURN
END

IF NOT EXISTS (SELECT cust_id, type_id FROM sadm_cust_unique_id WHERE cust_id = @cust_id AND type_id = @type_id)
BEGIN
	DECLARE @allocate int
	SET @allocate = @max_id - @min_id

	SET @min_id = NULL
	SELECT @min_id = MAX(max_id) FROM  sadm_cust_unique_id WHERE type_id = @type_id
	SET @min_id = ISNULL(@min_id, 0) + 1
	SET @max_id = @min_id + @allocate - 1
	SET @next_id = @min_id

	INSERT sadm_cust_unique_id
			(cust_id,
			type_id,
			min_id,
			max_id,
			next_id)
		VALUES
			(@cust_id,
			@type_id,
			@min_id,
			@max_id,
			@next_id)
END
ELSE
BEGIN
	UPDATE sadm_cust_unique_id
		SET 
			/* min_id = @min_id,
			max_id = @max_id, */
			next_id =
				CASE
					WHEN (next_id > @min_id AND next_id > @next_id) THEN next_id
					WHEN @next_id > @min_id THEN @next_id
					ELSE @min_id
				END
		WHERE
			cust_id = @cust_id AND
			type_id = @type_id
END

SELECT @cust_id, @type_id, @min_id, @max_id, @next_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

