SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_scps_user_ui_settings_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_scps_user_ui_settings_save]
GO


CREATE PROCEDURE usp_scps_user_ui_settings_save
(
	@user_id int = NULL,
	@ui_type_id int = NULL,
	@recip_view_count int = NULL,
	@default_page_size int = NULL
)
AS

IF EXISTS (SELECT TOP 1 * FROM scps_user_ui_settings WHERE (user_id = @user_id))
BEGIN
	UPDATE scps_user_ui_settings
		SET
			ui_type_id = @ui_type_id,
			recip_view_count = @recip_view_count,
			default_page_size = @default_page_size
		WHERE
			(user_id = @user_id)
END
ELSE
BEGIN
	INSERT scps_user_ui_settings
		(
			user_id,
			ui_type_id,
			recip_view_count,
			default_page_size
		)
		VALUES
		(
			@user_id,
			@ui_type_id,
			@recip_view_count,
			@default_page_size
		)
END

SELECT @user_id
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

