SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_sadm_system_access_mask_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_sadm_system_access_mask_save]
GO


CREATE PROCEDURE usp_sadm_system_access_mask_save
(
	@system_user_id int = NULL,
	@type_id int = NULL,
	@mask int = NULL
)
AS

IF EXISTS (SELECT TOP 1 * FROM sadm_system_access_mask WHERE (system_user_id = @system_user_id) AND (type_id = @type_id))
BEGIN
	UPDATE sadm_system_access_mask
		SET
			mask = @mask
		WHERE
			(system_user_id = @system_user_id) AND
			(type_id = @type_id)
END
ELSE
BEGIN
	INSERT sadm_system_access_mask
		(
			system_user_id,
			type_id,
			mask
		)
		VALUES
		(
			@system_user_id,
			@type_id,
			@mask
		)
END

SELECT @system_user_id, @type_id
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

