SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_sadm_next_id_get]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_sadm_next_id_get]
GO


CREATE PROCEDURE usp_sadm_next_id_get (@cust_id int, @type_id int, @next_id int OUTPUT, @increment int = 1)
AS

IF ( @increment < 1 ) OR ( @increment IS NULL )
BEGIN
	RAISERROR ('Invalid increment sepecified.', 16, 1)
	RETURN
END

DECLARE @min_id int
DECLARE @max_id int

BEGIN TRANSACTION T1

SELECT 
		@min_id = min_id,
		@max_id = max_id,
		@next_id = next_id
	FROM sadm_cust_unique_id WITH( ROWLOCK, XLOCK )
	WHERE ( cust_id = @cust_id ) AND ( type_id = @type_id )

SET @next_id = @next_id + 1

IF ( @next_id IS NULL )  OR ( @next_id > @max_id ) OR ( @next_id < @min_id ) 
BEGIN
	SET @next_id = NULL
	ROLLBACK TRANSACTION T1
	RAISERROR ('Next id could not be found or out of range.', 16, 1)
	RETURN
END
	
UPDATE sadm_cust_unique_id WITH( ROWLOCK, XLOCK )
	SET next_id = @next_id
	WHERE ( cust_id = @cust_id ) AND ( type_id = @type_id )

COMMIT TRANSACTION T1

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

