.b_yesil{    background-color: #84C446 !important; }
.b_turuncu{    background-color: #FAA926 !important;}
.b_mavi{    background-color: #59C8E6 !important;}
.b_mor{    background-color: #A587BE !important;}
.b_pembe{    background-color: #E66EAA !important;}
.b_turkuaz{    background-color: #90D1CE !important;}
.b_gri{    background-color: #888D90 !important;}
.c_beyaz{   color: #ffffff !important;}
.c_yesil{   color: #84C446 !important;}
.c_turuncu{ color: #FAA926 !important;}
.c_mavi{ 	color: #59C8E6 !important;}
.c_mor{     color: #A587BE !important;}
.c_pembe{   color: #E66EAA !important;}
.c_turkuaz{ color: #90D1CE !important;}
.c_gri{    color: #888D90 !important;}