SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ccps_user_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ccps_user_save]
GO


CREATE PROCEDURE usp_ccps_user_save
(
	@user_id int = NULL,
	@user_name varchar(255) = NULL,
	@last_name varchar(255) = NULL,
	@password varchar(255) = NULL,
	@cust_id int = NULL,
	@login_name varchar(255) = NULL,
	@position varchar(255) = NULL,
	@phone varchar(255) = NULL,
	@email varchar(255) = NULL,
	@descrip varchar(255) = NULL,
	@status_id int = NULL, 
	@pass_exp_date datetime = NULL, 
	@pass_notify_date datetime = NULL,
	@recip_owner int = NULL
)
AS
	
DECLARE @cur_pass varchar(255)
DECLARE @cur_exp_date datetime
SELECT @cur_pass = password, @cur_exp_date = pass_exp_date FROM ccps_user WHERE (user_id = @user_id)

DECLARE @pass_expire_interval int
SELECT @pass_expire_interval = pass_expire_interval FROM ccps_customer WHERE cust_id in (select cust_id from ccps_user where user_id = @user_id)

DECLARE @new_exp_date datetime
SELECT @new_exp_date = @cur_exp_date

IF @pass_expire_interval is not null AND @cur_pass <> @password
BEGIN
	SELECT @new_exp_date = DATEADD(d, @pass_expire_interval, GETDATE())
	SELECT @pass_notify_date = NULL
END

SELECT @pass_exp_date = @new_exp_date

IF EXISTS (SELECT TOP 1 * FROM ccps_user WHERE (user_id = @user_id))
BEGIN
	UPDATE ccps_user
		SET
			user_name = @user_name,
			last_name = @last_name,
			password = @password,
			cust_id = @cust_id,
			login_name = @login_name,
			position = @position,
			phone = @phone,
			email = @email,
			descrip = @descrip,
			status_id = @status_id,
			pass_exp_date = @pass_exp_date,
			pass_notify_date = @pass_notify_date, 
			recip_owner = @recip_owner
		WHERE
			(user_id = @user_id)
END
ELSE
BEGIN
	INSERT ccps_user
		(
			user_id,
			user_name,
			last_name,
			password,
			cust_id,
			login_name,
			position,
			phone,
			email,
			descrip,
			status_id,
			pass_exp_date,
			pass_notify_date,
			recip_owner
		)
		VALUES
		(
			@user_id,
			@user_name,
			@last_name,
			@password,
			@cust_id,
			@login_name,
			@position,
			@phone,
			@email,
			@descrip,
			@status_id,
			@pass_exp_date,
			@pass_notify_date,
			@recip_owner
		)
END

SELECT @user_id
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

