SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_cque_sampleset_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_cque_sampleset_save]
GO


CREATE PROCEDURE usp_cque_sampleset_save
(
	@sampleset_id int = NULL,
	@cust_id int = NULL,
	@sampleset_name varchar(255) = NULL,
	@subset_size int = NULL,
	@num_samples int = NULL,
	@filter_id int = NULL,
	@seed_list_id int = NULL,
	@final_camp_flag tinyint = 0,
	@from_name_flag tinyint = 0,
	@from_address_flag tinyint = 0,
	@subject_flag tinyint = 0,
	@content_flag tinyint = 0,
	@send_date_flag tinyint = 0,
	@user_id int = NULL
)
AS

IF EXISTS (SELECT TOP 1 * FROM cque_sampleset WHERE (sampleset_id = @sampleset_id))
BEGIN
	UPDATE cque_sampleset
		SET
			sampleset_name = @sampleset_name
		WHERE
			sampleset_id = @sampleset_id
END
ELSE
BEGIN
	INSERT cque_sampleset
		(
			cust_id,
			status_id,
			sampleset_name,
			subset_size,
			num_samples,
			filter_id,
			seed_list_id,
			final_camp_flag,
			from_name_flag,
			from_address_flag,
			subject_flag,
			content_flag,
			send_date_flag,
			creator,
			create_date,
			modifier,
			modify_date
		)
		VALUES
		(
			@cust_id,
			1,
			@sampleset_name,
			@subset_size,
			@num_samples,
			@filter_id,
			@seed_list_id,
			@final_camp_flag,
			@from_name_flag,
			@from_address_flag,
			@subject_flag,
			@content_flag,
			@send_date_flag,
			@user_id,
			getdate(),
			@user_id,
			getdate()
		)
	SET @sampleset_id = @@IDENTITY
END

SELECT @sampleset_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

