SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ccps_attribute_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ccps_attribute_save]
GO


CREATE PROCEDURE usp_ccps_attribute_save
(
	@attr_id int = NULL,
	@cust_id int = NULL,
	@attr_name varchar(255) = NULL,
	@type_id int = NULL,
	@scope_id int = NULL,
	@descrip varchar(255) = NULL,
	@value_qty int = NULL,
	@internal_flag int = NULL
)
AS

IF EXISTS (SELECT TOP 1 * FROM ccps_attribute WHERE (attr_id = @attr_id))
BEGIN
	UPDATE ccps_attribute
		SET
			attr_name = @attr_name,
			cust_id = @cust_id,
			type_id = @type_id,
			descrip = @descrip,
			scope_id = @scope_id,
			value_qty = @value_qty,
			internal_flag = @internal_flag
		WHERE
			(attr_id = @attr_id)
END
ELSE
BEGIN
	INSERT ccps_attribute
		(
			attr_id,
			attr_name,
			cust_id,
			type_id,
			descrip,
			scope_id,
			value_qty,
			internal_flag
		)
		VALUES
		(
			@attr_id,
			@attr_name,
			@cust_id,
			@type_id,
			@descrip,
			@scope_id,
			@value_qty,
			@internal_flag
		)
END

SELECT @attr_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

