SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_crpt_camp_forms]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_crpt_camp_forms]
GO




CREATE PROCEDURE usp_crpt_camp_forms (@camp_id int, @cache_id int = 0, @cache int=0) 
AS

SET NOCOUNT ON
CREATE TABLE #tForm (CampID int,
			FirstFormID int, 
			LastFormID int, 
			FirstFormName varchar(255),   
			LastFormName varchar(255),   
			TotalViews int,
			TotalSubmits int,
			DistinctViews int,
			DistinctSubmits int,
			MultiSubmitters int)

	IF (@cache <> 1)
		INSERT #tForm (CampID,
				FirstFormID, 
				LastFormID, 
				FirstFormName,   
				LastFormName,   
				TotalViews,
				TotalSubmits,
				DistinctViews,
				DistinctSubmits,
				MultiSubmitters)
			SELECT camp_id, 
				first_form_id, 
				last_form_id, 
				first_form_name,
				last_form_name,
				tot_first_views,
				tot_complete_submits,
				dist_first_views,
				dist_complete_submits,
				multi_submitters
			FROM crpt_camp_form
			WHERE camp_id = @camp_id
	ELSE
		INSERT #tForm (CampID,
				FirstFormID, 
				LastFormID, 
				FirstFormName,   
				LastFormName,   
				TotalViews,
				TotalSubmits,
				DistinctViews,
				DistinctSubmits,
				MultiSubmitters)
			SELECT camp_id, 
				first_form_id, 
				last_form_id, 
				first_form_name,
				last_form_name,
				tot_first_views,
				tot_complete_submits,
				dist_first_views,
				dist_complete_submits,
				multi_submitters
			FROM crpt_camp_form_cache
			WHERE camp_id = @camp_id
			AND cache_id = @cache_id

	SELECT CampID,
		FirstFormID, 
		LastFormID, 
		FirstFormName,   
		LastFormName,   
		TotalViews,
		TotalSubmits,
		DistinctViews,
		DistinctSubmits,
		MultiSubmitters,
		TotalViewSubmitPrc = CASE TotalViews WHEN 0 THEN 0
			ELSE convert(decimal(5,1), (TotalSubmits*100.0/TotalViews)) END,
		DistinctViewSubmitPrc = CASE DistinctViews WHEN 0 THEN 0
			ELSE convert(decimal(5,1), (DistinctSubmits*100.0/DistinctViews)) END
	FROM #tForm

DROP TABLE #tForm
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

