SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_chom_user_note_list_get_published]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_chom_user_note_list_get_published]
GO


CREATE PROCEDURE usp_chom_user_note_list_get_published
(
	@cust_id	int,
              @admin             int,
	@exclude_id	int
)
AS


SELECT
	n.note_id, 
	n.subject, 
	n.user_id, 
             u.user_name,
             n.modify_date, 
             CONVERT(VARCHAR(32), n.modify_date, 100) as 'modify_date_txt', 
	n.body
FROM	chom_user_note n
LEFT OUTER JOIN ccps_user u on n.user_id = u.user_id
WHERE n.cust_id = @cust_id AND
              n.admin = @admin AND
	n.published = 1 AND 
	n.note_id != @exclude_id
ORDER BY n.modify_date DESC

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

