SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ccnt_cont_body_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ccnt_cont_body_save]
GO


CREATE PROCEDURE usp_ccnt_cont_body_save
(
	@cont_id int = NULL,
	@html_part image = NULL,
	@text_part image = NULL,
	@aol_part image = NULL
)
AS

IF EXISTS (SELECT TOP 1 * FROM ccnt_cont_body WHERE (cont_id = @cont_id))
BEGIN
	UPDATE ccnt_cont_body
		SET
			html_part = @html_part,
			text_part = @text_part,
			aol_part = null --@aol_part
		WHERE
			(cont_id = @cont_id)
END
ELSE
BEGIN
	INSERT ccnt_cont_body
		(
			cont_id,
			html_part,
			text_part,
			aol_part
		)
		VALUES
		(
			@cont_id,
			@html_part,
			@text_part,
			null --@aol_part
		)
END

SELECT @cont_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

