SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ccps_cust_partner_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ccps_cust_partner_save]
GO


CREATE PROCEDURE usp_ccps_cust_partner_save
	(@cust_id int,
	@partner_id int)
AS

IF NOT EXISTS (SELECT cust_id, partner_id FROM ccps_cust_partner WHERE cust_id = @cust_id AND partner_id = @partner_id)
BEGIN
	INSERT  ccps_cust_partner
			(cust_id,
			partner_id)
		VALUES
			(@cust_id,
			@partner_id)
END

SELECT @cust_id, @partner_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

