SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ccnt_cont_edit_info_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ccnt_cont_edit_info_save]
GO



CREATE PROCEDURE usp_ccnt_cont_edit_info_save
(
	@cont_id int = NULL,
	@wizard_id int = NULL,
	@creator_id int = NULL,
	@create_date datetime = NULL,
	@modify_date datetime = NULL,
	@modifier_id int = NULL
)
AS

IF EXISTS (SELECT TOP 1 * FROM ccnt_cont_edit_info WHERE (cont_id = @cont_id))
BEGIN
	UPDATE ccnt_cont_edit_info
		SET
			wizard_id = @wizard_id,
			creator_id = ISNULL(creator_id, @creator_id),
			create_date = ISNULL(create_date, ISNULL(@create_date, getdate())),
			modify_date = ISNULL(@modify_date, getdate()),
			modifier_id = @modifier_id
		WHERE
			(cont_id = @cont_id)
END
ELSE
BEGIN
	INSERT ccnt_cont_edit_info
		(
			cont_id,
			wizard_id,
			creator_id,
			create_date,
			modify_date,
			modifier_id
		)
		VALUES
		(
			@cont_id,
			@wizard_id,
			@creator_id,
			ISNULL(@create_date, getdate()),
			ISNULL(@modify_date, getdate()),
			ISNULL(@modifier_id,@creator_id)
		)
END

SELECT @cont_id


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

