SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_crpt_super_camp_list_old]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_crpt_super_camp_list_old]
GO



CREATE PROCEDURE usp_crpt_super_camp_list_old (@super_camp_id integer=null, @cust_id int, @start_id int=2147483647, @direction bit=1, @row_count int=0, @category_id int=0)
AS

SET Nocount On

IF @super_camp_id is Null
BEGIN
-- Create reportList table
	SELECT s.super_camp_id, c.camp_id INTO #t_super_camp_camp
		FROM cque_super_camp_camp s, cque_campaign c
		WHERE s.camp_id = c.origin_camp_id
			AND c.type_id <> 1
			AND c.cust_id = @cust_id

	CREATE TABLE #t_camp_list ( [Id] int, 
				CampName varchar(255),   
				Sent int default 0, 
				BBacks int default 0, 
				Clicks int default 0, 
				Unsubs int default 0,
				UpdateDate datetime,
				UpdateStatusId int default 0,
				UpdateStatus varchar(255) default '')


	DECLARE @iOne int, @iTwo int

	SET RowCount @row_count
	IF @category_id = 0
	BEGIN
		If @direction=1
			INSERT #t_camp_list ([Id], CampName)
				SELECT
					c.super_camp_id,
					c.super_camp_name
				FROM
					cque_super_camp c
				WHERE c.cust_id = @cust_id
					AND c.super_camp_id < @start_id
				ORDER BY c.super_camp_id DESC
		ELSE
			INSERT #t_camp_list ([Id], CampName)
				SELECT
					c.super_camp_id,
					c.super_camp_name
				FROM
					cque_super_camp c
				WHERE c.cust_id = @cust_id
					AND c.super_camp_id > @start_id
				ORDER BY c.super_camp_id DESC
	END
	ELSE
	BEGIN
		If @direction=1
			INSERT #t_camp_list ([Id], CampName)
				SELECT
					c.super_camp_id,
					c.super_camp_name
				FROM
					cque_super_camp c
				WHERE c.cust_id = @cust_id
					AND c.super_camp_id < @start_id
					AND c.super_camp_id IN (SELECT super_camp_id
						FROM cque_super_camp_camp s, ccps_object_category oc
						WHERE s.camp_id = oc.object_id
							AND oc.type_id = 190 --CAMPAIGN
							AND oc.cust_id = @cust_id
							AND oc.category_id = @category_id)
				ORDER BY c.super_camp_id DESC
		ELSE
			INSERT #t_camp_list ([Id], CampName)
				SELECT
					c.super_camp_id,
					c.super_camp_name
				FROM
					cque_super_camp c
				WHERE c.cust_id = @cust_id
					AND c.super_camp_id > @start_id
					AND c.super_camp_id IN (SELECT super_camp_id
						FROM cque_super_camp_camp s, ccps_object_category oc
						WHERE s.camp_id = oc.object_id
							AND oc.type_id = 190 --CAMPAIGN
							AND oc.cust_id = @cust_id
							AND oc.category_id = @category_id)
				ORDER BY c.super_camp_id DESC
	END

	SET RowCount 0

	SELECT @iOne=max(Id), @iTwo=min(Id) FROM #t_camp_list
	SELECT @iOne=count(*) 
		FROM cque_super_camp c 
		WHERE c.cust_id = @cust_id
			AND c.super_camp_id > @iOne
	SELECT @iTwo=count(*) 
		FROM cque_super_camp c 
		WHERE c.cust_id = @cust_id
			AND c.super_camp_id < @iTwo

	SELECT @iOne as isLeft, @iTwo as isRight

	UPDATE #t_camp_list
		SET Sent=(SELECT SUM(isnull(c.sent,0))
			FROM crpt_camp_summary c, #t_super_camp_camp s 
			WHERE s.super_camp_id = [Id]
			AND s.camp_id = c.camp_id)
		FROM #t_camp_list--, crpt_camp_summary, #t_super_camp_camp

	UPDATE #t_camp_list
		SET Clicks=(SELECT SUM(isnull(c.dist_clicks,0))
			FROM crpt_camp_summary c, #t_super_camp_camp s 
			WHERE s.super_camp_id = [Id]
			AND s.camp_id = c.camp_id)
		FROM #t_camp_list--, crpt_camp_summary, #t_super_camp_camp

	UPDATE #t_camp_list
		SET BBacks=(SELECT SUM(isnull(c.bbacks,0))
			FROM crpt_camp_summary c, #t_super_camp_camp s 
			WHERE s.super_camp_id = [Id]
			AND s.camp_id = c.camp_id)
		FROM #t_camp_list--, crpt_camp_summary, #t_super_camp_camp

	UPDATE #t_camp_list
		SET Unsubs=(SELECT SUM(isnull(c.unsubs,0))
			FROM crpt_camp_summary c, #t_super_camp_camp s 
			WHERE s.super_camp_id = [Id]
			AND s.camp_id = c.camp_id)
		FROM #t_camp_list--, crpt_camp_summary, #t_super_camp_camp

	UPDATE #t_camp_list
		SET UpdateDate=(SELECT MAX(c.last_update_date)
			FROM crpt_camp_summary c, #t_super_camp_camp s 
			WHERE s.super_camp_id = [Id]
			AND s.camp_id = c.camp_id)
		FROM #t_camp_list--, crpt_camp_summary, #t_super_camp_camp

	UPDATE #t_camp_list
		SET UpdateStatusId=isnull(s.status_id,0), 
			UpdateStatus=isnull(s.display_name,'') 
		FROM crpt_report_status s
		WHERE s.status_id = (SELECT MIN(c.status_id) 
			FROM crpt_camp_summary c, #t_super_camp_camp s 
			WHERE s.super_camp_id = [Id]
			AND s.camp_id = c.camp_id)

-- Change Status ID so recently Updated campaigns have Update disabled
	UPDATE #t_camp_list
		SET UpdateStatusId=10
		WHERE UpdateDate is not NULL 
			and dateadd(minute,1,UpdateDate)>getdate()

	SELECT 	[Id], 
		CampName,
		ISNULL(Sent,0), 
		ISNULL(BBacks,0), 
		ISNULL(Clicks,0),
		ISNULL(Unsubs,0),
		isnull(convert(varchar(255),UpdateDate,100),'') as UpdateDate,
		UpdateStatusId,
		UpdateStatus,
		BBackPrc =
			CASE ISNULL(Sent,0)
				WHEN 0 THEN 0
				ELSE convert(decimal(5,1),(BBacks*100.0)/Sent)
			END,
		ClickPrc =
			CASE ISNULL(Sent-BBacks,0)
				WHEN 0 THEN 0
				ELSE convert(decimal(5,1),(Clicks*100.0)/(Sent-BBacks))
			END,
		UnsubPrc =
			CASE ISNULL(Sent-BBacks,0)
				WHEN 0 THEN 0
				ELSE convert(decimal(5,1),(Unsubs*100.0)/(Sent-BBacks))
			END
	FROM 	#t_camp_list

	DROP TABLE #t_camp_list
	DROP TABLE #t_super_camp_camp
END
ELSE
BEGIN
	SELECT s.super_camp_id, c.camp_id INTO #tmp_super_camp_camp
		FROM cque_super_camp_camp s, cque_campaign c
		WHERE s.camp_id = c.origin_camp_id
			AND c.type_id <> 1
			AND s.super_camp_id = @super_camp_id

-- Create reportObject table
	CREATE TABLE #t_camp ( [Id] int,
				CampName VarChar(255),   
				Sent int, 
				BBacks int,
				Reaching int,
				TotalReads int,
				DistinctReads int,
				MultiReaders int,
				Unsubs int,
				TotalLinks int,
				TotalClicks int,
				TotalText int,
				TotalHTML int,
				TotalAOL int,
				DistinctClicks int,
				DistinctText int,
				DistinctHTML int,
				DistinctAOL int,
				OneLinkMultiClickers int,
				MultiLinkClickers int)
	
	INSERT #t_camp ([Id], 
			CampName,
			Sent, 
			BBacks,
			Reaching,
			TotalReads,
			DistinctReads,
			MultiReaders,
			Unsubs,
			TotalLinks,
			TotalClicks,
			TotalText,
			TotalHTML,
			TotalAOL,
			DistinctClicks,
			DistinctText,
			DistinctHTML,
			DistinctAOL,
			OneLinkMultiClickers,
			MultiLinkClickers)
	SELECT s.super_camp_id, 
			s.super_camp_name, 
			SUM(sent), 
			SUM(bbacks), 
			SUM(reaching),
			SUM(tot_reads),
			SUM(dist_reads),
			SUM(multi_readers),
			SUM(unsubs),
			SUM(tot_links),
			SUM(tot_clicks),
			SUM(tot_text_clicks),
			SUM(tot_html_clicks),
			SUM(tot_aol_clicks),
			SUM(dist_clicks),
			SUM(dist_text_clicks),
			SUM(dist_html_clicks),
			SUM(dist_aol_clicks),
			SUM(link_multi_clickers),
			SUM(multi_link_clickers)
	FROM crpt_camp_summary c, cque_super_camp s, #tmp_super_camp_camp sc
	WHERE s.super_camp_id = @super_camp_id
		AND sc.super_camp_id = s.super_camp_id
		AND c.camp_id = sc.camp_id
	GROUP BY s.super_camp_id, s.super_camp_name

	SELECT 	[Id], 
		CampName,
		Sent, 
		BBacks,
		Reaching,
		DistinctReads,
		TotalReads,
		MultiReaders,
		Unsubs,
		TotalLinks,
		TotalClicks,
		TotalText,
		TotalHTML,
		TotalAOL,
		DistinctClicks,
		DistinctText,
		DistinctHTML,
		DistinctAOL,
		OneLinkMultiClickers,
		MultiLinkClickers, 
		BBackPrc =
			CASE Sent
				WHEN 0 THEN 0
				ELSE convert(decimal(5,1),(BBacks*100.0)/Sent)
			END,
		ReachingPrc =
			CASE Sent
				WHEN 0 THEN 0
				ELSE convert(decimal(5,1),(Reaching*100.0)/Sent)
			END,
		DistinctReadPrc =
			CASE Sent-BBacks
				WHEN 0 THEN 0
				ELSE convert(decimal(5,1),(DistinctReads*100.0)/(Sent-BBacks))
			END,
		UnsubPrc =
			CASE Sent-BBacks
				WHEN 0 THEN 0
				ELSE convert(decimal(5,1),(Unsubs*100.0)/(Sent-BBacks))
			END,
		DistinctClickPrc =
			CASE Sent-BBacks
				WHEN 0 THEN 0
				ELSE convert(decimal(5,1),(DistinctClicks*100.0)/(Sent-BBacks))
			END,
		TotalTextPrc =
			CASE (TotalText+TotalHTML+TotalAOL)
				WHEN 0 THEN 0
				ELSE convert(decimal(5,1),(TotalText*100.0)/(TotalText+TotalHTML+TotalAOL))
			END,
		TotalHTMLPrc =
			CASE (TotalText+TotalHTML+TotalAOL)
				WHEN 0 THEN 0
				ELSE convert(decimal(5,1),(TotalHTML*100.0)/(TotalText+TotalHTML+TotalAOL))
			END,
		TotalAOLPrc =
			CASE (TotalText+TotalHTML+TotalAOL)
				WHEN 0 THEN 0
				ELSE convert(decimal(5,1),(TotalAOL*100.0)/(TotalText+TotalHTML+TotalAOL))
			END,
		DistinctTextPrc =
			CASE (DistinctText+DistinctHTML+DistinctAOL)
				WHEN 0 THEN 0
				ELSE convert(decimal(5,1),(DistinctText*100.0)/(DistinctText+DistinctHTML+DistinctAOL))
			END,
		DistinctHTMLPrc =
			CASE (DistinctText+DistinctHTML+DistinctAOL)
				WHEN 0 THEN 0
				ELSE convert(decimal(5,1),(DistinctHTML*100.0)/(DistinctText+DistinctHTML+DistinctAOL))
			END,
		DistinctAOLPrc =
			CASE (DistinctText+DistinctHTML+DistinctAOL)
				WHEN 0 THEN 0
				ELSE convert(decimal(5,1),(DistinctAOL*100.0)/(DistinctText+DistinctHTML+DistinctAOL))
			END
	FROM 	#t_camp

	DROP TABLE #t_camp
	DROP TABLE #tmp_super_camp_camp
END

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

