SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_cque_camp_sampleset_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_cque_camp_sampleset_save]
GO


CREATE PROCEDURE usp_cque_camp_sampleset_save
(
	@camp_id int = NULL,
	@camp_qty int = NULL,
	@final_camp_flag tinyint = NULL,
	@from_name_flag tinyint = NULL,
	@from_address_flag tinyint = NULL,
	@subject_flag tinyint = NULL,
	@cont_flag tinyint = NULL,
	@send_date_flag tinyint = NULL,
	@recip_qty int = NULL,
	@recip_percentage int = NULL
)
AS

IF EXISTS (SELECT TOP 1 * FROM cque_camp_sampleset WHERE (camp_id = @camp_id))
BEGIN
	UPDATE cque_camp_sampleset
		SET
			camp_qty = @camp_qty,
			final_camp_flag = @final_camp_flag,
			from_name_flag = @from_name_flag,
			from_address_flag = @from_address_flag,
			subject_flag = @subject_flag,
			cont_flag = @cont_flag,
			send_date_flag = @send_date_flag,
			recip_qty = @recip_qty,
			recip_percentage = @recip_percentage
		WHERE
			(camp_id = @camp_id)

	DELETE cque_camp_sample WHERE camp_id = @camp_id AND sample_id > @camp_qty

	UPDATE cque_camp_sample
		SET
			from_name = CASE WHEN @from_name_flag IS NULL THEN NULL
					ELSE from_name END,
			from_address_id = CASE WHEN @from_address_flag IS NULL THEN NULL
					ELSE from_address_id END,
			from_address = CASE WHEN @from_address_flag IS NULL THEN NULL
					ELSE from_address END,
			subject_html = CASE WHEN @subject_flag IS NULL THEN NULL
					ELSE subject_html END,
			subject_text = CASE WHEN @subject_flag IS NULL THEN NULL
					ELSE subject_text END,
			subject_aol = CASE WHEN @subject_flag IS NULL THEN NULL
					ELSE subject_aol END,
			cont_id = CASE WHEN @cont_flag IS NULL THEN NULL
					ELSE cont_id END,
			send_date = CASE WHEN @send_date_flag IS NULL THEN NULL
					ELSE send_date END
		WHERE
			(camp_id = @camp_id)

END
ELSE
BEGIN
	INSERT cque_camp_sampleset
		(
			camp_id,
			camp_qty,
			final_camp_flag,
			from_name_flag,
			from_address_flag,
			subject_flag,
			cont_flag,
			send_date_flag,
			recip_qty,
			recip_percentage
		)
		VALUES
		(
			@camp_id,
			@camp_qty,
			@final_camp_flag,
			@from_name_flag,
			@from_address_flag,
			@subject_flag,
			@cont_flag,
			@send_date_flag,
			@recip_qty,
			@recip_percentage
		)
END

SELECT @camp_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

