SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ccps_approval_asset_list_count]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ccps_approval_asset_list_count]
GO




CREATE   PROCEDURE usp_ccps_approval_asset_list_count (@cust_id int, @approver_id int, @pending_status int=1)
 AS

CREATE TABLE #t_assets
			 (object_type_id int,
			object_id int, 
			object_name varchar(255),
			requestor varchar(255),
			request_date datetime,
			aprvl_request_id int,
			approval_id int,
			pending int)


INSERT #t_assets
SELECT 190, camp.camp_id, RTRIM(camp.camp_name), RTRIM(u.user_name), ar.request_date, ar.approval_request_id, at.approval_id,
pending = CASE 
		WHEN ar.disposition_id is null THEN 0
		WHEN ar.disposition_id = 10 THEN 1 -- APPROVED
--		WHEN ar.disposition_id = 90 THEN 2 -- REJECTED
		ELSE 0
	END
FROM
cque_campaign camp, ccps_user u, ccps_aprvl_task at, ccps_aprvl_request ar
WHERE
ar.approver_id = u.user_id AND
at.approval_id = ar.aprvl_id AND
at.object_type = 190 AND
at.object_id = camp.origin_camp_id AND
at.cust_id = @cust_id AND
ar.approver_id = @approver_id AND
at.active_flag = 1 AND
ar.active_flag = 1 AND
(ar.disposition_id is null OR ar.disposition_id < 90) AND
camp.type_id <> 1 -- don't retrieve test campaign info
UNION
SELECT 190, camp.camp_id, RTRIM(camp.camp_name), RTRIM(u.user_name), ar.request_date, ar.approval_request_id, at.approval_id,
pending = 2
FROM
cque_campaign camp, ccps_user u, ccps_aprvl_task at, ccps_aprvl_request ar
WHERE
ar.approver_id = u.user_id AND
at.approval_id = ar.aprvl_id AND
at.object_type = 190 AND
at.object_id = camp.camp_id AND camp.origin_camp_id is null AND
at.cust_id = @cust_id AND
ar.approver_id = @approver_id AND
at.active_flag = 1 AND
ar.active_flag = 1 AND
(ar.disposition_id = 90) AND
camp.type_id <> 1 -- don't retrieve test campaign info

INSERT #t_assets
SELECT 170, cont.cont_id, RTRIM(cont.cont_name), RTRIM(u.user_name), ar.request_date, ar.approval_request_id, at.approval_id,
pending = CASE 
		WHEN ar.disposition_id is null THEN 0
		WHEN ar.disposition_id = 10 THEN 1 -- APPROVED
		WHEN ar.disposition_id = 90 THEN 2 -- REJECTED
		ELSE 0
	END
FROM
ccnt_content cont, ccps_user u, ccps_aprvl_task at, ccps_aprvl_request ar
WHERE
ar.approver_id = u.user_id AND
at.approval_id = ar.aprvl_id AND
at.object_type = 170 AND
at.object_id = cont.cont_id AND
at.cust_id = @cust_id AND
ar.approver_id = @approver_id AND
at.active_flag = 1 AND
ar.active_flag = 1

INSERT #t_assets
SELECT 200, filt.filter_id,  RTRIM(filt.filter_name),  RTRIM(u.user_name), ar.request_date, ar.approval_request_id, at.approval_id,
pending = CASE 
		WHEN ar.disposition_id is null THEN 0
		WHEN ar.disposition_id = 10 THEN 1 -- APPROVED
		WHEN ar.disposition_id = 90 THEN 2 -- REJECTED
		ELSE 0
	END
FROM
ctgt_filter filt, ccps_user u, ccps_aprvl_task at, ccps_aprvl_request ar
WHERE
ar.approver_id = u.user_id AND
at.approval_id = ar.aprvl_id AND
at.object_type = 200 AND
at.object_id =filt.filter_id AND
at.cust_id = @cust_id AND
ar.approver_id = @approver_id AND
at.active_flag = 1 AND
ar.active_flag = 1 

INSERT #t_assets
SELECT 220, u1.user_id, RTRIM(u1.user_name), RTRIM(u.user_name), ar.request_date, ar.approval_request_id, at.approval_id,
pending = CASE 
		WHEN ar.disposition_id is null THEN 0
		WHEN ar.disposition_id = 10 THEN 1 -- APPROVED
		WHEN ar.disposition_id = 90 THEN 2 -- REJECTED
		ELSE 0
	END
FROM
ccps_user u1, ccps_user u, ccps_aprvl_task at, ccps_aprvl_request ar
WHERE
ar.approver_id = u.user_id AND
at.approval_id = ar.aprvl_id AND
at.object_type = 220 AND
at.object_id = u1.user_id AND
at.cust_id = @cust_id AND
ar.approver_id = @approver_id AND
at.active_flag = 1 AND
ar.active_flag = 1

SELECT count(*)
from #t_assets
where pending = @pending_status

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

