SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ccnt_modify]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ccnt_modify]
GO


CREATE PROCEDURE usp_ccnt_modify 
	(@cont_id int,
	@new_cont int = null,
	@type_id int,
	@cust_id int,
	@status_id int,
	@cont_name varchar(255),
	@charset_id int,
	@unsub_msg_id int,
	@unsub_msg_position int,
	@send_text_flag int,
	@send_html_flag int,
	@send_aol_flag int,
	@user_id int)
AS

IF EXISTS ( SELECT TOP 1 cont_id FROM ccnt_content WHERE cont_id = @cont_id AND cust_id = @cust_id AND type_id = @type_id)
BEGIN
	UPDATE ccnt_content
		SET status_id=@status_id, cont_name=@cont_name, charset_id = @charset_id
		WHERE cont_id=@cont_id

	UPDATE ccnt_cont_send_param
		SET unsub_msg_id = @unsub_msg_id, unsub_msg_position = @unsub_msg_position,
		send_text_flag = @send_text_flag, send_html_flag = @send_html_flag, send_aol_flag = @send_aol_flag
		WHERE cont_id=@cont_id

	UPDATE ccnt_cont_edit_info 
		SET modifier_id = @user_id, modify_date = getdate()
		WHERE cont_id=@cont_id
END
ELSE
BEGIN
	DECLARE @id_type_id int
	SET @id_type_id = 170 -- CONTENT
	EXECUTE usp_ccps_next_id_get @cust_id, @id_type_id, @cont_id OUTPUT

	INSERT ccnt_content (cont_id, type_id, cust_id, status_id, cont_name, charset_id)
		VALUES (@cont_id, @type_id, @cust_id, @status_id, @cont_name, @charset_id)

	INSERT ccnt_cont_send_param (cont_id, unsub_msg_id, unsub_msg_position, send_text_flag, send_html_flag, send_aol_flag)
		VALUES (@cont_id, @unsub_msg_id, @unsub_msg_position, @send_text_flag, @send_html_flag, @send_aol_flag)

	INSERT ccnt_cont_edit_info (cont_id, creator_id, create_date, modifier_id, modify_date)
		VALUES (@cont_id, @user_id, getdate(), @user_id, getdate())

END

SELECT @cont_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

