SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_cque_camp_xml_hist_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_cque_camp_xml_hist_save]
GO


CREATE PROCEDURE usp_cque_camp_xml_hist_save
(
	@camp_id int = NULL,
	@camp_xml image = NULL,
	@version_id int = NULL,
	@update_date datetime = NULL
)
AS

IF EXISTS (SELECT TOP 1 camp_id FROM cque_camp_xml_hist WHERE (camp_id = @camp_id) AND (version_id = @version_id))
BEGIN
	UPDATE cque_camp_xml_hist
		SET
			camp_id = @camp_id,
			camp_xml = @camp_xml,
			version_id = @version_id,
			update_date = ISNULL(@update_date,getdate())
		WHERE
			(camp_id = @camp_id) AND
			(version_id = @version_id)
END
ELSE
BEGIN
	IF (@version_id IS NULL)
	BEGIN
		SELECT @version_id = MAX(version_id)
			FROM cque_camp_xml_hist 
			WHERE camp_id = @camp_id
	
		SET @version_id = ISNULL(@version_id,0) +1
	END

	INSERT cque_camp_xml_hist
		(
			camp_id,
			camp_xml,
			version_id,
			update_date
		)
		VALUES
		(
			@camp_id,
			@camp_xml,
			@version_id,
			ISNULL(@update_date,getdate())
		)
END

SELECT @camp_id, @version_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

