SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_avaya_delivered]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_avaya_delivered]
GO


CREATE PROCEDURE usp_avaya_delivered (@camp_id int, @camp_code int, @promo_code int, @promo_type int, @resp_method int, @resp_lang int)
AS

DECLARE @cust_id int
SET @cust_id = 34 

--DROP procedure usp_avaya_delivered


--tables #tmp_attr_map, and #tmp_attr already set up prior to calling procedure
--set up attributes in display order (tmp_attr_map determines display order)

DECLARE @a_email_821 int
SELECT @a_email_821 = attr_id FROM rrcp_attribute WHERE cust_id = @cust_id and attr_name = 'email_821'
INSERT #tmp_attr_map (attr_id) VALUES (@a_email_821)
INSERT #tmp_attr (row_id, recip_id, attr_id, attr_value)
	VALUES (0,0,@a_email_821,'email_address')

--======================================================================
--Fill Temp table with recips
-- row_id in tmp_attr corresponds to camp_id in this export, since the export is recipients per campaign
-- for forms set row_id = form_id
-- clicks - row_id = link_id
-- if just recip list not based on campaigns or other activity set row_id = 1
--======================================================================

-- temp table #tr is list of row_id,recip_id for all recipients in this export 
select distinct r.recip_id,fa.last_form_id INTO #tr
from rrcp_recipient r with(nolock)
join rque_message rm with(nolock) on r.recip_id=rm.recip_id
where rm.camp_id=@camp_id


--======================================================================
--Fill Temp Attribute Table with all attributes for recips
--======================================================================
/* insert email821 for recips */
INSERT #tmp_attr (row_id, recip_id, attr_id, attr_value)
	SELECT t.last_form_id, t.recip_id, @a_email_821, r.email_821
		FROM #tr t 
			JOIN rrcp_recipient r with(nolock) on r.recip_id = t.recip_id




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

