SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ctgt_filter_attrs_get]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ctgt_filter_attrs_get]
GO


CREATE PROCEDURE usp_ctgt_filter_attrs_get
(
	@cust_id int = NULL,
	@filter_id int = NULL,
	@type_id int = NULL
)
AS

CREATE TABLE #attrs(cust_id int, attr_id int)

INSERT #attrs(cust_id, attr_id)
	SELECT cust_id, attr_id
		FROM ccps_cust_attr ca 
		WHERE
			ca.cust_id = @cust_id AND
			ca.display_seq > 0

IF @filter_id != null
BEGIN
	CREATE TABLE #filter_child_tree (parent_filter_id int, child_filter_id int, level_id int)
	INSERT #filter_child_tree(parent_filter_id, child_filter_id, level_id) VALUES (null, @filter_id, 0)
	EXEC usp_ctgt_filter_child_tree_get

	INSERT #attrs(cust_id, attr_id)
		SELECT
			ca.cust_id,
			ca.attr_id
		FROM
			ccps_cust_attr ca,
			ctgt_formula fo,
			ctgt_filter fi,
			#filter_child_tree fct
		WHERE
			fi.filter_id = fct.child_filter_id AND
			fi.filter_id = fo.filter_id AND
			ca.attr_id = fo.attr_id AND
			ca.cust_id = fi.cust_id AND
			ca.attr_id = a.attr_id

	DROP TABLE #filter_child_tree
END

SELECT DISTINCT
	ca.cust_id,
	ca.attr_id,
	ca.display_name + ' (' + dt.type_name + ')',
	ISNULL(ca.display_seq, 1000000),
	ca.sync_flag,
	ca.fingerprint_seq,
	ca.sync_flag,
	ca.hist_flag, 
	ca.recip_view_seq
FROM
	ccps_cust_attr ca,
	ccps_attribute a,
	ccps_data_type dt,
	#attrs
WHERE
	ca.cust_id = #attrs.cust_id AND
	ca.attr_id = #attrs.attr_id AND
	a.attr_id = ca.attr_id AND
	a.type_id = dt.type_id AND
		( (dt.type_id = @type_id) OR (@type_id IS NULL) )
ORDER BY
	ISNULL(ca.display_seq, 1000000),
	ca.display_name + ' (' + dt.type_name + ')'
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

