SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_crpt_report_settings_update]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_crpt_report_settings_update]
GO


CREATE PROCEDURE usp_crpt_report_settings_update (
	@cust_id int,
	@totals_sec_flag int,
	@general_sec_flag int,
	@bback_sec_flag int,
	@action_sec_flag int,
	@dist_click_sec_flag int,
	@tot_click_sec_flag int,
	@form_sec_flag int,
	@tot_read_flag int,
	@multi_read_flag int,
	@tot_click_flag int,
	@multi_link_click_flag int,
	@link_multi_click_flag int,
	@domain_flag int,
	@optout_flag int
) AS

UPDATE crpt_report_settings SET
		totals_sec_flag = @totals_sec_flag,
		general_sec_flag = @general_sec_flag,
		bback_sec_flag = @bback_sec_flag,
		action_sec_flag = @action_sec_flag,
		dist_click_sec_flag = @dist_click_sec_flag,
		tot_click_sec_flag = @tot_click_sec_flag,
		form_sec_flag = @form_sec_flag,
		tot_read_flag = @tot_read_flag,
		multi_read_flag = @multi_read_flag,
		tot_click_flag = @tot_click_flag,
		multi_link_click_flag = @multi_link_click_flag,
		link_multi_click_flag = @link_multi_click_flag,
		domain_flag = @domain_flag,
		optout_flag = @optout_flag
	WHERE cust_id = @cust_id

IF @@RowCount < 1
	INSERT crpt_report_settings (cust_id,
			totals_sec_flag,
			general_sec_flag,
			bback_sec_flag,
			action_sec_flag,
			dist_click_sec_flag,
			tot_click_sec_flag,
			form_sec_flag,
			tot_read_flag,
			multi_read_flag,
			tot_click_flag,
			multi_link_click_flag,
			link_multi_click_flag,
			domain_flag,
			optout_flag)
		VALUES (@cust_id,
			@totals_sec_flag,
			@general_sec_flag,
			@bback_sec_flag,
			@action_sec_flag,
			@dist_click_sec_flag,
			@tot_click_sec_flag,
			@form_sec_flag,
			@tot_read_flag,
			@multi_read_flag,
			@tot_click_flag,
			@multi_link_click_flag,
			@link_multi_click_flag,
			@domain_flag,
			@optout_flag)

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

