SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_chom_user_note_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_chom_user_note_save]
GO


CREATE PROCEDURE usp_chom_user_note_save
(
	@note_id int=null,
	@cust_id int=null,
	@subject varchar(255)=null,
	@body image=null,
	@user_id int=null,
             @admin int=0,
	@published int=0
)
AS

DECLARE @new_note_id int
SET @new_note_id = @note_id

IF EXISTS (SELECT TOP 1 * FROM chom_user_note WHERE (note_id = @note_id) AND (cust_id = @cust_id) AND (user_id = @user_id))
BEGIN
	UPDATE chom_user_note
		SET
			subject = @subject,
			body = @body,
			published = @published,
			modify_date = getDate()
		WHERE
			(note_id = @note_id)
END
ELSE
BEGIN
	INSERT chom_user_note
		(
			cust_id,
			subject,
                                        body,
			user_id,
                                        admin,
                                        published,
                                        modify_date
		)
		VALUES
		(
			@cust_id,
			@subject,
                                        @body,
                                        @user_id,
                                        @admin,
                                        0,
                                        getDate()
		)

	SET @new_note_id = @@Identity
END

SELECT @new_note_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

