SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ccnt_cont_clone_tricky2]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ccnt_cont_clone_tricky2]
GO


CREATE PROCEDURE usp_ccnt_cont_clone_tricky2
(
	@cont_id int,
	@use_html int,
	@use_text int,
	@use_aol int
)
AS 

DECLARE @new_cont_id int
EXEC usp_ccnt_cont_clone_tricky @cont_id, @use_html, 	@use_text, @use_aol, @new_cont_id OUTPUT
SELECT @new_cont_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

