SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ccnt_scrape_cont_format_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ccnt_scrape_cont_format_save]
GO


CREATE PROCEDURE usp_ccnt_scrape_cont_format_save
(
	@format_id int=null,
	@scrape_id int=null,
	@format_name varchar(255)=null,
	@cont_text image=null,
	@cont_html image=null,
	@charset_id int=null,
	@cont_id int=null,
	@create_date datetime=null,
	@modified_date datetime=null
)
AS

DECLARE @new_format_id int
SET @new_format_id = @format_id

IF EXISTS (SELECT TOP 1 * FROM ccnt_scrape_cont_format WHERE (format_id = @format_id))
BEGIN
	UPDATE ccnt_scrape_cont_format
		SET
			scrape_id = @scrape_id,
			format_name = @format_name,
			cont_text = @cont_text,
			cont_html = @cont_html,
			charset_id = @charset_id,
			cont_id = @cont_id,
			create_date = @create_date,
			modified_date = getdate()
		WHERE
			(format_id = @format_id)

END
ELSE
BEGIN
	INSERT ccnt_scrape_cont_format
		(
			scrape_id,
			format_name,
			cont_text,
			cont_html,
			charset_id,
			cont_id,
			create_date,
			modified_date
		)
		VALUES
		(
			@scrape_id,
			@format_name,
			@cont_text,
			@cont_html,
			@charset_id,
			@cont_id,
			isnull(@create_date,getdate()),
			isnull(@modified_date,getdate())
		)

	SET @new_format_id = @@Identity
END

SELECT @new_format_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

