SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ccps_customer_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ccps_customer_save]
GO


CREATE PROCEDURE usp_ccps_customer_save
(
	@cust_id int = NULL,
	@cust_name varchar(255) = NULL,
	@login_name varchar(255) = NULL,
	@status_id int = NULL,
	@level_id int = NULL,
	@parent_cust_id int = NULL,
	@max_bbacks int = NULL,
	@descrip varchar(255) = NULL,
	@upd_rule_id int = NULL,
	@upd_hierarchy_id int = NULL,
	@unsub_hierarchy_id int = NULL,
	@max_bback_days int = NULL,
	@pass_expire_interval int = NULL,
	@pass_notify_days int = NULL,
	@cti_group_id varchar(255) = NULL
)
AS

IF EXISTS (SELECT TOP 1 * FROM ccps_customer WHERE (cust_id = @cust_id))
BEGIN
	UPDATE ccps_customer
		SET
			cust_name = @cust_name,
			level_id = @level_id,
			login_name = @login_name,
			status_id = @status_id,
			max_bbacks = @max_bbacks,
			descrip = @descrip,
			parent_cust_id = @parent_cust_id,
			upd_rule_id = @upd_rule_id,
			upd_hierarchy_id = @upd_hierarchy_id,
			unsub_hierarchy_id = @unsub_hierarchy_id,
			max_bback_days = @max_bback_days,
			pass_expire_interval = @pass_expire_interval,
			pass_notify_days = @pass_notify_days, 
			cti_group_id = @cti_group_id
		WHERE
			(cust_id = @cust_id)
END
ELSE
BEGIN
	INSERT ccps_customer
		(
			cust_id,
			cust_name,
			level_id,
			login_name,
			status_id,
			max_bbacks,
			descrip,
			parent_cust_id,
			upd_rule_id,
			upd_hierarchy_id,
			unsub_hierarchy_id,
			max_bback_days,
			pass_expire_interval,
			pass_notify_days, 
			cti_group_id
		)
		VALUES
		(
			@cust_id,
			@cust_name,
			@level_id,
			@login_name,
			@status_id,
			@max_bbacks,
			@descrip,
			@parent_cust_id,
			@upd_rule_id,
			@upd_hierarchy_id,
			@unsub_hierarchy_id,
			@max_bback_days,
			@pass_expire_interval,
			@pass_notify_days, 
			@cti_group_id
		)
END

SELECT @cust_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

