SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ccnt_scrape_list_get]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ccnt_scrape_list_get]
GO



CREATE PROCEDURE usp_ccnt_scrape_list_get
(
	@cust_id	int
)
AS


SELECT
	c.scrape_id, 
	c.scrape_name, 
	isnull(CONVERT(VARCHAR(32), c.scrape_date, 100), '----') as 'scrape_date',
	s.display_name
FROM
	ccnt_scrape c
	LEFT OUTER JOIN ccnt_scrape_status s on c.status_id = s.status_id
WHERE
	c.cust_id = @cust_id
ORDER BY
	c.scrape_date, c.scrape_name

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

