SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_cque_camp_stat_detail_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_cque_camp_stat_detail_save]
GO



CREATE PROCEDURE usp_cque_camp_stat_detail_save
(
	@camp_id int = NULL,
	@detail_id int = NULL,
	@detail_name varchar(255) = NULL,
	@integer_value int = NULL,
	@string_value varchar(255) = NULL,
	@date_value datetime = NULL
)
AS

SET @date_value = ISNULL(@date_value,getdate())

IF EXISTS (SELECT TOP 1 * FROM cque_camp_stat_detail WHERE (camp_id = @camp_id) AND (detail_id = @detail_id))
BEGIN
	UPDATE cque_camp_stat_detail
		SET
			detail_name = @detail_name,
			integer_value = @integer_value,
			string_value = @string_value,
			date_value = @date_value
		WHERE
			(camp_id = @camp_id) AND
			(detail_id = @detail_id)
END
ELSE
BEGIN
	SELECT @detail_id = MAX(detail_id) FROM  cque_camp_stat_detail WHERE (camp_id = @camp_id)
	SET @detail_id = ISNULL(@detail_id,0) +1

	INSERT cque_camp_stat_detail
		(
			camp_id,
			detail_id,
			detail_name,
			integer_value,
			string_value,
			date_value
		)
		VALUES
		(
			@camp_id,
			@detail_id,
			@detail_name,
			@integer_value,
			@string_value,
			@date_value
		)
END

SELECT @camp_id, @detail_id






GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

