SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ccps_attr_value_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ccps_attr_value_save]
GO


CREATE PROCEDURE usp_ccps_attr_value_save
(
	@cust_id int = NULL,
	@attr_id int = NULL,
	@attr_value varchar(255) = NULL,
	@value_qty int = NULL
)
AS

IF EXISTS (SELECT TOP 1 * FROM ccps_attr_value WHERE (cust_id = @cust_id) AND (attr_id = @attr_id) AND (attr_value = @attr_value))
BEGIN
	UPDATE ccps_attr_value
		SET
			value_qty = @value_qty
		WHERE
			(cust_id = @cust_id) AND
			(attr_id = @attr_id) AND
			(attr_value = @attr_value)
END
ELSE
BEGIN
	INSERT ccps_attr_value
		(
			cust_id,
			attr_id,
			attr_value,
			value_qty
		)
		VALUES
		(
			@cust_id,
			@attr_id,
			@attr_value,
			@value_qty
		)
END

SELECT @cust_id, @attr_id, @attr_value


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

