SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_crpt_super_camp_camp_list]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_crpt_super_camp_camp_list]
GO



CREATE PROCEDURE usp_crpt_super_camp_camp_list (@super_camp_id int) AS

SELECT CampID=c.camp_id, CampName=c.camp_name 
	FROM cque_super_camp_camp s, cque_campaign c
	WHERE s.camp_id = c.origin_camp_id
		AND c.type_id <> 1
		AND s.super_camp_id = @super_camp_id
		AND c.status_id > 1 AND c.status_id < 70

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

