SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_cntt_entity_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_cntt_entity_save]
GO


CREATE PROCEDURE usp_cntt_entity_save
(
	@entity_id int = NULL,
	@cust_id int = NULL,
	@entity_name varchar(255)  = NULL,
	@scope_id int = NULL
)
AS

IF EXISTS (SELECT TOP 1 * FROM cntt_entity WHERE (entity_id = @entity_id))
BEGIN
	UPDATE cntt_entity
		SET
			cust_id = @cust_id,
			entity_name = @entity_name,
			scope_id = @scope_id
		WHERE
			(entity_id = @entity_id)
END
ELSE
BEGIN
	INSERT cntt_entity
		(
			entity_id,
			cust_id,
			entity_name,
			scope_id
		)
		VALUES
		(
			@entity_id,
			@cust_id,
			@entity_name,
			@scope_id
		)
END

SELECT @entity_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

