SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ccps_cust_retrieve]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ccps_cust_retrieve]
GO



CREATE PROCEDURE usp_ccps_cust_retrieve
	(@cust_id int = NULL,
	@login_name varchar(255) = NULL)
AS

IF ((@cust_id IS NULL) AND (@login_name IS NULL)) RETURN

SELECT 
	cust_id,
	cust_name,
	login_name,
	status_id,
	level_id,
	parent_cust_id,
	max_bbacks,
	descrip,
	upd_rule_id,
	upd_hierarchy_id,
	unsub_hierarchy_id,
	max_bback_days,
	pass_expire_interval,
	pass_notify_days,
	cti_group_id
FROM ccps_customer
WHERE
	((cust_id = @cust_id) OR (@cust_id IS NULL))
	AND
	((login_name = @login_name) OR (@login_name IS NULL))

IF (@@rowcount > 1) RAISERROR ('Too many customers with the same login or id.', 16, 1)

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

