SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_cque_camp_list_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_cque_camp_list_save]
GO


CREATE PROCEDURE usp_cque_camp_list_save
(
	@camp_id int = NULL,
	@exclusion_list_id int = NULL,
	@auto_respond_list_id int = NULL,
	@test_list_id int = NULL,
	@auto_respond_attr_id int = NULL
)
AS

IF EXISTS (SELECT TOP 1 * FROM cque_camp_list WHERE (camp_id = @camp_id))
BEGIN
	UPDATE cque_camp_list
		SET
			exclusion_list_id = @exclusion_list_id,
			auto_respond_list_id = @auto_respond_list_id,
			test_list_id = @test_list_id,
			auto_respond_attr_id = @auto_respond_attr_id
		WHERE
			(camp_id = @camp_id)
END
ELSE
BEGIN
	INSERT cque_camp_list
		(
			camp_id,
			exclusion_list_id,
			auto_respond_list_id,
			test_list_id,
			auto_respond_attr_id
		)
		VALUES
		(
			@camp_id,
			@exclusion_list_id,
			@auto_respond_list_id,
			@test_list_id,
			@auto_respond_attr_id
		)
END

SELECT @camp_id





GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

