SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ccnt_img_cust_file_extension_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ccnt_img_cust_file_extension_save]
GO


CREATE PROCEDURE usp_ccnt_img_cust_file_extension_save
(
	@cust_id int = NULL,
	@file_extension varchar(25) = NULL
)
AS

IF NOT EXISTS (SELECT TOP 1 * FROM ccnt_img_cust_file_extension WHERE (cust_id = @cust_id) AND (file_extension = @file_extension))
BEGIN
	INSERT ccnt_img_cust_file_extension
		(
			cust_id,
			file_extension
		)
		VALUES
		(
			@cust_id,
			@file_extension
		)
END

SELECT @cust_id, @file_extension






GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

