SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_cque_camp_xml_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_cque_camp_xml_save]
GO


CREATE PROCEDURE usp_cque_camp_xml_save
(
	@camp_id int = NULL,
	@camp_xml image = NULL
)
AS

IF EXISTS (SELECT TOP 1 * FROM cque_camp_xml WHERE (camp_id = @camp_id))
BEGIN
	UPDATE cque_camp_xml
		SET
			camp_xml = @camp_xml
		WHERE
			(camp_id = @camp_id)
END
ELSE
BEGIN
	INSERT cque_camp_xml
		(
			camp_id,
			camp_xml
		)
		VALUES
		(
			@camp_id,
			@camp_xml
		)
END

SELECT @camp_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

