SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ccnt_scrape_url_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ccnt_scrape_url_save]
GO


CREATE PROCEDURE usp_ccnt_scrape_url_save
(
	@url_id int=null,
	@scrape_id int=null,
	@seq int=null,
	@url varchar(255)=null,
	@title_text varchar(255)=null,
	@title_html varchar(255)=null,
	@filter_id int=null
)
AS

DECLARE @new_url_id int
SET @new_url_id = @url_id

IF EXISTS (SELECT TOP 1 * FROM ccnt_scrape_url WHERE (url_id = @url_id) AND (scrape_id = @scrape_id))
BEGIN
	UPDATE ccnt_scrape_url
		SET
			scrape_id = @scrape_id,
			seq = @seq,
			url = @url,
			title_text = @title_text,
			title_html = @title_html,
			filter_id = @filter_id
		WHERE
			(url_id = @url_id)

END
ELSE
BEGIN
	INSERT ccnt_scrape_url
		(
			scrape_id,
			seq,
			url,
			title_text,
			title_html,
			filter_id
		)
		VALUES
		(
			@scrape_id,
			@seq,
			@url,
			@title_text,
			@title_html,
			@filter_id
		)

	SET @new_url_id = @@Identity
END

SELECT @new_url_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

