SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_crpt_nonemail_import_add]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_crpt_nonemail_import_add]
GO


CREATE PROCEDURE usp_crpt_nonemail_import_add (@cust_id int, @camp_id int, @import_url varchar(255), @import_filename varchar(255), @import_user int)
AS

INSERT crpt_nonemail_import (cust_id, camp_id, import_url, import_filename, import_date, import_user)
	VALUES (@cust_id, @camp_id, @import_url, @import_filename, getdate(), @import_user)

SELECT @@IDENTITY

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

