SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_cadm_mod_inst_service_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_cadm_mod_inst_service_save]
GO


CREATE PROCEDURE usp_cadm_mod_inst_service_save
(
	@mod_inst_id int = NULL,
	@service_type_id int = NULL,
	@protocol varchar(8) = NULL,
	@port int = NULL,
	@path varchar(255) = NULL
)
AS

IF EXISTS (SELECT TOP 1 * FROM cadm_mod_inst_service WHERE (mod_inst_id = @mod_inst_id) AND (service_type_id = @service_type_id))
BEGIN
	UPDATE cadm_mod_inst_service
		SET
			protocol = @protocol,
			port = @port,
			path = @path
		WHERE
			(mod_inst_id = @mod_inst_id) AND
			(service_type_id = @service_type_id)
END
ELSE
BEGIN
	INSERT cadm_mod_inst_service
		(
			mod_inst_id,
			service_type_id,
			protocol,
			port,
			path
		)
		VALUES
		(
			@mod_inst_id,
			@service_type_id,
			@protocol,
			@port,
			@path
		)
END

SELECT @mod_inst_id, @service_type_id




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

