SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_crpt_camp_list_old]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_crpt_camp_list_old]
GO



CREATE PROCEDURE usp_crpt_camp_list_old (@camp_id integer=null, @cust_id int, @start_id int=2147483647, @direction bit=1, @row_count int=0, @category_id int=0, @cache int=0)
AS

SET Nocount On

IF @camp_id is Null
BEGIN
-- Create reportList table
	DECLARE  @tQueue 	Table ( [Id] int, 
				CampName varchar(255),   
				TypeId int,   
				StartDate datetime, 
				Sent int default 0, 
				BBacks int default 0, 
				Clicks int default 0, 
				Unsubs int default 0,
				UpdateDate datetime,
				UpdateStatusId int default 0,
				UpdateStatus varchar(255) default '',
				Cache int default 0)

	DECLARE @iOne int, @iTwo int
	DECLARE @tId Table (Id int Primary Key)

	SET RowCount @row_count
	IF @category_id = 0
	BEGIN
		IF @direction=1
			INSERT @tQueue ([Id], CampName, TypeId, StartDate)
				SELECT
					c.camp_id,
					c.camp_name,
                                                                   c.type_id,
					s.start_date
				FROM
					cque_campaign c, cque_camp_statistic s
				WHERE c.camp_id = s.camp_id
					AND c.cust_id = @cust_id
					AND ( (c.type_id > 1 /*NOT TEST*/
						AND c.status_id > 30) /*BEING PROCESSED OR DONE*/
					OR (c.type_id IN (3,4) /*Auto-respond, S2F*/
						AND c.status_id > 0) ) /*DRAFT*/
					AND c.status_id < 70 /*NOT ERROR*/
					AND c.camp_id < @start_id
				ORDER BY s.start_date DESC
		ELSE
			INSERT @tQueue ([Id], CampName, TypeId, StartDate)
				SELECT
					c.camp_id,
					c.camp_name,
                                                                   c.type_id,
					s.start_date
				FROM
					cque_campaign c, cque_camp_statistic s
				WHERE c.camp_id = s.camp_id
					AND c.cust_id = @cust_id
					AND ( (c.type_id > 1 /*NOT TEST*/
						AND c.status_id > 30) /*BEING PROCESSED OR DONE*/
					OR (c.type_id IN (3,4) /*Auto-respond, S2F*/
						AND c.status_id > 0) ) /*DRAFT*/
					AND c.status_id < 70 /*NOT ERROR*/
					AND c.camp_id > @start_id
				ORDER BY s.start_date DESC
	END
	ELSE
	BEGIN
		IF @direction=1
			INSERT @tQueue ([Id], CampName, TypeId, StartDate)
				SELECT
					c.camp_id,
					c.camp_name,
                                                                   c.type_id,
					s.start_date
				FROM
					cque_campaign c, cque_camp_statistic s, ccps_object_category oc
				WHERE c.camp_id = s.camp_id
					AND c.cust_id = @cust_id
					AND ( (c.type_id > 1 /*NOT TEST*/
						AND c.status_id > 30) /*BEING PROCESSED OR DONE*/
					OR (c.type_id IN (3,4) /*Auto-respond, S2F*/
						AND c.status_id > 0) ) /*DRAFT*/
					AND c.status_id < 70 /*NOT ERROR*/
					AND c.origin_camp_id = oc.object_id
					AND oc.type_id = 190 /*ObjectType.CAMPAIGN*/
					AND oc.cust_id = @cust_id
					AND oc.category_id = @category_id
					AND c.camp_id < @start_id
				ORDER BY s.start_date DESC
		ELSE
			INSERT @tQueue ([Id], CampName, TypeId, StartDate)
				SELECT
					c.camp_id,
					c.camp_name,
                                                                   c.type_id,
					s.start_date
				FROM
					cque_campaign c, cque_camp_statistic s, ccps_object_category oc
				WHERE c.camp_id = s.camp_id
					AND c.cust_id = @cust_id
					AND ( (c.type_id > 1 /*NOT TEST*/
						AND c.status_id > 30) /*BEING PROCESSED OR DONE*/
					OR (c.type_id IN (3,4) /*Auto-respond, S2F*/
						AND c.status_id > 0) ) /*DRAFT*/
					AND c.status_id < 70 /*NOT ERROR*/
					AND c.origin_camp_id = oc.object_id
					AND oc.type_id = 190 /*ObjectType.CAMPAIGN*/
					AND oc.cust_id = @cust_id
					AND oc.category_id = @category_id
					AND c.camp_id > @start_id
				ORDER BY s.start_date DESC
	END
	SET RowCount 0

	SELECT @iOne=max(Id), @iTwo=min(Id) FROM @tQueue
	SELECT @iOne=count(*) 
		FROM cque_campaign c 
		WHERE c.cust_id = @cust_id
			AND c.type_id > 1 /*NOT TEST*/
			AND c.status_id > 30 /*BEING PROCESSED OR DONE*/
			AND c.status_id < 70 /*NOT ERROR*/
			AND c.camp_id > @iOne
	SELECT @iTwo=count(*) 
		FROM cque_campaign c 
		WHERE c.cust_id = @cust_id
			AND c.type_id > 1 /*NOT TEST*/
			AND c.status_id > 30 /*BEING PROCESSED OR DONE*/
			AND c.status_id < 70 /*NOT ERROR*/
			AND c.camp_id < @iTwo

	SELECT @iOne as isLeft, @iTwo as isRight
-- Fix StartDate if campaign start date is after queue start date
	UPDATE @tQueue 
		SET StartDate = 
			(SELECT CASE 
					WHEN ((s.start_date > StartDate) OR (StartDate is NULL))
						THEN s.start_date
						ELSE StartDate 
					END
				FROM cque_campaign c, cque_schedule s
				WHERE  c.camp_id = [Id]
					AND c.camp_id = s.camp_id) 

	UPDATE @tQueue
		SET Sent=isnull(c.sent,0),
			Clicks=isnull(c.dist_clicks,0),
			BBacks=isnull(c.bbacks,0),
			Unsubs=isnull(c.unsubs,0),
			UpdateDate=c.last_update_date
		FROM crpt_camp_summary c 
		WHERE c.camp_id = [Id] 

	UPDATE @tQueue
		SET UpdateStatusId=isnull(c.status_id,0), 
			UpdateStatus=isnull(s.display_name,'') 
		FROM crpt_camp_summary c, crpt_report_status s
		WHERE c.camp_id = [Id] 
			and s.status_id = c.status_id

-- Change Status ID so recently Updated campaigns have Update disabled
	UPDATE @tQueue
		SET UpdateStatusId=10
		WHERE UpdateDate is not NULL 
			and dateadd(minute,2,UpdateDate)>getdate() --changed update report time to 2 min was 1 hour

-- Set Cache if exists
	UPDATE @tQueue
		SET Cache=1
		FROM @tQueue t, crpt_camp_summary_cache c
		WHERE t.[Id] = c.camp_id

	SELECT 	[Id], 
		CampName,
                           TypeId,
		convert(varchar(30),StartDate,100) as StartDate,
		Sent, 
		BBacks, 
		Clicks,
		Unsubs,
		isnull(convert(varchar(255),UpdateDate,100),'') as UpdateDate,
		UpdateStatusId,
		UpdateStatus,
		BBackPrc =
			CASE Sent
				WHEN 0 THEN 0
				ELSE convert(decimal(5,1),(BBacks*100.0)/Sent)
			END,
		ClickPrc =
			CASE Sent-BBacks
				WHEN 0 THEN 0
				ELSE convert(decimal(5,1),(Clicks*100.0)/(Sent-BBacks))
			END,
		UnsubPrc =
			CASE Sent-BBacks
				WHEN 0 THEN 0
				ELSE convert(decimal(5,1),(Unsubs*100.0)/(Sent-BBacks))
			END,
		Cache
	FROM 	@tQueue

END
ELSE
BEGIN

-- Create reportObject table
	DECLARE @tCampaign 	Table (	[Id] int,
				CampName VarChar(255),   
				StartDate datetime, 
				Sent int, 
				BBacks int,
				Reaching int,
				TotalReads int,
				DistinctReads int,
				MultiReaders int,
				Unsubs int,
				TotalLinks int,
				TotalClicks int,
				TotalText int,
				TotalHTML int,
				TotalAOL int,
				DistinctClicks int,
				DistinctText int,
				DistinctHTML int,
				DistinctAOL int,
				OneLinkMultiClickers int,
				MultiLinkClickers int)
	
	IF (@cache <> 1) 
		INSERT @tCampaign ([Id], 
				CampName,
				StartDate, 
				Sent, 
				BBacks,
				Reaching,
				TotalReads,
				DistinctReads,
				MultiReaders,
				Unsubs,
				TotalLinks,
				TotalClicks,
				TotalText,
				TotalHTML,
				TotalAOL,
				DistinctClicks,
				DistinctText,
				DistinctHTML,
				DistinctAOL,
				OneLinkMultiClickers,
				MultiLinkClickers)
		SELECT camp_id, 
				camp_name, 
				start_date, 
				sent, 
				bbacks, 
				reaching,
				tot_reads,
				dist_reads,
				multi_readers,
				unsubs,
				tot_links,
				tot_clicks,
				tot_text_clicks,
				tot_html_clicks,
				tot_aol_clicks,
				dist_clicks,
				dist_text_clicks,
				dist_html_clicks,
				dist_aol_clicks,
				link_multi_clickers,
				multi_link_clickers
		FROM crpt_camp_summary c
		WHERE camp_id = @camp_id
	ELSE
		INSERT @tCampaign ([Id], 
				CampName,
				StartDate, 
				Sent, 
				BBacks,
				Reaching,
				TotalReads,
				DistinctReads,
				MultiReaders,
				Unsubs,
				TotalLinks,
				TotalClicks,
				TotalText,
				TotalHTML,
				TotalAOL,
				DistinctClicks,
				DistinctText,
				DistinctHTML,
				DistinctAOL,
				OneLinkMultiClickers,
				MultiLinkClickers)
		SELECT camp_id, 
				camp_name, 
				start_date, 
				sent, 
				bbacks, 
				reaching,
				tot_reads,
				dist_reads,
				multi_readers,
				unsubs,
				tot_links,
				tot_clicks,
				tot_text_clicks,
				tot_html_clicks,
				tot_aol_clicks,
				dist_clicks,
				dist_text_clicks,
				dist_html_clicks,
				dist_aol_clicks,
				link_multi_clickers,
				multi_link_clickers
		FROM crpt_camp_summary_cache c
		WHERE camp_id = @camp_id


	SELECT 	[Id], 
		CampName,
		convert(varchar(30),StartDate,100) as StartDate,
		Sent, 
		BBacks,
		Reaching,
		DistinctReads,
		TotalReads,
		MultiReaders,
		Unsubs,
		TotalLinks,
		TotalClicks,
		TotalText,
		TotalHTML,
		TotalAOL,
		DistinctClicks,
		DistinctText,
		DistinctHTML,
		DistinctAOL,
		OneLinkMultiClickers,
		MultiLinkClickers, 
		BBackPrc =
			CASE Sent
				WHEN 0 THEN 0
				ELSE convert(decimal(5,1),(BBacks*100.0)/Sent)
			END,
		ReachingPrc =
			CASE Sent
				WHEN 0 THEN 0
				ELSE convert(decimal(5,1),(Reaching*100.0)/Sent)
			END,
		DistinctReadPrc =
			CASE Sent-BBacks
				WHEN 0 THEN 0
				ELSE convert(decimal(5,1),(DistinctReads*100.0)/(Sent-BBacks))
			END,
		UnsubPrc =
			CASE Sent-BBacks
				WHEN 0 THEN 0
				ELSE convert(decimal(5,1),(Unsubs*100.0)/(Sent-BBacks))
			END,
		DistinctClickPrc =
			CASE Sent-BBacks
				WHEN 0 THEN 0
				ELSE convert(decimal(5,1),(DistinctClicks*100.0)/(Sent-BBacks))
			END,
		TotalTextPrc =
			CASE (TotalText+TotalHTML+TotalAOL)
				WHEN 0 THEN 0
				ELSE convert(decimal(5,1),(TotalText*100.0)/(TotalText+TotalHTML+TotalAOL))
			END,
		TotalHTMLPrc =
			CASE (TotalText+TotalHTML+TotalAOL)
				WHEN 0 THEN 0
				ELSE convert(decimal(5,1),(TotalHTML*100.0)/(TotalText+TotalHTML+TotalAOL))
			END,
		TotalAOLPrc =
			CASE (TotalText+TotalHTML+TotalAOL)
				WHEN 0 THEN 0
				ELSE convert(decimal(5,1),(TotalAOL*100.0)/(TotalText+TotalHTML+TotalAOL))
			END,
		DistinctTextPrc =
			CASE (DistinctText+DistinctHTML+DistinctAOL)
				WHEN 0 THEN 0
				ELSE convert(decimal(5,1),(DistinctText*100.0)/(DistinctText+DistinctHTML+DistinctAOL))
			END,
		DistinctHTMLPrc =
			CASE (DistinctText+DistinctHTML+DistinctAOL)
				WHEN 0 THEN 0
				ELSE convert(decimal(5,1),(DistinctHTML*100.0)/(DistinctText+DistinctHTML+DistinctAOL))
			END,
		DistinctAOLPrc =
			CASE (DistinctText+DistinctHTML+DistinctAOL)
				WHEN 0 THEN 0
				ELSE convert(decimal(5,1),(DistinctAOL*100.0)/(DistinctText+DistinctHTML+DistinctAOL))
			END
	FROM 	@tCampaign
END

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

