SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_crpt_camp_bbacks]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_crpt_camp_bbacks]
GO



CREATE PROCEDURE usp_crpt_camp_bbacks (@camp_id int, @cache_id int = 0, @cache int=0) 
AS
SET NOCOUNT ON

CREATE TABLE #tBBacks (CampID int,
			CategoryID int,
			CategoryName varchar(255),
			BBacks int)

IF (@cache <> 1)
	INSERT #tBBacks (CampID,
			CategoryID,
			CategoryName,
			BBacks)
		SELECT b.camp_id, 
			b.category_id, 
			c.category_name, 
			b.bbacks
		FROM crpt_camp_bback b, crpt_bback_category c
		WHERE b.camp_id = @camp_id
			AND b.category_id = c.category_id
ELSE
	INSERT #tBBacks (CampID,
			CategoryID,
			CategoryName,
			BBacks)
		SELECT b.camp_id, 
			b.category_id, 
			c.category_name, 
			b.bbacks
		FROM crpt_camp_bback_cache b, crpt_bback_category c
		WHERE b.camp_id = @camp_id
			AND b.category_id = c.category_id
			AND b.cache_id = @cache_id

DECLARE @totBBacks int

SELECT @totBBacks = SUM(BBacks) FROM #tBBacks

SELECT CampID,
	CategoryID,
	CategoryName,
	BBacks,
	BBackPrc = CASE @totBBacks WHEN 0 THEN 0
		ELSE convert(decimal(5,1), (BBacks*100.0/@totBBacks)) END

FROM #tBBacks
ORDER BY CategoryName

DROP TABLE #tBBacks
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

