SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ctgt_filter_child_tree_get]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ctgt_filter_child_tree_get]
GO



CREATE PROCEDURE  usp_ctgt_filter_child_tree_get (@level_id int = 0)
AS

SET @level_id = @level_id + 1

INSERT INTO #filter_child_tree (parent_filter_id, child_filter_id, level_id)
	SELECT fp.parent_filter_id, fp.child_filter_id, @level_id
		FROM
			ctgt_filter_part fp WITH(NOLOCK),
			#filter_child_tree fct
		WHERE
			( fct.child_filter_id = fp.parent_filter_id ) AND
			( fct.level_id = @level_id - 1 )

IF @@rowcount > 0 EXEC usp_ctgt_filter_child_tree_get @level_id


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

