SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_cupd_import_template_attr_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_cupd_import_template_attr_save]
GO


CREATE PROCEDURE usp_cupd_import_template_attr_save
(
	@template_id int = NULL,
	@seq int = NULL,
	@attr_id int = NULL
)
AS

IF NOT EXISTS (SELECT TOP 1 * FROM cupd_import_template_attr WHERE (template_id = @template_id) AND (seq = @seq))
BEGIN
	INSERT cupd_import_template_attr
		(
			template_id,
			seq,
			attr_id
		)
		VALUES
		(
			@template_id,
			@seq,
			@attr_id
		)
END
ELSE
BEGIN
	UPDATE cupd_import_template_attr
		SET
			attr_id = @attr_id
		WHERE
			template_id = @template_id AND
			seq = @seq
END

SELECT @template_id, @seq

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

