SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ccnt_cont_send_param_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ccnt_cont_send_param_save]
GO



CREATE PROCEDURE usp_ccnt_cont_send_param_save
(
	@cont_id int = NULL,
	@unsub_msg_id int = NULL,
	@unsub_msg_position int = NULL,
	@send_html_flag int = NULL,
	@send_text_flag int = NULL,
	@send_aol_flag int = NULL
)
AS

IF EXISTS (SELECT TOP 1 * FROM ccnt_cont_send_param WHERE (cont_id = @cont_id))
BEGIN
	UPDATE ccnt_cont_send_param
		SET
			unsub_msg_id = @unsub_msg_id,
			unsub_msg_position = @unsub_msg_position,
			send_html_flag = @send_html_flag,
			send_text_flag = @send_text_flag,
			send_aol_flag = @send_aol_flag
		WHERE
			(cont_id = @cont_id)
END
ELSE
BEGIN
	INSERT ccnt_cont_send_param
		(
			cont_id,
			unsub_msg_id,
			unsub_msg_position,
			send_html_flag,
			send_text_flag,
			send_aol_flag
		)
		VALUES
		(
			@cont_id,
			@unsub_msg_id,
			@unsub_msg_position,
			@send_html_flag,
			@send_text_flag,
			@send_aol_flag
		)
END

SELECT @cont_id






GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

