SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ccps_approval_multi_dept_asset_list_get]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ccps_approval_multi_dept_asset_list_get]
GO


CREATE   PROCEDURE usp_ccps_approval_multi_dept_asset_list_get (@cust_id int, @user_id int, @pending_status int=1)
 AS

CREATE TABLE #c(cust_id int, parent_cust_id int, level_id int)

INSERT #c(cust_id, parent_cust_id, level_id) VALUES(@cust_id, null, 0)

EXEC usp_ccps_cust_tree_build 

CREATE TABLE #t_assets
			 (object_type_id int,
			object_id int, 
			object_name varchar(255),
			approver varchar(255),
			requestor varchar(255),
			request_date datetime,
			aprvl_request_id int,
			approval_id int,
			cust_id int,
			cust_name varchar(255),
			level_id int,
			pending int)


-- CAMPAIGNS --
INSERT #t_assets
SELECT 190, camp.camp_id, 
	camp_name = CASE
			WHEN (at.camp_sample_flag is not NULL AND at.camp_sample_flag = 1) THEN RTRIM(camp.camp_name) + ' (samples)'
			ELSE RTRIM(camp.camp_name)
		             END, 
	RTRIM(u.user_name) + ' ' + RTRIM(u.last_name) as 'approver_name', 
	RTRIM(u1.user_name) + ' ' + RTRIM(u1.last_name) as 'requestor_name', 
	ar.request_date, ar.approval_request_id, at.approval_id, at.cust_id, cc.cust_name, #c.level_id, 
	pending = CASE 
			WHEN ar.disposition_id is null THEN 0
			WHEN ar.disposition_id = 10 THEN 1 -- APPROVED
			--WHEN ar.disposition_id = 90 THEN 2 -- REJECTED
			ELSE 0
		END
FROM cque_campaign camp, ccps_user u, ccps_user u1, ccps_aprvl_task at, ccps_aprvl_request ar, #c, ccps_customer cc 
WHERE
	ar.approver_id = u.user_id AND
	ar.requestor_id = u1.user_id AND
	at.approval_id = ar.aprvl_id AND
	at.object_type = 190 AND
	at.object_id = camp.origin_camp_id AND
	at.cust_id = #c.cust_id AND
	#c.cust_id = cc.cust_id AND
	(ar.approver_id = @user_id or ar.requestor_id = @user_id) AND
	at.active_flag = 1 AND
	ar.active_flag = 1 AND
	(ar.disposition_id is null OR ar.disposition_id < 90) AND
	camp.type_id <> 1 AND  -- don't retrieve test campaign info
	camp.status_id <> 90       -- don't retrieve deleted campaigns
UNION
SELECT 190, camp.camp_id, 
	camp_name = CASE
			WHEN (at.camp_sample_flag is not NULL AND at.camp_sample_flag = 1) THEN RTRIM(camp.camp_name) + ' (samples)'
			ELSE RTRIM(camp.camp_name)
		             END, 
	RTRIM(u.user_name) + ' ' + RTRIM(u.last_name) as 'approver_name', 
	RTRIM(u1.user_name) + ' ' + RTRIM(u1.last_name) as 'requestor_name', 
	ar.request_date, ar.approval_request_id, at.approval_id, at.cust_id, cc.cust_name,  #c.level_id, 
	pending = 2
FROM cque_campaign camp, ccps_user u, ccps_user u1, ccps_aprvl_task at, ccps_aprvl_request ar, #c , ccps_customer cc
WHERE
	ar.approver_id = u.user_id AND
	ar.requestor_id = u1.user_id AND
	at.approval_id = ar.aprvl_id AND
	at.object_type = 190 AND
	at.object_id = camp.camp_id AND camp.origin_camp_id is null AND
	at.cust_id = #c.cust_id AND
	#c.cust_id = cc.cust_id AND
	(ar.approver_id = @user_id or ar.requestor_id = @user_id) AND
	at.active_flag = 1 AND
	ar.active_flag = 1 AND
	(ar.disposition_id = 90) AND
	camp.type_id <> 1 AND  -- don't retrieve test campaign info
	camp.status_id <> 90       -- don't retrieve deleted campaigns
order by ar.request_date


-- CONTENT --
INSERT #t_assets
SELECT 170, cont.cont_id, 
	RTRIM(cont.cont_name), 
	RTRIM(u.user_name) + ' ' + RTRIM(u.last_name) as 'approver_name', 
	RTRIM(u1.user_name) + ' ' + RTRIM(u1.last_name) as 'requestor_name', 
	ar.request_date, ar.approval_request_id, at.approval_id, at.cust_id, cc.cust_name,  #c.level_id, 
	pending = CASE 
			WHEN ar.disposition_id is null THEN 0
			WHEN ar.disposition_id = 10 THEN 1 -- APPROVED
			WHEN ar.disposition_id = 90 THEN 2 -- REJECTED
			ELSE 0
		END
FROM ccnt_content cont, ccps_user u, ccps_user u1, ccps_aprvl_task at, ccps_aprvl_request ar, #c , ccps_customer cc
WHERE
	ar.approver_id = u.user_id AND
	ar.requestor_id = u1.user_id AND
	at.approval_id = ar.aprvl_id AND
	at.object_type = 170 AND
	at.object_id = cont.cont_id AND
	at.cust_id = #c.cust_id AND
	#c.cust_id = cc.cust_id AND
	(ar.approver_id = @user_id or ar.requestor_id = @user_id) AND
	at.active_flag = 1 AND
	ar.active_flag = 1 AND
	cont.status_id <> 90        -- don't retrieve deleted Content
order by ar.request_date


-- TARGET GROUPS --
INSERT #t_assets
SELECT 200, filt.filter_id,  
	RTRIM(filt.filter_name),  
	RTRIM(u.user_name) + ' ' + RTRIM(u.last_name) as 'approver_name', 
	RTRIM(u1.user_name) + ' ' + RTRIM(u1.last_name) as 'requestor_name', 
	ar.request_date, ar.approval_request_id, at.approval_id, at.cust_id, cc.cust_name,  #c.level_id, 
	pending = CASE 
			WHEN ar.disposition_id is null THEN 0
			WHEN ar.disposition_id = 10 THEN 1 -- APPROVED
			WHEN ar.disposition_id = 90 THEN 2 -- REJECTED
			ELSE 0
		END
FROM ctgt_filter filt, ccps_user u, ccps_user u1, ccps_aprvl_task at, ccps_aprvl_request ar, #c , ccps_customer cc
WHERE
	ar.approver_id = u.user_id AND
	ar.requestor_id = u1.user_id AND
	at.approval_id = ar.aprvl_id AND
	at.object_type = 200 AND
	at.object_id =filt.filter_id AND	at.cust_id = #c.cust_id AND
	#c.cust_id = cc.cust_id AND
	(ar.approver_id = @user_id or ar.requestor_id = @user_id) AND
	at.active_flag = 1 AND
	ar.active_flag = 1 AND
	filt.status_id <> 900          -- don't retrieve deleted Target Groups
order by ar.request_date


-- USERS --
INSERT #t_assets
SELECT 220, u.user_id, 
	RTRIM(u.user_name) + ' ' + RTRIM(u.last_name) as 'user_name', 
	RTRIM(u1.user_name) + ' ' + RTRIM(u1.last_name) as 'approver_name', 
	RTRIM(u2.user_name) + ' ' + RTRIM(u2.last_name) as 'requestor_name', 
	ar.request_date, ar.approval_request_id, at.approval_id, at.cust_id, cc.cust_name,  #c.level_id, 
	pending = CASE 
			WHEN ar.disposition_id is null THEN 0
			WHEN ar.disposition_id = 10 THEN 1 -- APPROVED
			WHEN ar.disposition_id = 90 THEN 2 -- REJECTED
			ELSE 0
		END
FROM ccps_user u, ccps_user u1, ccps_user u2, ccps_aprvl_task at, ccps_aprvl_request ar, #c , ccps_customer cc
WHERE
	ar.approver_id = u1.user_id AND
	ar.requestor_id = u2.user_id AND
	at.approval_id = ar.aprvl_id AND
	at.object_type = 220 AND
	at.object_id = u.user_id AND
	at.cust_id = #c.cust_id AND
	#c.cust_id = cc.cust_id AND
	(ar.approver_id = @user_id or ar.requestor_id = @user_id) AND
	at.active_flag = 1 AND
	ar.active_flag = 1 AND
	u.status_id <> 40          -- don't retrieve deleted users
order by ar.request_date

-- IMPORTS --
INSERT #t_assets
SELECT 160, imp.import_id,  
	RTRIM(imp.import_name),  
	RTRIM(u.user_name) + ' ' + RTRIM(u.last_name) as 'approver_name', 
	RTRIM(u1.user_name) + ' ' + RTRIM(u1.last_name) as 'requestor_name', 
	ar.request_date, ar.approval_request_id, at.approval_id, at.cust_id, cc.cust_name,  #c.level_id, 
	pending = CASE 
			WHEN ar.disposition_id is null THEN 0
			WHEN ar.disposition_id = 10 THEN 1 -- APPROVED
			WHEN ar.disposition_id = 90 THEN 2 -- REJECTED
			ELSE 0
		END
FROM cupd_import imp, ccps_user u, ccps_user u1, ccps_aprvl_task at, ccps_aprvl_request ar, #c , ccps_customer cc
WHERE
	ar.approver_id = u.user_id AND
	ar.requestor_id = u1.user_id AND
	at.approval_id = ar.aprvl_id AND
	at.object_type = 160 AND
	at.object_id =imp.import_id AND
	at.cust_id = #c.cust_id AND
	#c.cust_id = cc.cust_id AND
	(ar.approver_id = @user_id or ar.requestor_id = @user_id) AND
	at.active_flag = 1 AND
	ar.active_flag = 1 AND
	imp.status_id <> 80          -- don't retrieve deleted Imports
order by ar.request_date



SELECT object_type_id, object_id, object_name, approver, requestor, CONVERT(VARCHAR(32), request_date, 100), aprvl_request_id, approval_id, cust_id, cust_name, level_id
from #t_assets
where pending = @pending_status
order by level_id, object_type_id

Drop Table #t_assets
Drop Table #c

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

