SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ccps_attr_calc_props_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ccps_attr_calc_props_save]
GO


CREATE PROCEDURE usp_ccps_attr_calc_props_save
(
	@cust_id int = NULL,
	@attr_id int = NULL,
	@calc_values_flag int = NULL,
	@last_calc_date datetime = NULL,
	@distinct_values_qty int = NULL,
	@calc_status_id int = NULL, 
	@filter_usage int = NULL
)
AS

IF EXISTS (SELECT TOP 1 * FROM ccps_attr_calc_props WHERE (cust_id = @cust_id) AND (attr_id = @attr_id))
BEGIN
	UPDATE ccps_attr_calc_props
		SET
			calc_values_flag = @calc_values_flag,
			last_calc_date = ISNULL(@last_calc_date, last_calc_date),
			distinct_values_qty =  ISNULL(@distinct_values_qty, distinct_values_qty),
			calc_status_id =  ISNULL(@calc_status_id, calc_status_id),
			filter_usage =  ISNULL(@filter_usage, filter_usage)
		WHERE
			(cust_id = @cust_id) AND
			(attr_id = @attr_id)
END
ELSE
BEGIN
	INSERT ccps_attr_calc_props
		(
			cust_id,
			attr_id,
			calc_values_flag,
			last_calc_date,
			distinct_values_qty,
			calc_status_id,
			filter_usage
		)
		VALUES
		(
			@cust_id,
			@attr_id,
			@calc_values_flag,
			@last_calc_date,
			@distinct_values_qty,
			@calc_status_id,
			@filter_usage
		)
END

SELECT @cust_id, @attr_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

