SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_cque_camp_statistic_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_cque_camp_statistic_save]
GO


CREATE PROCEDURE usp_cque_camp_statistic_save
	(@camp_id int,
	@start_date datetime = null,
	@finish_date datetime = null,
	@recip_total_qty int = null,
	@recip_queued_qty int = null,
	@recip_sent_qty int = null)
AS

IF EXISTS (SELECT TOP 1 * FROM cque_camp_statistic WHERE (camp_id = @camp_id))
BEGIN
	UPDATE cque_camp_statistic
		SET
			start_date = ISNULL(@start_date,ISNULL(start_date,getdate())),
			finish_date = ISNULL(@finish_date,getdate()),
			recip_total_qty = ISNULL(@recip_total_qty,recip_total_qty),
			recip_queued_qty = ISNULL(@recip_queued_qty,recip_queued_qty),
			recip_sent_qty = ISNULL(@recip_sent_qty,recip_sent_qty)
		WHERE
			(camp_id = @camp_id)
END
ELSE
BEGIN
	INSERT cque_camp_statistic
		(
			camp_id,
			start_date,
			finish_date,
			recip_total_qty,
			recip_queued_qty,
			recip_sent_qty
		)
		VALUES
		(
			@camp_id,
			ISNULL(@start_date,getdate()),
			ISNULL(@finish_date,getdate()),
			@recip_total_qty,
			@recip_queued_qty,
			@recip_sent_qty
		)
END

SELECT @camp_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

