SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ccps_approval_request_list_get]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ccps_approval_request_list_get]
GO



CREATE  PROCEDURE usp_ccps_approval_request_list_get (@cust_id int, @aprvl_id int) AS

CREATE TABLE #c(cust_id int, parent_cust_id int, level_id int)

INSERT #c(cust_id, parent_cust_id, level_id) VALUES(@cust_id, null, 0)

EXEC usp_ccps_cust_tree_build 


SELECT ar.approval_request_id, ur.user_name, ua.user_name, CONVERT(VARCHAR(32), ar.request_date, 100),
	CONVERT(VARCHAR(32), ar.disposition_date, 100), ad.disposition_name, ar.request_comment, ar.aprvl_comment
FROM  ccps_aprvl_request ar INNER JOIN
               ccps_aprvl_task at ON ar.aprvl_id = at.approval_id LEFT OUTER JOIN
               ccps_aprvl_disposition ad ON ar.disposition_id = ad.disposition_id INNER JOIN
               ccps_user ua ON ar.approver_id = ua.user_id INNER JOIN
	ccps_user ur ON ar.requestor_id = ur.user_id
WHERE
	ar.aprvl_id = @aprvl_id AND
	ar.cust_id in (select cust_id from #c)
ORDER BY 1


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

