SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_chom_user_note_list_get]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_chom_user_note_list_get]
GO


CREATE PROCEDURE usp_chom_user_note_list_get
(
	@cust_id	int,
	@user_id	int,
              @admin             int,
	@exclude_id	int
)
AS


SELECT
	n.note_id, 
	n.subject, 
             u.user_name,
             CONVERT(VARCHAR(32), n.modify_date, 100) as 'modify_date_txt', 
             n.published
FROM	chom_user_note n
	LEFT OUTER JOIN ccps_user u on n.user_id = u.user_id
WHERE
	n.cust_id = @cust_id 
    AND n.admin = @admin
    AND (n.published = 1 OR n.user_id = @user_id) 
    AND (n.note_id != @exclude_id)
ORDER BY
	n.modify_date DESC

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

