SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_cftp_ftp_task_host_monitor]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_cftp_ftp_task_host_monitor]
GO


CREATE PROCEDURE usp_cftp_ftp_task_host_monitor
(
	@task_id int = NULL
)
AS

CREATE TABLE #last_week(days_ago int, download_date datetime)

INSERT #last_week(days_ago) VALUES (1)
INSERT #last_week(days_ago) VALUES (2)
INSERT #last_week(days_ago) VALUES (3)
INSERT #last_week(days_ago) VALUES (4)
INSERT #last_week(days_ago) VALUES (5)
INSERT #last_week(days_ago) VALUES (6)
INSERT #last_week(days_ago) VALUES (7)
UPDATE #last_week SET download_date = DATEADD(dd, -days_ago, getdate())

SELECT task_id, days_ago, download_date
	INTO #last_week_downloads
	FROM
		#last_week lw,
		cftp_ftp_task_schedule fis  WITH(NOLOCK)
	WHERE
		DATEDIFF(dd, fis.start_date, lw.download_date) > 0 AND
		( fis.finish_date IS NULL OR lw.download_date <= fis.finish_date) AND
		( task_id = @task_id OR ISNULL(@task_id,0) = 0 )

DELETE #last_week_downloads
	FROM 
		cftp_ftp_file ff WITH(NOLOCK)
	WHERE
		#last_week_downloads.task_id = ff.task_id AND
		ff.status_id = 4 AND
		DATEDIFF(dd, ff.start_date, #last_week_downloads.download_date) = 0

SELECT task_id, days_ago, download_date
	FROM #last_week_downloads
	ORDER BY task_id, download_date DESC

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

