SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_cque_email_list_get]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_cque_email_list_get]
GO


CREATE PROCEDURE dbo.usp_cque_email_list_get (@list_id int)
AS

CREATE TABLE #et
	(list_item_id int identity,
	email varchar(255) null,
	t_html int null default 0,
	t_text int null default 0,
	t_multi int null default 0,
	t_aol int null default 0)

CREATE TABLE #tc (type_count int null, email varchar(255) null)

INSERT INTO #et (email)
	SELECT DISTINCT email
		FROM cque_email_list_item
		WHERE list_id = @list_id

INSERT INTO #tc (type_count, email)
	SELECT count(ceil.item_id), #et.email
		FROM cque_email_list_item ceil, #et
		WHERE list_id = @list_id
			AND #et.email = ceil.email
			AND ceil.email_type_id = 1
		GROUP BY #et.email

UPDATE #et
	SET t_html = type_count
	FROM #tc
	WHERE #tc.email = #et.email

DELETE FROM #tc

INSERT INTO #tc (type_count, email)
	SELECT count(ceil.item_id), #et.email
		FROM cque_email_list_item ceil, #et
		WHERE list_id = @list_id
			AND #et.email = ceil.email
			AND ceil.email_type_id = 2
		GROUP BY #et.email

UPDATE #et
	SET t_text = type_count
	FROM #tc
	WHERE #tc.email = #et.email

DELETE FROM #tc

INSERT INTO #tc (type_count, email)
	SELECT count(ceil.item_id), #et.email
		FROM cque_email_list_item ceil, #et
		WHERE list_id = @list_id
			AND #et.email = ceil.email
			AND ceil.email_type_id = 3
		GROUP BY #et.email

UPDATE #et
	SET t_multi = type_count
	FROM #tc
	WHERE #tc.email = #et.email

DELETE FROM #tc

DELETE FROM #tc

INSERT INTO #tc (type_count, email)
	SELECT count(ceil.item_id), #et.email
		FROM cque_email_list_item ceil, #et
		WHERE list_id = @list_id
			AND #et.email = ceil.email
			AND ceil.email_type_id = 4
		GROUP BY #et.email

UPDATE #et
	SET t_aol = type_count
	FROM #tc
	WHERE #tc.email = #et.email

DELETE FROM #tc

SELECT * FROM #et

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

