SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_cque_super_camp_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_cque_super_camp_save]
GO


CREATE PROCEDURE usp_cque_super_camp_save
(
	@super_camp_id int = NULL,
	@super_camp_name varchar(255) = NULL,
	@cust_id int = NULL
)
AS

IF EXISTS (SELECT TOP 1 * FROM cque_super_camp WHERE (super_camp_id = @super_camp_id))
BEGIN
	UPDATE cque_super_camp
		SET
			super_camp_name = @super_camp_name,
			cust_id = @cust_id
		WHERE
			(super_camp_id = @super_camp_id)
END
ELSE
BEGIN
	INSERT cque_super_camp
		(
			super_camp_name,
			cust_id
		)
		VALUES
		(
			@super_camp_name,
			@cust_id
		)

	SET @super_camp_id = @@identity
END

SELECT @super_camp_id





GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

