SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_chlp_support_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_chlp_support_save]
GO


CREATE PROCEDURE dbo.usp_chlp_support_save
	(@support_id 		int,
	@cust_id 		int, 
	@user_id 		int, 
	@support_subject 	varchar(255), 
	@original_issue 		varchar(2000), 
	@further_info 		varchar(3000))
AS

IF EXISTS (SELECT * FROM chlp_support WHERE support_id = @support_id)
BEGIN
	UPDATE chlp_support
		SET	cust_id 		= @cust_id, 
			[user_id] 	= @user_id, 
			support_subject 	= @support_subject, 
			original_issue 	= @original_issue, 
			further_info 	= @further_info
		WHERE support_id 	= @support_id
END
ELSE
BEGIN
	INSERT chlp_support
			(cust_id, 	[user_id], 	support_subject, 
			original_issue, 	further_info, 	support_date)
		VALUES
			(@cust_id, 	@user_id, 	@support_subject, 
			@original_issue, @further_info, 	GETDATE())
END

SELECT @@IDENTITY

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

