SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_crpt_camp_domains]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_crpt_camp_domains]
GO



CREATE PROCEDURE usp_crpt_camp_domains (@camp_id int, @cache_id int = 0, @cache int=0) 
AS
SET NOCOUNT ON

CREATE TABLE #tDomains (CampID int,
			Domain varchar(255),
			Sent int,
			BBacks int)

IF (@cache <> 1)
	INSERT #tDomains (CampID,
			Domain,
			Sent,
			BBacks)
		SELECT d.camp_id, 
			d.domain, 
			d.sent, 
			d.bbacks
		FROM crpt_camp_domain d
		WHERE d.camp_id = @camp_id
ELSE
	INSERT #tDomains (CampID,
			Domain,
			Sent,
			BBacks)
		SELECT d.camp_id, 
			d.domain, 
			d.sent, 
			d.bbacks
		FROM crpt_camp_domain_cache d
		WHERE d.camp_id = @camp_id
		AND d.cache_id = @cache_id

SELECT CampID,
		Domain,
		Sent,
		BBacks,
		BBackPrc = CASE Sent WHEN 0 THEN 0
			ELSE convert(decimal(5,1), (BBacks*100.0/Sent)) END
	FROM #tDomains
	WHERE Sent > 0
	ORDER BY Sent DESC

DROP TABLE #tDomains
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

