SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ccnt_img_cust_global_access_set]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ccnt_img_cust_global_access_set]
GO


CREATE PROCEDURE usp_ccnt_img_cust_global_access_set (@cust_id int) AS

DECLARE @folder_id int
DECLARE @access_flag int
DECLARE @parent_cust_id int

CREATE TABLE #cust_parent_chain (cust_id int, level_id int)

EXEC usp_ccps_cust_parent_chain_build @cust_id, 0

DECLARE ca_cur CURSOR FOR 
	SELECT cust_id
	FROM #cust_parent_chain
	WHERE
		level_id > 0
	ORDER BY level_id

OPEN ca_cur
FETCH NEXT FROM ca_cur INTO @parent_cust_id
WHILE @@FETCH_STATUS = 0
BEGIN

	SELECT @folder_id = folder_id 
		FROM ccnt_img_folder f
		WHERE type_id = 15 -- GLOBAL
			AND parent_id IS NULL
			AND cust_id = @parent_cust_id
	
	SELECT @access_flag = count(*) 
		FROM ccnt_img_fld_cust_access
		WHERE folder_id = @folder_id
			AND cust_id = @cust_id
	
	IF ( (@folder_id IS NOT NULL) AND (@access_flag = 0) )
	BEGIN
	-- give customer access to all global images and folders
	
		INSERT ccnt_img_fld_cust_access (folder_id, cust_id, access_flag)
			SELECT a.folder_id, @cust_id, a.access_flag
			FROM ccnt_img_fld_cust_access a, ccnt_img_folder f
			WHERE a.cust_id = 0
				AND a.folder_id = f.folder_id
				AND f.cust_id = @parent_cust_id
	
		INSERT ccnt_img_cust_access (image_id, cust_id, access_flag)
			SELECT a.image_id, @cust_id, a.access_flag
			FROM ccnt_img_cust_access a, ccnt_image i
			WHERE a.cust_id = 0
				AND a.image_id = i.image_id
				AND i.cust_id = @parent_cust_id
	
	END

    FETCH NEXT FROM ca_cur INTO @parent_cust_id
END
CLOSE ca_cur
DEALLOCATE ca_cur

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

