SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_cque_super_camp_camp_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_cque_super_camp_camp_save]
GO


CREATE PROCEDURE usp_cque_super_camp_camp_save
(
	@super_camp_id int = NULL,
	@camp_id int = NULL
)
AS

IF NOT EXISTS (SELECT TOP 1 * FROM cque_super_camp_camp WHERE (super_camp_id = @super_camp_id) AND (camp_id = @camp_id))
BEGIN
	INSERT cque_super_camp_camp
		(
			super_camp_id,
			camp_id
		)
		VALUES
		(
			@super_camp_id,
			@camp_id
		)
END

SELECT @super_camp_id, @camp_id





GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

