SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_cque_schedule_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_cque_schedule_save]
GO


CREATE PROCEDURE usp_cque_schedule_save
(
	@camp_id int = NULL,
	@start_date datetime = NULL,
	@end_date datetime = NULL,
	@start_daily_time datetime = NULL,
	@end_daily_time datetime = NULL,
	@start_daily_weekday_mask int = NULL
)
AS

IF EXISTS (SELECT TOP 1 camp_id FROM cque_schedule WHERE (camp_id = @camp_id))
BEGIN
	UPDATE cque_schedule
		SET
			start_date = @start_date,
			end_date = @end_date,
			start_daily_time = @start_daily_time,
			end_daily_time = @end_daily_time,
			start_daily_weekday_mask = @start_daily_weekday_mask
		WHERE
			(camp_id = @camp_id)
END
ELSE
BEGIN
	INSERT cque_schedule
		(
			camp_id,
			start_date,
			end_date,
			start_daily_time,
			end_daily_time,
			start_daily_weekday_mask
		)
		VALUES
		(
			@camp_id,
			@start_date,
			@end_date,
			@start_daily_time,
			@end_daily_time,
			@start_daily_weekday_mask
		)
END

SELECT @camp_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

