SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ccnt_scrape_attr_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ccnt_scrape_attr_save]
GO


CREATE PROCEDURE usp_ccnt_scrape_attr_save
(
	@url_id int=null,
	@entry_id int=null,
	@attr_name varchar(255)=null,
	@attr_value varchar(4000)=null
)
AS

IF EXISTS (SELECT TOP 1 * FROM ccnt_scrape_attr WHERE (url_id = @url_id) AND (entry_id = @entry_id) AND (attr_name = @attr_name))
BEGIN
	UPDATE ccnt_scrape_attr
		SET
			attr_value = @attr_value
		WHERE
			(url_id = @url_id) 
			AND (entry_id = @entry_id) 
			AND (attr_name = @attr_name)

END
ELSE
BEGIN
	INSERT ccnt_scrape_attr
		(
			url_id,
			entry_id,
			attr_name,
			attr_value
		)
		VALUES
		(
			@url_id,
			@entry_id,
			@attr_name,
			@attr_value
		)
END

SELECT @url_id, @entry_id, @attr_name

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

