SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ccps_cust_send_param_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ccps_cust_send_param_save]
GO


CREATE PROCEDURE usp_ccps_cust_send_param_save
(
	@cust_id int = NULL,
	@sender_address varchar(255) = NULL,
	@error_to_address varchar(255) = NULL
)
AS

IF EXISTS (SELECT TOP 1 * FROM ccps_cust_send_param WHERE (cust_id = @cust_id))
BEGIN
	UPDATE ccps_cust_send_param
		SET
			sender_address = @sender_address,
			error_to_address = @error_to_address
		WHERE
			(cust_id = @cust_id)
END
ELSE
BEGIN
	INSERT ccps_cust_send_param
		(
			cust_id,
			sender_address,
			error_to_address
		)
		VALUES
		(
			@cust_id,
			@sender_address,
			@error_to_address
		)
END

SELECT @cust_id





GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

