SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_cntt_entity_import_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_cntt_entity_import_save]
GO


CREATE PROCEDURE usp_cntt_entity_import_save
(
	@import_id int = NULL,
	@import_name varchar(255) = NULL,
	@template_id int = NULL,
	@cust_id int = NULL,
	@status_id int = NULL,
	@file_name varchar(255) = NULL,
	@file_url varchar(255) = NULL
)
AS

IF EXISTS (SELECT TOP 1 * FROM cntt_entity_import WHERE (import_id = @import_id))
BEGIN
	UPDATE cntt_entity_import
		SET
			import_name = @import_name,
			template_id = @template_id,
			cust_id = @cust_id,
			status_id = @status_id,
			file_name = @file_name,
			file_url = @file_url
		WHERE
			(import_id = @import_id)
END
ELSE
BEGIN
	INSERT cntt_entity_import
		(
			import_name,
			template_id,
			cust_id,
			status_id,
			file_name,
			file_url
		)
		VALUES
		(
			@import_name,
			@template_id,
			@cust_id,
			@status_id,
			@file_name,
			@file_url
		)

	SET @import_id = @@identity
END

SELECT @import_id


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

