SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ccps_cust_tree_get]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ccps_cust_tree_get]
GO



CREATE PROCEDURE usp_ccps_cust_tree_get (@cust_id int)
AS

CREATE TABLE #c(cust_id int, parent_cust_id int, level_id int)

INSERT #c(cust_id, parent_cust_id, level_id) VALUES(@cust_id, null, 0)

EXEC usp_ccps_cust_tree_build 

SELECT #c.cust_id, #c.parent_cust_id, c.cust_name, #c.level_id
	FROM #c, ccps_customer c
	WHERE c.cust_id = #c.cust_id
	ORDER BY c.cust_name


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

