SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ccps_user_retrieve]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ccps_user_retrieve]
GO


CREATE PROCEDURE usp_ccps_user_retrieve
	(@user_id int = NULL,
	@login_name varchar(255) = NULL,
	@password  varchar(255) = NULL,
	@cust_id int = NULL)
AS

IF ((@user_id IS NULL) AND (@login_name IS NULL)) RETURN

SELECT 
		user_id,
		user_name,
		last_name,
		password,
		cust_id,
		login_name,
		position,
		phone,
		email,
		descrip,
		status_id, 
		pass_exp_date, 
		pass_notify_date, 
		recip_owner
	FROM ccps_user
	WHERE
		((user_id = @user_id) OR (@user_id IS NULL))
		AND
		((login_name = @login_name) OR (@login_name IS NULL))
		AND
		((password = @password) OR (@password IS NULL))
		AND
		((cust_id = @cust_id) OR (@cust_id IS NULL))

IF (@@rowcount > 1) RAISERROR ('Too many users with the same login or id.', 16, 1)
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

