SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ccnt_link_renaming_list_get]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ccnt_link_renaming_list_get]
GO


CREATE PROCEDURE usp_ccnt_link_renaming_list_get
(
	@cust_id	int
)
AS


SELECT
	l.link_id, 
	l.link_name, 
	l.link_type_id, 
             t.type_name,
	l.link_definition
FROM
	ccnt_link_renaming l
	LEFT OUTER JOIN ccnt_link_renaming_type t on l.link_type_id = t.type_id
WHERE
	l.cust_id = @cust_id
ORDER BY
	l.link_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

