SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ctgt_formula_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ctgt_formula_save]
GO


CREATE PROCEDURE usp_ctgt_formula_save
(
	@filter_id int = NULL,
	@attr_id int = NULL,
	@operation_id int = NULL,
	@value1 varchar(255) = NULL,
	@positive_flag int = NULL,
	@value2 varchar(255) = NULL
)
AS

IF EXISTS (SELECT TOP 1 * FROM ctgt_formula WHERE (filter_id = @filter_id))
BEGIN
	UPDATE ctgt_formula
		SET
			attr_id = @attr_id,
			operation_id = @operation_id,
			value1 = @value1,
			positive_flag = @positive_flag,
			value2 = @value2
		WHERE
			(filter_id = @filter_id)
END
ELSE
BEGIN
	INSERT ctgt_formula
		(
			filter_id,
			attr_id,
			operation_id,
			value1,
			positive_flag,
			value2
		)
		VALUES
		(
			@filter_id,
			@attr_id,
			@operation_id,
			@value1,
			@positive_flag,
			@value2
		)

END

SELECT @filter_id


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

