SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_cque_msg_header_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_cque_msg_header_save]
GO


CREATE PROCEDURE usp_cque_msg_header_save
(
	@camp_id int = NULL,
	@from_name varchar(255) = NULL,
	@from_address varchar(255) = NULL,
	@from_address_id int = NULL,
	@subject_html varchar(255) = NULL,
	@reply_to varchar(255) = NULL,
	@subject_text varchar(255) = NULL,
	@subject_aol varchar(255) = NULL
)
AS

/*  JPM 05/18/04
  To fix a problem with Text subject lines not being updated correctly, this stored procedure
  will assign the @subject_html parameter to all subject columns in the database (subject_html, subject_text, and subject_aol).
*/
IF EXISTS (SELECT TOP 1 * FROM cque_msg_header WHERE (camp_id = @camp_id))
BEGIN
	UPDATE cque_msg_header
		SET
			from_name = @from_name,
			from_address = @from_address,
			from_address_id = @from_address_id,
			subject_html = @subject_html,
			subject_text = @subject_html,
			subject_aol = @subject_html,
			reply_to = @reply_to
		WHERE
			(camp_id = @camp_id)
END
ELSE
BEGIN
	INSERT cque_msg_header
		(
			camp_id,
			from_name,
			from_address,
			from_address_id,
			subject_html,
			subject_text,
			subject_aol,
			reply_to
		)
		VALUES
		(
			@camp_id,
			@from_name,
			@from_address,
			@from_address_id,
			@subject_html,
			@subject_html,
			@subject_html,
			@reply_to
		)
END

SELECT @camp_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

