SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_crpt_camp_pos_connect_insert]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_crpt_camp_pos_connect_insert]
GO


CREATE PROCEDURE usp_crpt_camp_pos_connect_insert (
	@origin_link_id int,
	@resulting_link_id int,
	@camp_id int,
	@steps int,
	@tot_clicks int,
	@dist_clicks int)
AS

IF EXISTS (SELECT 1 FROM crpt_camp_pos_connect WHERE origin_link_id = @origin_link_id AND resulting_link_id = @resulting_link_id AND camp_id = @camp_id AND steps = @steps)
	UPDATE crpt_camp_pos_connect SET tot_clicks = @tot_clicks, dist_clicks = @dist_clicks
		WHERE  origin_link_id = @origin_link_id AND resulting_link_id = @resulting_link_id AND camp_id = @camp_id AND steps = @steps
ELSE
	INSERT crpt_camp_pos_connect (origin_link_id,
			resulting_link_id,
			camp_id,
			steps,
			tot_clicks,
			dist_clicks)
		VALUES (@origin_link_id,
			@resulting_link_id,
			@camp_id,
			@steps,
			@tot_clicks,
			@dist_clicks)

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

