SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_cupd_batch_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_cupd_batch_save]
GO


CREATE PROCEDURE usp_cupd_batch_save
(
	@batch_id int = NULL,
	@type_id int = NULL,
	@cust_id int = NULL,
	@batch_name varchar(255) = NULL,
	@descrip varchar(255) = NULL
)
AS

IF EXISTS (SELECT TOP 1 * FROM cupd_batch WHERE (batch_id = @batch_id))
BEGIN
	UPDATE cupd_batch
		SET
			type_id = @type_id,
			cust_id = @cust_id,
			batch_name = @batch_name,
			descrip = @descrip
		WHERE
			(batch_id = @batch_id)
END
ELSE
BEGIN
	DECLARE @id_type_id int, @next_id int
	SET @id_type_id = 150 -- batch
	EXECUTE usp_ccps_next_id_get @cust_id, @id_type_id, @batch_id OUTPUT

	INSERT cupd_batch
		(
			batch_id,
			type_id,
			cust_id,
			batch_name,
			descrip
		)
		VALUES
		(
			@batch_id,
			@type_id,
			@cust_id,
			@batch_name,
			@descrip
		)
END

SELECT @batch_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

