SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ccnt_cont_clone_tricky]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ccnt_cont_clone_tricky]
GO


CREATE PROCEDURE usp_ccnt_cont_clone_tricky
(
	@cont_id int,
	@use_html int,
	@use_text int,
	@use_aol int,
	@new_cont_id int OUTPUT

)
AS 

-- === === === ---

PRINT 'usp_ccnt_cont_clone_tricky @cont_id=' + CAST(@cont_id as varchar)  + ' start'

-- === === === ---
 
DECLARE @cust_id int
SELECT @cust_id = cust_id FROM ccnt_content WHERE cont_id = @cont_id

IF @cust_id IS NULL
BEGIN
	RAISERROR ('ERROR usp_ccnt_cont_clone: cont does not exist.', 11, 1)
	RETURN
END

-- === === === ---

DECLARE @cont_unique_id_type int
DECLARE @next_cont_id int

SET @cont_unique_id_type = 170
EXEC usp_ccps_next_id_get @cust_id, @cont_unique_id_type, @next_cont_id OUTPUT, 1

-- === === === ---

INSERT ccnt_content
		(cont_id,
		cont_name,
		status_id,
		cust_id,
		charset_id,
		type_id,
		reusable_flag,
		origin_cont_id, 
		cti_doc_id)
	SELECT
		@next_cont_id,
		cont_name,
		status_id,
		cust_id,
		charset_id,
		type_id,
		reusable_flag,
		@cont_id, 
		cti_doc_id
	FROM ccnt_content
	WHERE cont_id = @cont_id

-- === === === ---

DECLARE @parent_cont_id int
DECLARE @seq int
DECLARE @child_cont_id int
DECLARE @filter_id int
DECLARE @default_flag int

DECLARE @new_child_cont_id int
DECLARE @new_filter_id int

DECLARE @cp_cursor CURSOR

SET @cp_cursor = CURSOR FAST_FORWARD FOR 
	SELECT
		parent_cont_id,
		seq,
		child_cont_id,
		filter_id,
		default_flag
	FROM ccnt_cont_part
	WHERE parent_cont_id = @cont_id

OPEN @cp_cursor

FETCH NEXT FROM @cp_cursor
	INTO
		@parent_cont_id,
		@seq,
		@child_cont_id,
		@filter_id,
		@default_flag

WHILE @@FETCH_STATUS = 0
BEGIN

	SET @new_child_cont_id = NULL
	SET @new_filter_id = NULL

	IF(@child_cont_id IS NOT NULL) EXEC usp_ccnt_cont_clone_tricky @child_cont_id, @use_html, @use_text, @use_aol, @new_child_cont_id OUTPUT
	IF(@filter_id IS NOT NULL) EXEC usp_ctgt_filter_clone_full @filter_id, @new_filter_id OUTPUT

	INSERT ccnt_cont_part
			(parent_cont_id,
			seq,
			child_cont_id,
			filter_id,
			default_flag)
		VALUES
			(@next_cont_id,
			@seq,
			@new_child_cont_id,
			@new_filter_id,
			@default_flag)

	FETCH NEXT FROM @cp_cursor
		INTO
			@parent_cont_id,
			@seq,
			@child_cont_id,
			@filter_id,
			@default_flag
END

CLOSE @cp_cursor
DEALLOCATE @cp_cursor

-- === === === ---

INSERT ccnt_cont_send_param
		(cont_id,
		unsub_msg_id,
		unsub_msg_position,
		send_html_flag,
		send_text_flag,
		send_aol_flag)
	SELECT
		@next_cont_id,
		unsub_msg_id,
		unsub_msg_position,
		send_html_flag,
		send_text_flag,
		send_aol_flag
	FROM ccnt_cont_send_param
	WHERE cont_id = @cont_id

-- === === === ---

INSERT ccnt_cont_body
		(cont_id,
		html_part,
		text_part,
		aol_part)
	SELECT
		@next_cont_id,
		CASE
			WHEN (ISNULL(@use_html,0)=0) THEN null
			ELSE html_part
		END,
		CASE
			WHEN (ISNULL(@use_text,0)=0) THEN null
			ELSE text_part
		END,
		CASE
			WHEN (ISNULL(@use_aol,0)=0) THEN null
			ELSE aol_part
		END
	FROM ccnt_cont_body
	WHERE cont_id = @cont_id

-- === === === ---

-- for now we do not need to clone
-- ccnt_cont_edit_info
-- put code here if you need it

-- === === === ---

DECLARE @link_count int

SELECT
	id = identity(int),
	link_id,
	link_name,
	cust_id,
	camp_id,
	cont_id,
	href
INTO #cjtk_link
FROM cjtk_link
WHERE cont_id = @cont_id

SET @link_count = @@rowcount

IF (@link_count > 0)
BEGIN
	DECLARE @link_unique_id_type int
	DECLARE @next_link_id int

	SET @link_unique_id_type = 130
	EXEC usp_ccps_next_id_get @cust_id, @link_unique_id_type, @next_link_id OUTPUT, @link_count

	INSERT cjtk_link
		(link_id,
		link_name,
		cust_id,
		camp_id,
		cont_id,
		href,
		origin_link_id)
	SELECT
		id + @next_link_id - 1,
		link_name,
		cust_id,
		camp_id,
		@next_cont_id,
		href,
		link_id
	FROM #cjtk_link
END

DROP TABLE #cjtk_link

-- === === === ---

PRINT 'usp_ccnt_cont_clone_tricky @cont_id=' + CAST(@cont_id as varchar)  + ' finish'

-- === === === ---

SET @new_cont_id = @next_cont_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

