SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_cque_camp_request_list_get]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_cque_camp_request_list_get]
GO


CREATE PROCEDURE usp_cque_camp_request_list_get
(
	@cust_id_list nvarchar(4000), 
	@camp_type_id int
)
AS

CREATE TABLE #tcust (cust_id int)

DECLARE @sql nvarchar(4000)
SET @sql = 'INSERT #tcust(cust_id) SELECT cust_id FROM ccps_customer WHERE cust_id IN (' + @cust_id_list + ')'
EXEC (@sql)

SELECT c.camp_id
	FROM
		cque_campaign c WITH(NOLOCK),
		cque_schedule s WITH(NOLOCK)
	WHERE
		c.camp_id = s.camp_id
		AND s.start_date <= getdate()
		AND c.approval_flag = 1
		AND c.status_id >= 50
		AND c.status_id < 57
		AND (c.media_type_id is null or media_type_id = 1)
		AND c.type_id = @camp_type_id
		AND c.cust_id in (SELECT cust_id FROM #tcust)
		AND
		(
			(
				( ISNULL(s.start_daily_weekday_mask, 127) & POWER(2,DATEPART(weekday, getdate())-1) ) > 0 
				AND			
				(
					( s.start_daily_time IS NULL )
					OR
					(
						CAST(s.start_daily_time as float) - FLOOR(CAST(s.start_daily_time as float))
						<=
						CAST(getdate() as float) - FLOOR(CAST(getdate() as float))
					)
				) 
				AND			
				(
					( s.end_daily_time IS NULL )
					OR
					(
						CAST(getdate() as float) - FLOOR(CAST(getdate() as float))
						<=
						CAST(s.end_daily_time as float) - FLOOR(CAST(s.end_daily_time as float))
					)
				) 
			)
			OR
			(
				( ISNULL(s.start_daily_weekday_mask, 127) & POWER(2,DATEPART(weekday, getdate()-1)-1) ) > 0 
				AND			
				(
					CAST(s.end_daily_time as float) - FLOOR(CAST(s.end_daily_time as float))
					<
					CAST(s.start_daily_time as float) - FLOOR(CAST(s.start_daily_time as float))
				) 
				AND			
				(
					CAST(s.start_daily_time as float) - FLOOR(CAST(s.start_daily_time as float))
					<=
					CAST(getdate() as float) - FLOOR(CAST(getdate() as float))
				) 
			)
		)

DROP TABLE #tcust

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

