SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_cque_linked_camp_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_cque_linked_camp_save]
GO


CREATE PROCEDURE usp_cque_linked_camp_save
(
	@camp_id int = NULL,
	@linked_camp_id int = NULL,
	@form_id int = NULL
)
AS

IF EXISTS (SELECT TOP 1 * FROM cque_linked_camp WHERE (camp_id = @camp_id))
BEGIN
	UPDATE cque_linked_camp
		SET
			linked_camp_id = @linked_camp_id,
			form_id = @form_id
		WHERE
			(camp_id = @camp_id)
END
ELSE
BEGIN
	INSERT cque_linked_camp
		(
			camp_id,
			linked_camp_id,
			form_id
		)
		VALUES
		(
			@camp_id,
			@linked_camp_id,
			@form_id
		)
END

SELECT @camp_id





GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

