SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ctgt_filter_edit_info_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ctgt_filter_edit_info_save]
GO


CREATE PROCEDURE usp_ctgt_filter_edit_info_save
(
	@filter_id int = NULL,
	@creator_id int = NULL,
	@create_date datetime = NULL,
	@modifier_id int = NULL,
	@modify_date datetime = NULL
)
AS

IF EXISTS (SELECT TOP 1 * FROM ctgt_filter_edit_info WHERE (filter_id = @filter_id))
BEGIN
	UPDATE ctgt_filter_edit_info
		SET
			creator_id = ISNULL(creator_id, @creator_id),
			create_date = ISNULL(create_date, ISNULL(@create_date, getdate())),
			modifier_id = @modifier_id,
			modify_date = ISNULL(@modify_date, getdate())
		WHERE
			(filter_id = @filter_id)
END
ELSE
BEGIN
	INSERT ctgt_filter_edit_info
		(
			filter_id,
			creator_id,
			create_date,
			modifier_id,
			modify_date
		)
		VALUES
		(
			@filter_id,
			ISNULL(@creator_id,@modifier_id),
			ISNULL(@create_date, getdate()),
			ISNULL(@modifier_id,@creator_id),
			ISNULL(@modify_date, getdate())
		)
END

SELECT @filter_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

