SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_cupd_import_newsletter_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_cupd_import_newsletter_save]
GO


CREATE PROCEDURE usp_cupd_import_newsletter_save
(
	@import_id int = NULL,
	@attr_id int = NULL
)
AS

IF NOT EXISTS (SELECT TOP 1 * FROM cupd_import_newsletter WHERE (import_id = @import_id) AND (attr_id = @attr_id))
BEGIN
	INSERT cupd_import_newsletter
		(
			import_id,
			attr_id
		)
		VALUES
		(
			@import_id,
			@attr_id
		)
END

SELECT @import_id, @attr_id





GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

