SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ccps_cont_attr_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ccps_cont_attr_save]
GO


CREATE PROCEDURE usp_ccps_cont_attr_save
(
	@cust_id int=null, 
	@attr_id int=null, 
	@attr_name varchar(255)=null, 
	@attr_value varchar(255)=null, 
	@propagate_flag int=null
)
AS
DECLARE @real_attr_id int
SET @real_attr_id = null
IF (@attr_id IS NULL) 
BEGIN
	-- create new attr for the customer, insert new attr value
	INSERT ccps_cont_attr (attr_name, cust_id, propagate_flag) VALUES (@attr_name, @cust_id, @propagate_flag)  
	SET @real_attr_id = @@Identity
	INSERT ccps_cont_attr_value (cust_id, attr_id, attr_value) VALUES (@cust_id, @real_attr_id, @attr_value)
END
ELSE
BEGIN
	IF (EXISTS (SELECT TOP 1 * FROM ccps_cont_attr WHERE (attr_id = @attr_id)))
	BEGIN
		SET @real_attr_id = @attr_id
		IF (EXISTS (SELECT TOP 1 * FROM ccps_cont_attr WHERE (cust_id = @cust_id AND attr_id = @attr_id)))
		BEGIN
			 -- the customer owns this attr
                                         -- update attr namem, propagate flag  if so requested
                                        UPDATE ccps_cont_attr SET attr_name = @attr_name, propagate_flag = @propagate_flag  WHERE (cust_id = @cust_id AND attr_id = @attr_id)
                                        -- update or insert attr value
			IF (EXISTS (SELECT TOP 1 * FROM ccps_cont_attr_value WHERE (cust_id = @cust_id AND attr_id = @attr_id)))
			BEGIN
				UPDATE ccps_cont_attr_value SET attr_value = @attr_value WHERE (cust_id = @cust_id AND attr_id = @attr_id)
			END
			ELSE
			BEGIN
				INSERT ccps_cont_attr_value (cust_id, attr_id, attr_value) VALUES (@cust_id, @attr_id, @attr_value)
			END
		END
		ELSE
		BEGIN
			IF (EXISTS (SELECT TOP 1 * FROM ccps_customer c, ccps_cont_attr a WHERE (c.cust_id = @cust_id AND a.attr_id = @attr_id AND a.cust_id = c.parent_cust_id AND a.propagate_flag = 1)))
			BEGIN
				-- the customer inherits this attr from parent, insert/update attr value
				IF (EXISTS (SELECT TOP 1 * FROM ccps_cont_attr_value WHERE (cust_id = @cust_id AND attr_id = @attr_id)))
				BEGIN
					UPDATE ccps_cont_attr_value SET attr_value = @attr_value WHERE (cust_id = @cust_id AND attr_id =@attr_id)
				END
				ELSE
				BEGIN
					INSERT ccps_cont_attr_value (cust_id, attr_id, attr_value) VALUES (@cust_id, @attr_id, @attr_value)
				END
			END
		END
	END
END

SELECT @real_attr_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

