SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_cque_camp_edit_info_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_cque_camp_edit_info_save]
GO


CREATE PROCEDURE usp_cque_camp_edit_info_save
(
	@camp_id int = NULL,
	@creator_id int = NULL,
	@create_date datetime = NULL,
	@modifier_id int = NULL,
	@modify_date datetime = NULL
)
AS

IF EXISTS (SELECT TOP 1 * FROM cque_camp_edit_info WHERE (camp_id = @camp_id))
BEGIN
	UPDATE cque_camp_edit_info
		SET
			creator_id = ISNULL(creator_id, @creator_id),
			create_date = ISNULL(create_date, ISNULL(@create_date, getdate())),
			modifier_id = @modifier_id,
			modify_date = ISNULL(@modify_date, getdate())
		WHERE
			(camp_id = @camp_id)
END
ELSE
BEGIN
	INSERT cque_camp_edit_info
		(
			camp_id,
			creator_id,
			create_date,
			modifier_id,
			modify_date
		)
		VALUES
		(
			@camp_id,
			ISNULL(@creator_id,@modifier_id),
			ISNULL(@create_date, getdate()),
			ISNULL(@modifier_id,@creator_id),
			ISNULL(@modify_date, getdate())
		)
END

SELECT @camp_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

