SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ctgt_preview_attr_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ctgt_preview_attr_save]
GO


CREATE PROCEDURE usp_ctgt_preview_attr_save
(
	@filter_id int = NULL,
	@attr_id int = NULL,
	@display_seq int = NULL
)
AS

IF EXISTS (SELECT TOP 1 * FROM ctgt_preview_attr WHERE (filter_id = @filter_id) AND (attr_id = @attr_id))
BEGIN
	UPDATE ctgt_preview_attr
		SET
			attr_id = @attr_id,
			display_seq = @display_seq
		WHERE
			(filter_id = @filter_id) AND
			(attr_id = @attr_id)
END
ELSE
BEGIN
	INSERT ctgt_preview_attr
		(
			filter_id,
			attr_id,
			display_seq
		)
		VALUES
		(
			@filter_id,
			@attr_id,
			@display_seq
		)
END

SELECT @filter_id, @attr_id





GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

