SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_cftp_ftp_task_import_template_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_cftp_ftp_task_import_template_save]
GO


CREATE PROCEDURE usp_cftp_ftp_task_import_template_save
(
	@task_id int = NULL,
	@recip_import_template_id int = NULL,
	@entity_import_template_id int = NULL
)
AS

IF EXISTS (SELECT TOP 1 * FROM cftp_ftp_task_import_template WHERE (task_id = @task_id))
BEGIN
	UPDATE cftp_ftp_task_import_template
		SET
			recip_import_template_id = @recip_import_template_id,
			entity_import_template_id = @entity_import_template_id
		WHERE
			(task_id = @task_id)
END
ELSE
BEGIN
	INSERT cftp_ftp_task_import_template
		(
			task_id,
			recip_import_template_id,
			entity_import_template_id
		)
		VALUES
		(
			@task_id,
			@recip_import_template_id,
			@entity_import_template_id
		)
END

SELECT @task_id
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

