SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ccps_cust_batch_init]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ccps_cust_batch_init]
GO


CREATE PROCEDURE usp_ccps_cust_batch_init (@cust_id int)
AS
DECLARE @batch_id int
DECLARE @batch_exists int

SELECT @batch_exists = count(*) FROM cupd_batch WHERE cust_id = @cust_id AND type_id = 2
IF (@batch_exists = 0)
BEGIN
	EXEC usp_ccps_next_id_get @cust_id, 150, @batch_id OUTPUT

	INSERT cupd_batch(batch_id, type_id, cust_id, batch_name)
		VALUES (@batch_id, 2, @cust_id, 'Manual Import Batch')
END

SELECT @batch_exists = count(*) FROM cupd_batch WHERE cust_id = @cust_id AND type_id = 4
IF (@batch_exists = 0)
BEGIN
	EXEC usp_ccps_next_id_get @cust_id, 150, @batch_id OUTPUT

	INSERT cupd_batch(batch_id, type_id, cust_id, batch_name)
		VALUES (@batch_id, 4, @cust_id, 'DB Sync Batch')
END

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

