SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_cque_camp_unsub_msg_get]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_cque_camp_unsub_msg_get]
GO


CREATE PROCEDURE usp_cque_camp_unsub_msg_get (@cust_id int, @camp_id int) AS

DECLARE @unsub_msg_id int, @unsub_msg_position int


SELECT @unsub_msg_id = c.unsub_msg_id, @unsub_msg_position = ISNULL(c.unsub_msg_position,1) -- default to bottom if not specified
	FROM cque_campaign g, ccnt_cont_send_param c
	WHERE c.cont_id = g.cont_id
		AND g.camp_id = @camp_id

IF @unsub_msg_id IS NOT NULL
	SELECT @unsub_msg_position, text_msg, html_msg, aol_msg 
		FROM ccps_unsub_msg 
		WHERE msg_id = @unsub_msg_id AND cust_id = @cust_id
ELSE
	SELECT TOP 1 '1', text_msg, html_msg, aol_msg 
		FROM ccps_unsub_msg 
		WHERE cust_id = @cust_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

