SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ccnt_scrape_tag_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ccnt_scrape_tag_save]
GO


CREATE PROCEDURE usp_ccnt_scrape_tag_save
(
	@tag_id int=null,
	@scrape_id int=null,
	@level int=null,
	@tag_name varchar(255)=null
)
AS

IF EXISTS (SELECT TOP 1 * FROM ccnt_scrape_tag WHERE (tag_id = @tag_id) AND (scrape_id = @scrape_id))
BEGIN
	UPDATE ccnt_scrape_tag
		SET
			[level] = @level,
			tag_name = @tag_name
		WHERE
			(tag_id = @tag_id)
			AND (scrape_id = @scrape_id)

END
ELSE
BEGIN
	INSERT ccnt_scrape_tag
		(
			scrape_id,
			tag_id,
			[level],
			tag_name
		)
		VALUES
		(
			@scrape_id,
			@tag_id,
			@level,
			@tag_name
		)
END

SELECT @scrape_id, @tag_id



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

