SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ccnt_link_renaming_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ccnt_link_renaming_save]
GO


CREATE PROCEDURE usp_ccnt_link_renaming_save
(
	@link_id int=null,
	@link_name varchar(255)=null,
	@cust_id int=null,
	@link_type_id int=null,
	@link_definition varchar(255)=null
)
AS

DECLARE @new_link_id int
SET @new_link_id = @link_id

DECLARE @existing_link_id int
SET @existing_link_id = null

SELECT TOP 1 @existing_link_id = link_id FROM ccnt_link_renaming WHERE cust_id = @cust_id AND link_id = @link_id
IF (@existing_link_id = null) 
BEGIN
SELECT TOP 1 @existing_link_id = link_id FROM ccnt_link_renaming WHERE cust_id = @cust_id AND link_type_id = @link_type_id AND link_definition = @link_definition
END

IF ( @existing_link_id != null)
BEGIN
	UPDATE ccnt_link_renaming
		SET
			link_name = @link_name,
			link_type_id = @link_type_id,
			link_definition = @link_definition
		WHERE
			(link_id = @existing_link_id)
END
ELSE
BEGIN
	INSERT ccnt_link_renaming
		(
			link_name,
			cust_id,
			link_type_id,
			link_definition
		)
		VALUES
		(
			@link_name,
			@cust_id,
			@link_type_id,
			@link_definition
		)

	SET @new_link_id = @@Identity
END

SELECT @new_link_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

