SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_cque_wizard_camp_list_get]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_cque_wizard_camp_list_get]
GO


CREATE  PROCEDURE usp_cque_wizard_camp_list_get
(
    @customer_id    int,
    @category_id    int
)
AS

DECLARE @tmp_cat TABLE (c_id int, obj_id int)

IF (@category_id = 0) SET @category_id = null

/* get category list */
INSERT @tmp_cat
SELECT category_id, [object_id]
  FROM ccps_object_category
 WHERE cust_id = @customer_id 
   AND type_id = 190 
   AND @category_id = category_id

/* storage for output */
CREATE TABLE #tmp (camp_id int,  camp_name varchar(255), display_name varchar(255), modify_date datetime, status_id int)

INSERT #tmp (camp_id, camp_name, display_name,  modify_date, status_id)
SELECT c.camp_id, c.camp_name, s.display_name, cei.modify_date, c.status_id
  FROM cque_campaign c,
       ccnt_cont_edit_info oei,
       cque_camp_status s,
       cque_camp_edit_info cei
 WHERE c.cust_id = @customer_id
   AND (c.type_id = 2)
   AND ( @category_id IS NULL OR @category_id IN (SELECT c_id FROM @tmp_cat WHERE obj_id = c.camp_id))
   AND c.status_id = s.status_id
   AND c.origin_camp_id IS NULL
   AND c.camp_id = cei.camp_id
   AND c.cont_id = oei.cont_id
   AND oei.wizard_id IS NOT NULL
   AND c.status_id <> 90

/* update campaigns with test info */
UPDATE #tmp
   SET status_id = c.status_id, display_name  = 'Test: ' + s.display_name
  FROM cque_campaign c, cque_camp_status s
 WHERE c.origin_camp_id = #tmp.camp_id 
   AND c.status_id < 60 
   AND c.type_id = 1 
   AND c.status_id = s.status_id 

/* update campaigns with other info */
UPDATE #tmp
   SET status_id = c.status_id, display_name  = s.display_name
  FROM cque_campaign c, cque_camp_status s
 WHERE c.origin_camp_id = #tmp.camp_id 
   AND c.type_id != 1 
   AND c.status_id = s.status_id 

/* return stored values */
SELECT camp_id,
       camp_name, 
       display_name,
       CONVERT(VARCHAR(32), modify_date, 100)
  FROM #tmp
 ORDER BY modify_date DESC

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

