SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ccps_cust_feature_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ccps_cust_feature_save]
GO


CREATE PROCEDURE usp_ccps_cust_feature_save
(
	@cust_id int = NULL,
	@feature_id int = NULL
)
AS

IF NOT EXISTS (SELECT TOP 1 * FROM ccps_cust_feature WHERE (cust_id = @cust_id) AND (feature_id = @feature_id))
BEGIN
	INSERT ccps_cust_feature
		(
			cust_id,
			feature_id
		)
		VALUES
		(
			@cust_id,
			@feature_id
		)
END

SELECT @cust_id, @feature_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

