SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_cupd_import_template_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_cupd_import_template_save]
GO


CREATE PROCEDURE usp_cupd_import_template_save
(
	@template_id int = NULL,
	@type_id int = NULL,
	@batch_id int = NULL,
	@first_row int = NULL,
	@field_separator varchar(255) = NULL,
	@upd_rule_id int = NULL,
	@full_name_flag int = NULL,
	@email_type_flag int = NULL,
	@upd_hierarchy_id int = NULL,
	@auto_commit_flag int = NULL,
	@multi_value_field_separator varchar(255) = NULL,
	@name_import_as_file_flag int = NULL,
	@filter_per_import_flag int = NULL,
	@template_name varchar(255) = NULL
)
AS

IF EXISTS (SELECT TOP 1 * FROM cupd_import_template WHERE (template_id = @template_id))
BEGIN
	UPDATE cupd_import_template
		SET
			type_id = @type_id,
			batch_id = @batch_id,
			first_row = @first_row,
			field_separator = @field_separator,
			upd_rule_id = @upd_rule_id,
			full_name_flag = @full_name_flag,
			email_type_flag = @email_type_flag,
			upd_hierarchy_id = @upd_hierarchy_id,
			auto_commit_flag = @auto_commit_flag,
			multi_value_field_separator = @multi_value_field_separator,
			name_import_as_file_flag = @name_import_as_file_flag,
			filter_per_import_flag = @filter_per_import_flag,
			template_name = @template_name
		WHERE
			(template_id = @template_id)
END
ELSE
BEGIN
	INSERT cupd_import_template
		(
			type_id,
			batch_id,
			first_row,
			field_separator,
			upd_rule_id,
			full_name_flag,
			email_type_flag,
			upd_hierarchy_id,
			auto_commit_flag,
			multi_value_field_separator,
			name_import_as_file_flag, 
			filter_per_import_flag,
			template_name
		)
		VALUES
		(
			@type_id,
			@batch_id,
			@first_row,
			@field_separator,
			@upd_rule_id,
			@full_name_flag,
			@email_type_flag,
			@upd_hierarchy_id,
			@auto_commit_flag,
			@multi_value_field_separator,
			@name_import_as_file_flag,
			@filter_per_import_flag,
			@template_name
		)

	SET @template_id = @@identity
END

SELECT @template_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

