SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ccps_link_append_get]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ccps_link_append_get]
GO


CREATE PROCEDURE usp_ccps_link_append_get (@cust_id int) AS

CREATE TABLE #cust_parent_chain (cust_id int, level_id int)

EXEC usp_ccps_cust_parent_chain_build @cust_id, 0

SELECT TOP 1 append_format 
	FROM ccps_link_append a, #cust_parent_chain p
	WHERE a.cust_id = p.cust_id
	ORDER BY level_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

