SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ccnt_scrape_format_list_get]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ccnt_scrape_format_list_get]
GO



CREATE PROCEDURE usp_ccnt_scrape_format_list_get
(
	@cust_id	int
)
AS


SELECT
	f.format_id, 
	f.format_name, 
	isnull(CONVERT(VARCHAR(32), f.modified_date, 100), '----') as 'modified_date',
	s.scrape_name
FROM
	ccnt_scrape_cont_format f
	LEFT OUTER JOIN ccnt_scrape s on f.scrape_id = s.scrape_id
WHERE
	s.cust_id = @cust_id
ORDER BY
	f.modified_date, f.format_name

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

