SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ccps_cust_parent_chain_get]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ccps_cust_parent_chain_get]
GO


CREATE PROCEDURE  usp_ccps_cust_parent_chain_get (@cust_id int)
AS


CREATE TABLE #cust_parent_chain (cust_id int, level_id int)

EXEC usp_ccps_cust_parent_chain_build @cust_id, 0

select cust_id from #cust_parent_chain

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

