SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_cntt_entity_import_statistics_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_cntt_entity_import_statistics_save]
GO

CREATE PROCEDURE usp_cntt_entity_import_statistics_save
(
	@import_id int = NULL,
	@total_rows int = NULL,
	@parsed_rows int = NULL,
	@not_parsable_rows int = NULL,
	@warning_rows int = NULL,
	@invalid_xml_chars int = NULL,
	@missed_fk_entities int = NULL,
	@bad_pk_entities int = NULL,
	@new_entities int = NULL,
	@old_entities int = NULL,
	@dup_entities int = NULL,
	@inserted_entities int = NULL,
	@updated_entities int = NULL,
	@error_msg varchar(255) = NULL
)
AS

IF EXISTS (SELECT TOP 1 * FROM cntt_entity_import_statistics WHERE (import_id = @import_id))
BEGIN
	UPDATE cntt_entity_import_statistics
		SET
			total_rows = @total_rows,
			parsed_rows = @parsed_rows,
			not_parsable_rows = @not_parsable_rows,
			warning_rows = @warning_rows,
			invalid_xml_chars = @invalid_xml_chars,
			missed_fk_entities = @missed_fk_entities,
			bad_pk_entities = @bad_pk_entities,
			new_entities = @new_entities,
			old_entities = @old_entities,
			dup_entities = @dup_entities,
			inserted_entities = @inserted_entities,
			updated_entities = @updated_entities,
			error_msg = @error_msg
		WHERE
			(import_id = @import_id)
END
ELSE
BEGIN
	INSERT cntt_entity_import_statistics
		(
			import_id,
			total_rows,
			parsed_rows,
			not_parsable_rows,
			warning_rows,
			invalid_xml_chars,
			missed_fk_entities,
			bad_pk_entities,
			new_entities,
			old_entities,
			dup_entities,
			inserted_entities,
			updated_entities,
			error_msg
		)
		VALUES
		(
			@import_id,
			@total_rows,
			@parsed_rows,
			@not_parsable_rows,
			@warning_rows,
			@invalid_xml_chars,
			@missed_fk_entities,
			@bad_pk_entities,
			@new_entities,
			@old_entities,
			@dup_entities,
			@inserted_entities,
			@updated_entities,
			@error_msg
		)
END

SELECT @import_id


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

