SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ctgt_filter_preview_attrs_get]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ctgt_filter_preview_attrs_get]
GO


CREATE PROCEDURE usp_ctgt_filter_preview_attrs_get
(
	@cust_id int,
	@filter_id int
)
AS

SELECT DISTINCT
	ca.cust_id,
	ca.attr_id,
	ca.display_name + ' (' + dt.type_name + ')',
	0,
	0,
	pa.display_seq,
	0,
	0, 
	0
FROM
	ctgt_preview_attr pa,
	ccps_cust_attr ca,
	ccps_attribute a,
	ccps_data_type dt
WHERE
	pa.filter_id = @filter_id AND
	ca.cust_id = @cust_id AND
	ca.attr_id = pa.attr_id AND
	a.attr_id = ca.attr_id AND
	a.type_id = dt.type_id

ORDER BY
	pa.display_seq,
	ca.display_name + ' (' + dt.type_name + ')'
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

