SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_cque_macro_attr_get]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_cque_macro_attr_get]
GO


CREATE PROCEDURE usp_cque_macro_attr_get (@cust_id int)
AS

-- this is taken from v4
-- it makes not alot of sence, but it worked in 4
-- no time to review it ...

CREATE TABLE #c(cust_id int, parent_cust_id int, level_id int)
INSERT #c(cust_id, parent_cust_id, level_id) VALUES(@cust_id, null, 0)
EXEC usp_ccps_cust_tree_build 

SELECT DISTINCT a.attr_name
	FROM
		ccps_attribute a,
		ccps_cust_attr ca
	WHERE
		ca.attr_id = a.attr_id AND
		ca.cust_id in (SELECT DISTINCT cust_id FROM #c)

DROP TABLE #c

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

