SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ccnt_cont_part_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ccnt_cont_part_save]
GO


CREATE PROCEDURE usp_ccnt_cont_part_save
(
	@parent_cont_id int = NULL,
	@seq int = NULL,
	@child_cont_id int = NULL,
	@filter_id int = NULL,
	@default_flag int = NULL
)
AS

IF EXISTS (SELECT TOP 1 * FROM ccnt_cont_part WHERE (parent_cont_id = @parent_cont_id) AND (seq = @seq))
BEGIN
	UPDATE ccnt_cont_part
		SET
			child_cont_id = @child_cont_id,
			filter_id = @filter_id,
			default_flag = @default_flag
		WHERE
			(parent_cont_id = @parent_cont_id) AND
			(seq = @seq)
END
ELSE
BEGIN
	IF(@seq IS NULL)
	BEGIN
		SELECT @seq = MAX(seq) + 1 FROM ccnt_cont_part WHERE parent_cont_id = @parent_cont_id
		IF(@seq IS NULL) SET @seq = 0
	END

	EXEC usp_ccnt_cont_part_validate @parent_cont_id, @child_cont_id

	INSERT ccnt_cont_part
		(
			parent_cont_id,
			seq,
			child_cont_id,
			filter_id,
			default_flag
		)
		VALUES
		(
			@parent_cont_id,
			@seq,
			@child_cont_id,
			@filter_id,
			@default_flag
		)
END

SELECT @parent_cont_id, @seq

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

