SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_cque_camp_clone_full]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_cque_camp_clone_full]
GO


CREATE PROCEDURE usp_cque_camp_clone_full
(
	@camp_id int,
	@sample_id int = NULL,
	@new_camp_id int = NULL OUTPUT,
	@use_reserved_camp_id int = NULL
)
AS

-- === === === ---

PRINT 'usp_cque_camp_clone_full @camp_id=' + CAST(@camp_id as varchar)  + ' start'

-- === === === ---

DECLARE @cust_id int

SELECT @cust_id = cust_id FROM cque_campaign WHERE camp_id = @camp_id

IF @camp_id IS NULL
BEGIN
	RAISERROR ('ERROR usp_cque_camp_clone: campaign does not exist.', 11, 1)
	RETURN
END

-- === === === ---

DECLARE @next_camp_id int
DECLARE @camp_unique_id_type int
SET @camp_unique_id_type = 190

IF( ISNULL(@use_reserved_camp_id,0) > 0 )
BEGIN
	DECLARE @recerved_camp_id int
	SET @recerved_camp_id = @camp_id + 1

	SELECT @next_camp_id = next_id
		FROM ccps_cust_unique_id WITH( NOLOCK )
		WHERE ( cust_id = @cust_id ) AND ( type_id = @camp_unique_id_type )

	IF ( @recerved_camp_id >= @next_camp_id ) SET @next_camp_id = NULL
	IF ( @next_camp_id IS NOT NULL )
		IF ( EXISTS ( SELECT TOP 1 camp_id FROM cque_campaign WITH(NOLOCK) WHERE camp_id = @recerved_camp_id ) )
			SET @next_camp_id = NULL

	IF ( @next_camp_id IS NOT NULL ) SET @next_camp_id = @recerved_camp_id
END

IF (@next_camp_id IS NULL)
BEGIN
	EXEC usp_ccps_next_id_get @cust_id, @camp_unique_id_type, @next_camp_id OUTPUT, 1
	IF @@error > 0
	BEGIN
		RAISERROR ('ERROR usp_cque_camp_clone: failed to get next campaign id.', 11, 1)
		RETURN
	END
END

-- === === === ---

BEGIN TRANSACTION

-- === === === ---

DECLARE @cont_id int
DECLARE @filter_id int
DECLARE @seed_list_id int

SELECT
		@cont_id = cont_id,
		@filter_id = filter_id,
		@seed_list_id = seed_list_id
	FROM cque_campaign
	WHERE camp_id = @camp_id

--- === Sampleset crap begin === ---

IF (ISNULL (@sample_id,0) != 0)
BEGIN
	DECLARE @cont_flag int
	SELECT @cont_flag = cont_flag FROM cque_camp_sampleset WITH(NOLOCK) WHERE camp_id = @camp_id
	IF (ISNULL (@cont_flag,0) > 0)
		SELECT @cont_id = cont_id FROM cque_camp_sample WITH(NOLOCK) WHERE (camp_id = @camp_id) AND (sample_id = @sample_id)

	IF @cont_id IS NULL
	BEGIN
		RAISERROR ('ERROR usp_cque_camp_clone: sample has no content.', 11, 1)
		RETURN
	END
END

--- === Sampleset crap end === ---

DECLARE @new_cont_id int

IF(@cont_id IS NOT NULL)
BEGIN
	EXEC usp_ccnt_cont_clone_full @cont_id, @new_cont_id OUTPUT
	IF @@error > 0 GOTO err
END

CREATE TABLE #cont_child_tree (parent_cont_id int, child_cont_id int, level_id int)
INSERT #cont_child_tree(parent_cont_id, child_cont_id, level_id) VALUES (null, @new_cont_id, 0)
EXEC usp_ccnt_cont_child_tree_get

UPDATE cjtk_link
	SET camp_id = @next_camp_id
	FROM #cont_child_tree
	WHERE cjtk_link.cont_id = #cont_child_tree.child_cont_id

DROP TABLE #cont_child_tree

--- === === === ---

DECLARE @new_filter_id int

IF(@filter_id IS NOT NULL)
BEGIN
	EXEC usp_ctgt_filter_clone_full @filter_id, @new_filter_id OUTPUT
	IF @@error > 0 GOTO err
END

--- === === === ---

DECLARE @new_seed_list_id int

IF(@seed_list_id IS NOT NULL)
BEGIN
	EXEC usp_ctgt_filter_clone_full @seed_list_id, @new_seed_list_id OUTPUT
	IF @@error > 0 GOTO err
END

--- === === === ---

INSERT cque_campaign
		(camp_id,
		type_id,
		status_id,
		camp_name,
		cust_id,
		cont_id,
		filter_id,
		seed_list_id,
		origin_camp_id,
		approval_flag,
                           media_type_id)
	SELECT
		@next_camp_id,
		type_id,
		status_id,
		camp_name,
		cust_id,
		@new_cont_id,
		@new_filter_id,
		@new_seed_list_id,
		@camp_id,
		approval_flag,
                           media_type_id
	FROM cque_campaign
	WHERE camp_id = @camp_id

IF @@error > 0 GOTO err

-- === === === ---

INSERT cque_msg_header
		(camp_id,
		from_name,
		from_address,
		from_address_id,
		reply_to,
		subject_html,
		subject_text,
		subject_aol)
	SELECT
		@next_camp_id,
		from_name,
		from_address,
		from_address_id,
		reply_to,
		subject_html,
		subject_text,
		subject_aol
	FROM cque_msg_header
	WHERE camp_id = @camp_id

IF @@error > 0 GOTO err

-- === === === ---

INSERT cque_camp_send_param
		(camp_id,
		recip_qty_limit,
		randomly,
		delay,
		limit_per_hour,
		msg_per_recip_limit,
		response_frwd_addr,
		msg_per_email821_limit,
		camp_frequency,
		queue_date,
		queue_daily_flag,
		queue_daily_time,
		queue_daily_weekday_mask,
		test_recip_qty_limit,
		link_append_text)
	SELECT
		@next_camp_id,
		recip_qty_limit,
		randomly,
		delay,
		limit_per_hour,
		msg_per_recip_limit,
		response_frwd_addr,
		msg_per_email821_limit,
		camp_frequency,
		queue_date,
		queue_daily_flag,
		queue_daily_time,
		queue_daily_weekday_mask,
		test_recip_qty_limit,
		link_append_text
	FROM cque_camp_send_param
	WHERE camp_id = @camp_id

IF @@error > 0 GOTO err

-- === === === ---

INSERT cque_schedule
		(camp_id,
		start_date,
		end_date,
		start_daily_time,
		end_daily_time,
		start_daily_weekday_mask)
	SELECT
		@next_camp_id,
		start_date,
		end_date,
		start_daily_time,
		end_daily_time,
		start_daily_weekday_mask
	FROM cque_schedule
	WHERE camp_id = @camp_id

IF @@error > 0 GOTO err

-- === === === ---

INSERT cque_super_camp_camp
		(super_camp_id,
		camp_id)
	SELECT
		super_camp_id,
		@next_camp_id
	FROM cque_super_camp_camp
	WHERE camp_id = @camp_id

IF @@error > 0 GOTO err

-- === === === ---

INSERT cque_camp_list
		(camp_id,
		exclusion_list_id,
		auto_respond_list_id,
		test_list_id,
		auto_respond_attr_id)
	SELECT
		@next_camp_id,
		exclusion_list_id,
		auto_respond_list_id,
		test_list_id,
		auto_respond_attr_id
	FROM cque_camp_list
	WHERE camp_id = @camp_id

IF @@error > 0 GOTO err

-- === === === ---

-- do we need to clone linked_camp_id for cque_linked_camp ???

INSERT cque_linked_camp
		(camp_id,
		linked_camp_id,
		form_id)
	SELECT
		@next_camp_id,
		linked_camp_id,
		form_id
	FROM cque_linked_camp
	WHERE camp_id = @camp_id

IF @@error > 0 GOTO err

-- === === === ---

INSERT cque_camp_edit_info
		(camp_id,
		creator_id,
		create_date,
		modifier_id,
		modify_date)
	VALUES
		(@next_camp_id,
		null,
		getdate(),
		null,
		getdate())

-- === === === ---

-- for now we do not need to clone
-- cque_camp_statistics
-- cque_camp_xml
-- put code here if you need it

--- === Sampleset crap begin === ---

IF (ISNULL (@sample_id,0) != 0)
BEGIN
	DECLARE @from_name_flag INT
	DECLARE @from_address_flag INT
	DECLARE @subject_flag INT
	DECLARE @send_date_flag INT

	SELECT
			@from_name_flag = from_name_flag,
			@from_address_flag = from_address_flag,
			@subject_flag = subject_flag,
			@send_date_flag = send_date_flag
		FROM cque_camp_sampleset WITH(NOLOCK)
		WHERE camp_id = @camp_id

	UPDATE cque_msg_header WITH(ROWLOCK)
		SET
			cque_msg_header.from_name = CASE WHEN (ISNULL(@from_name_flag,0) = 0) THEN cque_msg_header.from_name ELSE cs.from_name END,
			cque_msg_header.from_address_id = CASE WHEN (ISNULL(@from_address_flag,0) = 0) THEN cque_msg_header.from_address_id ELSE cs.from_address_id END,
			cque_msg_header.subject_html =
				CASE
					WHEN (ISNULL(@subject_flag,0) = 0) THEN cque_msg_header.subject_html
					ELSE ISNULL(cs.subject_html, ISNULL(cque_msg_header.subject_text, cque_msg_header.subject_aol))
				END,
			cque_msg_header.subject_text =
				CASE
					WHEN (ISNULL(@subject_flag,0) = 0) THEN cque_msg_header.subject_text
					ELSE ISNULL(cs.subject_text, ISNULL(cs.subject_html, ISNULL(cque_msg_header.subject_html, cque_msg_header.subject_aol)))
				END,
			cque_msg_header.subject_aol =
				CASE
					WHEN (ISNULL(@subject_flag,0) = 0) THEN cque_msg_header.subject_aol
					ELSE ISNULL(cs.subject_aol, ISNULL(cs.subject_html, ISNULL(cque_msg_header.subject_html, cque_msg_header.subject_text)))
				END
		FROM
			cque_camp_sample cs WITH(NOLOCK)
		WHERE
			(cque_msg_header.camp_id = @next_camp_id ) AND
			(cs.camp_id = @camp_id) AND
			(cs.sample_id = @sample_id)

	IF @@error > 0 GOTO err

	IF (ISNULL(@send_date_flag,0) > 0)
		UPDATE cque_schedule WITH(ROWLOCK)
			SET start_date = cs.send_date
			FROM cque_camp_sample cs WITH(NOLOCK)
			WHERE
				(cque_schedule.camp_id = @next_camp_id ) AND
				(cs.camp_id = @camp_id) AND
				(cs.sample_id = @sample_id)

	IF @@error > 0 GOTO err

	UPDATE cque_camp_list WITH(ROWLOCK)
		SET test_list_id = cs.test_list_id
		FROM cque_camp_sample cs WITH(NOLOCK)
		WHERE
			(cque_camp_list.camp_id = @next_camp_id ) AND
			(cs.camp_id = @camp_id) AND
			(cs.sample_id = @sample_id)

	IF @@error > 0 GOTO err
END

--- === Sampleset crap end === ---

PRINT 'usp_cque_camp_clone_full @camp_id=' + CAST(@camp_id as varchar)  + ' finish'

-- === === === ---

SET @new_camp_id = @next_camp_id

-- === === === ---

COMMIT TRANSACTION

-- === === === ---

err:
IF (@@trancount >0) ROLLBACK TRANSACTION

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

