SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ccnt_img_fld_cust_access_set]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ccnt_img_fld_cust_access_set]
GO


CREATE PROCEDURE usp_ccnt_img_fld_cust_access_set (@cust_id int, @folder_id int, @access_cust_id int=null) AS

CREATE TABLE #c(cust_id int, parent_cust_id int, level_id int)
INSERT #c(cust_id, parent_cust_id, level_id) VALUES(@cust_id, null, 0)
EXEC usp_ccps_cust_tree_build 

INSERT #c(cust_id, parent_cust_id, level_id) VALUES(0, null, 0)

IF (@access_cust_id  IS NOT NULL)
BEGIN
	INSERT ccnt_img_fld_cust_access (cust_id, folder_id, access_flag)
		SELECT #c.cust_id, @folder_id, 1
		FROM #c
		WHERE #c.cust_id = @access_cust_id
			AND NOT EXISTS (SELECT 1 FROM ccnt_img_fld_cust_access WHERE cust_id = @access_cust_id AND folder_id = @folder_id)
END
ELSE
BEGIN
	INSERT ccnt_img_fld_cust_access (cust_id, folder_id, access_flag)
		SELECT #c.cust_id, @folder_id, 1
		FROM #c
		WHERE NOT EXISTS (SELECT 1 FROM ccnt_img_fld_cust_access WHERE cust_id = #c.cust_id AND folder_id = @folder_id)
END

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

