SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_crpt_camp_pos_connect_prev]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_crpt_camp_pos_connect_prev]
GO




CREATE PROCEDURE usp_crpt_camp_pos_connect_prev (@pos_link_id int, @camp_id int, @cache int=0) 
AS

SET NOCOUNT ON
CREATE TABLE #tLink (LinkID int, 
			Href varchar(255),   
			TotalClicks int,
			DistinctClicks int,
			TotalClickPrc decimal(5,1),
			DistinctClickPrc decimal(5,1))

IF (@cache <> 1)
	INSERT #tLink (LinkID,
			Href,
			TotalClicks,
			DistinctClicks)
		SELECT c.origin_link_id, 
			p.href, 
			c.tot_clicks,
			c.dist_clicks
		FROM crpt_camp_pos p, crpt_camp_pos_connect c
		WHERE c.resulting_link_id = @pos_link_id 
			AND c.camp_id = @camp_id
			AND c.origin_link_id = p.pos_link_id
			AND c.camp_id = p.camp_id
ELSE
	INSERT #tLink (LinkID,
			Href,
			TotalClicks,
			DistinctClicks)
		SELECT c.origin_link_id, 
			p.href, 
			c.tot_clicks,
			c.dist_clicks
		FROM crpt_camp_pos_cache p, crpt_camp_pos_connect_cache c
		WHERE c.resulting_link_id = @pos_link_id 
			AND c.camp_id = @camp_id
			AND c.origin_link_id = p.pos_link_id
			AND c.camp_id = p.camp_id

DECLARE @TotalAllClicks int, @DistinctAllClicks int
SELECT @TotalAllClicks = sum(TotalClicks), @DistinctAllClicks = sum(DistinctClicks) FROM #tLink

	UPDATE #tLink SET TotalClickPrc = CASE @TotalAllClicks
					WHEN 0 THEN 0
					ELSE convert(decimal(5,1),(TotalClicks*100.0)/@TotalAllClicks) END,
				DistinctClickPrc = CASE @DistinctAllClicks
					WHEN 0 THEN 0
					ELSE convert(decimal(5,1),(DistinctClicks*100.0)/@DistinctAllClicks) END

	SELECT LinkID,
		Href,   
		DistinctClicks,
		DistinctClickPrc,
		TotalClicks,
		TotalClickPrc
	FROM #tLink

DROP TABLE #tLink

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

