SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ccps_cust_parent_chain_build]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ccps_cust_parent_chain_build]
GO



CREATE PROCEDURE  usp_ccps_cust_parent_chain_build (@cust_id int, @level_id int = 0)
AS

DECLARE @parent_cust_id int;
SET @level_id = @level_id + 1

INSERT INTO #cust_parent_chain (cust_id,  level_id)
VALUES (@cust_id, @level_id)

SELECT @parent_cust_id = parent_cust_id
FROM ccps_customer WITH(NOLOCK)
WHERE cust_id = @cust_id AND 
parent_cust_id is not null AND 
parent_cust_id <> 0

IF @@rowcount > 0 EXEC usp_ccps_cust_parent_chain_build @parent_cust_id, @level_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

