SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_cntt_entity_import_template_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_cntt_entity_import_template_save]
GO


CREATE PROCEDURE usp_cntt_entity_import_template_save
(
	@template_id int = NULL,
	@template_name varchar(255) = NULL,
	@first_row int = NULL,
	@cust_id int = NULL,
	@entity_id int = NULL,
	@field_separator varchar(255) = NULL
)
AS

IF EXISTS (SELECT TOP 1 * FROM cntt_entity_import_template WHERE (template_id = @template_id))
BEGIN
	UPDATE cntt_entity_import_template
		SET
			template_name = @template_name,
			first_row = @first_row,
			cust_id = @cust_id,
			entity_id = @entity_id,
			field_separator = @field_separator
		WHERE
			(template_id = @template_id)
END
ELSE
BEGIN
	INSERT cntt_entity_import_template
		(
			template_name,
			first_row,
			cust_id,
			entity_id,
			field_separator
		)
		VALUES
		(
			@template_name,
			@first_row,
			@cust_id,
			@entity_id,
			@field_separator
		)

	SET @template_id = @@identity
END

SELECT @template_id





GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

