SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_cftp_ftp_task_schedule_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_cftp_ftp_task_schedule_save]
GO


CREATE PROCEDURE usp_cftp_ftp_task_schedule_save
(
	@task_id int = NULL,
	@linked_task_id int = NULL,
	@next_start_date datetime = NULL,
	@next_start_interval int = NULL
)
AS

SET @next_start_interval = ISNULL(@next_start_interval, 60 * 24) -- 1day = 24 hours = 24 * 60 minutes

IF EXISTS (SELECT TOP 1 * FROM cftp_ftp_task_schedule WHERE (task_id = @task_id))
BEGIN
	UPDATE cftp_ftp_task_schedule
		SET
			linked_task_id = @linked_task_id,
			next_start_date = @next_start_date,
			next_start_interval = @next_start_interval
		WHERE
			(task_id = @task_id)
END
ELSE
BEGIN
	INSERT cftp_ftp_task_schedule
		(
			task_id,
			linked_task_id,
			next_start_date,
			next_start_interval
		)
		VALUES
		(
			@task_id,
			@linked_task_id,
			@next_start_date,
			@next_start_interval
		)
END

SELECT @task_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

