SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_cntt_entity_attrs_4_import_get]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_cntt_entity_attrs_4_import_get]
GO

CREATE PROCEDURE usp_cntt_entity_attrs_4_import_get
(
	@entity_id int
)
AS

DECLARE @cust_id int
SELECT @cust_id = cust_id FROM cntt_entity WHERE entity_id = @entity_id

DECLARE @entity_attr_table TABLE
	(n int identity,
	attr_id int,
	attr_name varchar(255),
	entity_id int,
	type_id int,
	scope_id int,
	internal_id_flag int,
	fingerprint_seq int,
	parent_attr_id int)

INSERT @entity_attr_table
		(attr_id,
		entity_id,
		type_id,
		attr_name,
		scope_id,
		internal_id_flag,
		fingerprint_seq)
	SELECT
		attr_id,
		entity_id,
		type_id,
		attr_name,
		scope_id,
		internal_id_flag,
		fingerprint_seq
	FROM cntt_entity_attr
	WHERE
		entity_id = @entity_id AND
		ISNULL(internal_id_flag,0) = 0
	ORDER BY attr_id

DECLARE @n int, @rc int
SET @n = 0

WHILE(1=1)
BEGIN
	INSERT @entity_attr_table
			(attr_id,
			entity_id,
			type_id,
			attr_name,
			scope_id,
			internal_id_flag,
			fingerprint_seq,
			parent_attr_id)
		SELECT
			a.attr_id,
			eat.type_id,
			a.type_id,
			eat.attr_name + '.' + a.attr_name,
			a.scope_id,
			null,
			ca.fingerprint_seq,
			eat.attr_id
		FROM
			ccps_attribute a,
			ccps_cust_attr ca,
			@entity_attr_table eat
		WHERE
			eat.n > @n AND
			eat.type_id = 1000 AND
			ca.cust_id = @cust_id AND
			( ca.fingerprint_seq > 0 OR ca.attr_id = 1) AND -- attr_id = 1 - recip_id
			a.attr_id = ca.attr_id AND
			ISNULL(a.internal_flag,0) = 0
		ORDER BY a.attr_id

	INSERT @entity_attr_table
			(attr_id,
			entity_id,
			type_id,
			attr_name,
			scope_id,
			internal_id_flag,
			fingerprint_seq,
			parent_attr_id)
		SELECT
			ea.attr_id,
			eat.type_id,
			ea.type_id,
			eat.attr_name + '.' + ea.attr_name,
			ea.scope_id,
			null,
			ea.fingerprint_seq,
			eat.attr_id
		FROM
			cntt_entity_attr ea,
			@entity_attr_table eat
		WHERE
			eat.n > @n AND
			eat.type_id > 1000 AND
			eat.type_id = ea.entity_id AND
			ea.fingerprint_seq > 0 AND
			ISNULL(ea.internal_id_flag,0) = 0
		ORDER BY ea.attr_id
		
		SELECT @n = @@identity, @rc = @@rowcount
		IF(@rc < 1) BREAK
END

DELETE @entity_attr_table WHERE type_id > 99

SELECT 
	attr_id,
	entity_id,
	type_id,
	attr_name,
	scope_id,
	internal_id_flag,
	fingerprint_seq
FROM @entity_attr_table
ORDER BY n
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

