SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ccnt_cont_child_tree_get]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ccnt_cont_child_tree_get]
GO



CREATE PROCEDURE  usp_ccnt_cont_child_tree_get (@level_id int = 0)
AS

SET @level_id = @level_id + 1

INSERT INTO #cont_child_tree (parent_cont_id, child_cont_id, level_id)
	SELECT cp.parent_cont_id, cp.child_cont_id, @level_id
		FROM
			ccnt_cont_part cp WITH(NOLOCK),
			#cont_child_tree cct
		WHERE
			( cct.child_cont_id = cp.parent_cont_id ) AND
			( cct.level_id = @level_id - 1 )

IF @@rowcount > 0 EXEC usp_ccnt_cont_child_tree_get @level_id


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

