SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_crpt_cust_report_list_get]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_crpt_cust_report_list_get]
GO



CREATE PROCEDURE usp_crpt_cust_report_list_get (@cust_id int)
AS

DECLARE @tr TABLE (report_id int Primary Key)

INSERT @tr
	SELECT cr.report_id FROM crpt_cust_report cr 
		WHERE cr.cust_id=@cust_id 
	ORDER BY cr.report_id DESC

SELECT DISTINCT cr.report_id, CONVERT(VARCHAR(32), cr.start_date, 100) as 'start_date', CONVERT(VARCHAR(32), cr.end_date, 100) as 'end_date', 
		cr.user_id, CONVERT(VARCHAR(32), cr.update_date, 100) as 'update_date', cr.active, cr.have_bback, cr.are_bback, 
		cr.unsub, cr.click, cr.multi_click, cr.camp_qty, cr.sent, cr.not_sent, 
		cr.detect_html, cr.detect_text, cr.detect_aol, cr.unconfirmed, 
		s.display_name, cu.user_name
	FROM crpt_cust_report cr 
		JOIN @tr t ON cr.report_id=t.report_id AND cr.cust_id = @cust_id
		JOIN ccps_user cu ON cr.user_id=cu.user_id
		JOIN crpt_report_status s ON cr.status_id = s.status_id
	ORDER BY cr.report_id DESC

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

