SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_cque_camp_send_param_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_cque_camp_send_param_save]
GO


CREATE PROCEDURE usp_cque_camp_send_param_save
(
	@camp_id int = NULL,
	@recip_qty_limit int = NULL,
	@randomly tinyint = NULL,
	@delay int = NULL,
	@limit_per_hour int = NULL,
	@msg_per_recip_limit int = NULL,
	@response_frwd_addr varchar(255) = NULL,
	@msg_per_email821_limit int = NULL,
	@camp_frequency int = NULL,
	@queue_date datetime = NULL,
	@queue_daily_flag tinyint = NULL,
	@queue_daily_time datetime = NULL,
	@queue_daily_weekday_mask int = NULL,
	@test_recip_qty_limit int = NULL,
	@link_append_text varchar(255) = NULL
)
AS

IF ( ISNULL(@queue_daily_flag,0) > 0 )
BEGIN
	SET @queue_date = getdate()
	SET @queue_date = DATEADD ( ms, - DATEPART(ms , @queue_date) , @queue_date) 
	SET @queue_date = DATEADD ( ss, - DATEPART(ss , @queue_date) , @queue_date) 
	SET @queue_date = DATEADD ( mi, - DATEPART(mi , @queue_date) , @queue_date) 
	SET @queue_date = DATEADD ( hh, - DATEPART(hh , @queue_date) , @queue_date) 
	SET @queue_date = DATEADD ( hh, DATEPART(hh , @queue_daily_time) , @queue_date) 
	IF ( @queue_date < getdate() ) SET @queue_date = DATEADD(hh, 24, @queue_date)
END

--- === === === ---

IF EXISTS (SELECT TOP 1 * FROM cque_camp_send_param WHERE (camp_id = @camp_id))
BEGIN
	UPDATE cque_camp_send_param
		SET
			recip_qty_limit = @recip_qty_limit,
			randomly = @randomly,
			delay = @delay,
			limit_per_hour = @limit_per_hour,
			msg_per_recip_limit = @msg_per_recip_limit,
			response_frwd_addr = @response_frwd_addr,
			msg_per_email821_limit = @msg_per_email821_limit,
			camp_frequency = @camp_frequency,
			queue_date = @queue_date,
			queue_daily_flag = @queue_daily_flag,
			queue_daily_time = @queue_daily_time,
			queue_daily_weekday_mask = @queue_daily_weekday_mask,
			test_recip_qty_limit = @test_recip_qty_limit,
			link_append_text = @link_append_text
		WHERE
			(camp_id = @camp_id)
END
ELSE
BEGIN
	INSERT cque_camp_send_param
		(
			camp_id,
			recip_qty_limit,
			randomly,
			delay,
			limit_per_hour,
			msg_per_recip_limit,
			response_frwd_addr,
			msg_per_email821_limit,
			camp_frequency,
			queue_date,
			queue_daily_flag,
			queue_daily_time,
			queue_daily_weekday_mask,
			test_recip_qty_limit,
			link_append_text
		)
		VALUES
		(
			@camp_id,
			@recip_qty_limit,
			@randomly,
			@delay,
			@limit_per_hour,
			@msg_per_recip_limit,
			@response_frwd_addr,
			@msg_per_email821_limit,
			@camp_frequency,
			@queue_date,
			@queue_daily_flag,
			@queue_daily_time,
			@queue_daily_weekday_mask,
			@test_recip_qty_limit,
			@link_append_text
		)
END

SELECT @camp_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

