SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_cexp_custom_exp_update]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_cexp_custom_exp_update]
GO




CREATE PROCEDURE usp_cexp_custom_exp_update (@cstm_exp_id int, @cust_id int, @exp_name varchar(255), @stored_proc varchar(255), @fixed_width_flag int) 
AS

DECLARE @exp_exists int
DECLARE @new_exp_id int

SELECT @exp_exists = count(*) FROM cexp_custom_export WHERE cstm_exp_id = @cstm_exp_id

IF @exp_exists > 0
BEGIN
	SET @new_exp_id = @cstm_exp_id

	UPDATE cexp_custom_export 
		SET cust_id = @cust_id, exp_name = @exp_name, stored_proc = @stored_proc, fixed_width_flag = @fixed_width_flag
		WHERE cstm_exp_id = @cstm_exp_id
END
ELSE
BEGIN
	INSERT cexp_custom_export (cust_id, exp_name, stored_proc, fixed_width_flag) 
		VALUES (@cust_id, @exp_name, @stored_proc, @fixed_width_flag) 

	SET @new_exp_id = @@Identity
END

SELECT cstm_exp_id = @new_exp_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

