SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_cque_sampleset_list_get]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_cque_sampleset_list_get]
GO


CREATE PROCEDURE usp_cque_sampleset_list_get
(
	@customer_id	int,
	@category_id	int,
	@status_id	int
)
AS

DECLARE @tmp_cat TABLE (c_id int, obj_id int)

IF (@category_id = 0) SET @category_id = null

INSERT @tmp_cat
	SELECT category_id, [object_id]
		FROM ccps_object_category
		WHERE
			cust_id = @customer_id AND
			type_id = 190 AND
			@category_id = category_id

CREATE TABLE #tmp
	(sampleset_id int,
	sampleset_name varchar(255), 
	status_name varchar(255),
	filter_name varchar(255),
	modify_date datetime,
	status_id int)

INSERT #tmp
		(sampleset_id,
		sampleset_name, 
		status_name,
		filter_name,
		modify_date,
		status_id)
	SELECT
		c.sampleset_id,
		c.sampleset_name, 
		s.status_name,
		isNull(f.filter_name, 'None'), 
		c.modify_date,
		c.status_id
	FROM
		cque_sampleset c,
		ctgt_filter f,
		cque_sampleset_status s

	WHERE
				c.status_id = s.status_id
		AND		( @category_id IS NULL OR @category_id IN (SELECT c_id FROM @tmp_cat WHERE obj_id = c.sampleset_id))
		AND		c.filter_id *= f.filter_id
		AND		c.cust_id = @customer_id

SELECT
		sampleset_id,
		sampleset_name, 
		status_name,
		filter_name,
		CONVERT(VARCHAR(32), modify_date, 100),
		status_id
	FROM #tmp
	WHERE
		(status_id = @status_id) OR
		(@status_id = -1)
	ORDER BY modify_date DESC

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

