SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_cntt_entity_import_link_attr_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_cntt_entity_import_link_attr_save]
GO

CREATE PROCEDURE usp_cntt_entity_import_link_attr_save
(
	@link_id int = NULL,
	@attr_id int = NULL,
	@param_name varchar(255) = NULL
)
AS

IF EXISTS (SELECT TOP 1 * FROM cntt_entity_import_link_attr WHERE (link_id = @link_id) AND (attr_id = @attr_id))
BEGIN
	UPDATE cntt_entity_import_link_attr
		SET
			param_name = @param_name
		WHERE
			(link_id = @link_id) AND
			(attr_id = @attr_id)
END
ELSE
BEGIN
	INSERT cntt_entity_import_link_attr
		(
			link_id,
			attr_id,
			param_name
		)
		VALUES
		(
			@link_id,
			@attr_id,
			@param_name
		)
END

SELECT @link_id, @attr_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

