SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_cque_camp_links_add_from_cont]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_cque_camp_links_add_from_cont]
GO


CREATE PROCEDURE usp_cque_camp_links_add_from_cont
(
	@to_camp_id int,
	@from_cont_id int
)
AS
--- === === === ---

DECLARE @link_count int

SELECT
		id = identity(int),
		link_id,
		link_name,
		cust_id,
		camp_id,
		cont_id,
		href
	INTO #cjtk_link
	FROM cjtk_link WITH(NOLOCK) 
	WHERE
		( cont_id = @from_cont_id )
		AND
		( href NOT IN (SELECT href FROM cjtk_link WITH(NOLOCK) WHERE camp_id = @to_camp_id ) )

SET @link_count = @@rowcount

IF (@link_count > 0)
BEGIN
	DECLARE @cust_id int
	DECLARE @cont_id int

	SELECT @cust_id = cust_id, @cont_id =cont_id FROM cque_campaign  WITH(NOLOCK) WHERE camp_id = @to_camp_id

	DECLARE @link_unique_id_type int
	DECLARE @next_link_id int

	SET @link_unique_id_type = 130
	EXEC usp_ccps_next_id_get @cust_id, @link_unique_id_type, @next_link_id OUTPUT, @link_count

	INSERT cjtk_link
		(link_id,
		link_name,
		cust_id,
		camp_id,
		cont_id,
		href,
		origin_link_id)
	SELECT
		id + @next_link_id - 1,
		link_name,
		cust_id,
		@to_camp_id,
		@cont_id,
		href,
		link_id
	FROM #cjtk_link
END

DROP TABLE #cjtk_link

--- === === === ---

SELECT @link_count

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

