SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_crpt_camp_report_update]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_crpt_camp_report_update]
GO

CREATE PROCEDURE usp_crpt_camp_report_update
(
	@camp_id int,
	@cust_id int,
	@camp_name varchar(255)=null,
	@start_date datetime=null,
	@sent int=0,
	@bbacks int=0,
	@reaching int=0,
	@dist_reads int=0,
	@tot_reads int=0,
	@dist_clicks int=0,
	@unsubs int=0,
	@tot_clicks int=0,
	@tot_text_clicks int=0,
	@tot_html_clicks int=0,
	@tot_aol_clicks int=0,
	@tot_links int=0,
	@dist_text_clicks int=0,
	@dist_html_clicks int=0,
	@dist_aol_clicks int=0,
	@multi_readers int=0,
	@link_multi_clickers int=0,
	@multi_link_clickers int=0,
	@last_update_date datetime=null,
	@status_id int
)
AS

IF @last_update_date = null SET @last_update_date = getdate()

IF NOT EXISTS (SELECT TOP 1 camp_id FROM crpt_camp_summary WHERE camp_id = @camp_id)
BEGIN
	INSERT crpt_camp_summary
		(camp_id,
		cust_id,
		camp_name,
		start_date,
		sent,
		bbacks,
		reaching,
		dist_reads,
		tot_reads,
		dist_clicks,
		unsubs,
		tot_clicks,
		tot_text_clicks,
		tot_html_clicks,
		tot_aol_clicks,
		tot_links,
		dist_text_clicks,
		dist_html_clicks,
		dist_aol_clicks,
		multi_readers,
		link_multi_clickers,
		multi_link_clickers,
		last_update_date,
		status_id )
	VALUES
		(@camp_id,
		@cust_id,
		@camp_name,
		@start_date,
		@sent,
		@bbacks,
		@reaching,
		@dist_reads,
		@tot_reads,
		@dist_clicks,
		@unsubs,
		@tot_clicks,
		@tot_text_clicks,
		@tot_html_clicks,
		@tot_aol_clicks,
		@tot_links,
		@dist_text_clicks,
		@dist_html_clicks,
		@dist_aol_clicks,
		@multi_readers,
		@link_multi_clickers,
		@multi_link_clickers,
		@last_update_date,
		@status_id )
END
ELSE IF ( (@status_id = 11) OR (@status_id >= 20) )
BEGIN
	UPDATE crpt_camp_summary 
		SET camp_name = @camp_name,
			start_date = @start_date,
			sent = @sent,
			bbacks = @bbacks,
			reaching = @reaching,
			dist_reads = @dist_reads,
			tot_reads = @tot_reads,
			dist_clicks = @dist_clicks,
			unsubs = @unsubs,
			tot_clicks = @tot_clicks,
			tot_text_clicks = @tot_text_clicks,
			tot_html_clicks = @tot_html_clicks,
			tot_aol_clicks = @tot_aol_clicks,
			tot_links = @tot_links,
			dist_text_clicks = @dist_text_clicks,
			dist_html_clicks = @dist_html_clicks,
			dist_aol_clicks = @dist_aol_clicks,
			multi_readers = @multi_readers,
			link_multi_clickers = @link_multi_clickers,
			multi_link_clickers = @multi_link_clickers,
			last_update_date = @last_update_date,
			status_id = @status_id
		WHERE
			camp_id = @camp_id AND
			cust_id = @cust_id
END
ELSE
BEGIN
	UPDATE crpt_camp_summary 
		SET status_id = @status_id
		WHERE
			camp_id = @camp_id AND
			cust_id = @cust_id
END
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

