SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_cadm_mod_inst_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_cadm_mod_inst_save]
GO


CREATE PROCEDURE usp_cadm_mod_inst_save
	(@mod_inst_id int,
	@machine_id int,
	@mod_id int,
	@version  int)
AS

IF EXISTS (SELECT mod_inst_id FROM cadm_mod_inst WHERE mod_inst_id = @mod_inst_id)
BEGIN
	UPDATE cadm_mod_inst
		SET
			machine_id = @machine_id,
			mod_id = @mod_id,
			version = @version
		WHERE
			mod_inst_id = @mod_inst_id
END
ELSE
BEGIN
	INSERT cadm_mod_inst
			(mod_inst_id,
			machine_id,
			mod_id,
			version)
		VALUES
			(@mod_inst_id,
			@machine_id,
			@mod_id,
			@version)
END

SELECT @mod_inst_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

