SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_cque_camp_get_status_single]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_cque_camp_get_status_single]
GO


CREATE PROCEDURE usp_cque_camp_get_status_single
(
	@camp_id int
)
AS

--DROP PROCEDURE usp_cque_camp_get_status_single

/*
DROP TABLE #tmp
DROP TABLE #stat
DROP TABLE #samp
*/

--- TABLE TO HOLD DATA 
CREATE TABLE #tmp
	(origin_camp_id int,
	camp_id int,
	status_id int,
	status_name varchar(255),
	actual_type_id int,
	type_id int,
	type_id_name varchar(255),
	qty_queued varchar(255),
	qty_sent varchar(255),
	queue_daily_flag int, 
	approval_flag int, 
	mode_id int)

--- TABLE TO STORE STATUS'
CREATE TABLE #stat
(origin_camp_id int, camp_id int, status_id int, approval_flag int, type_id int)

--- SELECT ALL CAMPAIGNS
INSERT #tmp
	(origin_camp_id,
	actual_type_id, 
	type_id,
	status_id,
	approval_flag)
	SELECT
		c.camp_id,
		c.type_id, 
		c.type_id, 
		c.status_id,
		isNull(c.approval_flag, 0)
	FROM
		cque_campaign c
	
	WHERE
		c.camp_id = @camp_id

-- UPDATE WITH QUEUE DAILY
UPDATE #tmp
	SET 
		queue_daily_flag = csp.queue_daily_flag
	FROM
		cque_camp_send_param csp
	WHERE
		csp.camp_id = #tmp.origin_camp_id

-- GET STATS ON CAMPS SENT FOR ORIGIN CAMP -- TEST
DELETE FROM #stat

INSERT INTO #stat
	(origin_camp_id, camp_id, status_id, approval_flag, type_id)
	SELECT
		#tmp.origin_camp_id, c.camp_id, min(c.status_id), c.approval_flag, c.type_id
	FROM
		#tmp,
		cque_campaign c
	WHERE
		#tmp.origin_camp_id = c.origin_camp_id AND 
		c.type_id = 1 AND
		c.sample_id is null AND
		c.status_id < 60
	GROUP BY 
		#tmp.origin_camp_id, c.camp_id, c.approval_flag, c.type_id

UPDATE #tmp
	SET
		camp_id = c.camp_id, 
		status_id = c.status_id,
		approval_flag = c.approval_flag, 
		type_id = c.type_id
	FROM
		#stat c,
		cque_camp_status s
	WHERE
		c.origin_camp_id = #tmp.origin_camp_id

-- GET STATS ON CAMPS SENT FOR ORIGIN CAMP -- STANDARD
-- excluding any campaigns in pending edits
DELETE FROM #stat

INSERT INTO #stat
	(origin_camp_id, camp_id, status_id, approval_flag, type_id)
	SELECT
		#tmp.origin_camp_id, c.camp_id, min(c.status_id), c.approval_flag, c.type_id
	FROM
		#tmp,
		cque_campaign c
	WHERE
		#tmp.origin_camp_id = c.origin_camp_id AND 
		c.type_id != 1 AND
		c.sample_id is null AND
		c.status_id != 5
	GROUP BY 
		#tmp.origin_camp_id, c.camp_id, c.approval_flag, c.type_id

UPDATE #tmp
	SET
		camp_id = c.camp_id, 
		status_id = c.status_id,
		approval_flag = c.approval_flag, 
		type_id = c.type_id
	FROM
		#stat c,
		cque_camp_status s
	WHERE
		c.origin_camp_id = #tmp.origin_camp_id

-- SET QUANTITY QUEUED AND SENT
UPDATE #tmp
	SET 
		qty_queued = cs.recip_queued_qty, 
		qty_sent = cs.recip_sent_qty
	FROM
		cque_campaign c,
		cque_camp_statistic cs
	WHERE
		c.camp_id = #tmp.camp_id AND 
		c.camp_id = cs.camp_id AND
		c.type_id <> 1

-- SET MODE
UPDATE #tmp
	SET 
		mode_id = isNull(c.mode_id, 0)
	FROM
		cque_campaign c
	WHERE
		c.camp_id = #tmp.camp_id

-- SET STATUS NAME
UPDATE #tmp
	SET 
		status_name = s.display_name
	FROM
		cque_camp_status s
	WHERE
		s.status_id = #tmp.status_id

-- SET TYPE NAME (2,0)
UPDATE #tmp
	SET type_id_name = 'Standard'
	FROM #tmp
	WHERE #tmp.actual_type_id = '2'

-- SET TYPE NAME (3)
UPDATE #tmp
	SET type_id_name = 'Send to Friend'
	FROM #tmp
	WHERE #tmp.actual_type_id = '3'

-- SET TYPE NAME (4)
UPDATE #tmp
	SET type_id_name = 'Triggered'
	FROM #tmp
	WHERE #tmp.actual_type_id = '4'

-- SET TYPE NAME (2,1)
UPDATE #tmp
	SET type_id_name = 'Check Daily', 
		actual_type_id = 4
	FROM #tmp
	WHERE #tmp.actual_type_id = '2'
	AND #tmp.queue_daily_flag = 1

-- SET TYPE NAME (5)
UPDATE #tmp
	SET type_id_name = 'Web/DM/Call'
	FROM #tmp
	WHERE #tmp.actual_type_id = '5'

-- SET TYPE NAME (1)
UPDATE #tmp
	SET type_id_name = 'Test', status_name = 'Test: ' + status_name
	FROM #tmp
	WHERE #tmp.type_id = '1'
	AND #tmp.mode_id = 0

-- SET CALC STATS
UPDATE #tmp
	SET type_id_name = 'Statistics Calculation', status_name = 'Stats Calc: ' + status_name
	FROM #tmp
	WHERE #tmp.type_id = '1'
	AND #tmp.mode_id = 20

-- FINAL SELECT
SELECT
	type_id,
	status_id,
	camp_id,
	approval_flag, 
	mode_id
FROM #tmp

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

