SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ctgt_filter_part_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ctgt_filter_part_save]
GO



CREATE PROCEDURE usp_ctgt_filter_part_save
(
	@parent_filter_id int = NULL,
	@child_filter_id int = NULL,
	@display_seq int = NULL
)
AS

IF EXISTS (SELECT TOP 1 * FROM ctgt_filter_part WHERE (parent_filter_id = @parent_filter_id) AND (child_filter_id = @child_filter_id))
BEGIN
	UPDATE ctgt_filter_part
		SET display_seq = @display_seq
		WHERE
			(parent_filter_id = @parent_filter_id) AND
			(child_filter_id = @child_filter_id)
END
ELSE
BEGIN

	EXEC usp_ctgt_filter_part_validate @parent_filter_id, @child_filter_id

	INSERT ctgt_filter_part
			(parent_filter_id,
			child_filter_id,
			display_seq)
		VALUES
			(@parent_filter_id,
			@child_filter_id,
			@display_seq)
END

SELECT @parent_filter_id, @child_filter_id



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

