SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ccnt_scrape_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ccnt_scrape_save]
GO



CREATE PROCEDURE usp_ccnt_scrape_save
(
	@scrape_id int=null,
	@scrape_name varchar(255)=null,
	@status_id int=null,
	@cust_id int=null,
	@scrape_date datetime=null,
	@num_entries int=null,
	@num_urls int=null,
	@base_url varchar(255)=null
)
AS

DECLARE @new_scrape_id int
SET @new_scrape_id = @scrape_id

IF EXISTS (SELECT TOP 1 * FROM ccnt_scrape WHERE (scrape_id = @scrape_id) AND (cust_id = @cust_id))
BEGIN
	UPDATE ccnt_scrape
		SET
			scrape_name = @scrape_name,
			status_id = @status_id,
			scrape_date = @scrape_date,
			num_entries = @num_entries,
			num_urls = @num_urls,
			base_url = @base_url
		WHERE
			(scrape_id = @scrape_id)

	DELETE ccnt_scrape_attr FROM ccnt_scrape_url u, ccnt_scrape_attr a
		WHERE u.url_id = a.url_id
			AND u.scrape_id = @scrape_id 
			AND u.seq > @num_urls

	DELETE ccnt_scrape_attr FROM ccnt_scrape_url u, ccnt_scrape_attr a
		WHERE u.url_id = a.url_id
			AND u.scrape_id = @scrape_id 
			AND a.entry_id > @num_entries

	DELETE ccnt_scrape_url_cont  FROM ccnt_scrape_url u, ccnt_scrape_url_cont c
		WHERE u.url_id = c.url_id
			AND u.scrape_id = @scrape_id 
			AND u.seq > @num_urls

	DELETE ccnt_scrape_url WHERE scrape_id = @scrape_id AND seq > @num_urls

END
ELSE
BEGIN
	INSERT ccnt_scrape
		(
			scrape_name,
			status_id,
			cust_id,
			scrape_date,
			num_entries,
			num_urls,
			base_url
		)
		VALUES
		(
			@scrape_name,
			@status_id,
			@cust_id,
			@scrape_date,
			@num_entries,
			@num_urls,
			@base_url
		)

	SET @new_scrape_id = @@Identity
END

SELECT @new_scrape_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

