SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_crpt_camp_pos_list]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_crpt_camp_pos_list]
GO




CREATE PROCEDURE usp_crpt_camp_pos_list (@camp_id int, @cache int=0) 
AS

SET NOCOUNT ON
CREATE TABLE #tLink (LinkID int, 
			CampID int,
			Href varchar(255),   
			TotalClicks int,
			DistinctClicks int,
			TotalClickPrc decimal(5,1),
			DistinctClickPrc decimal(5,1))

IF (@cache <> 1)
	INSERT #tLink (LinkID,
			CampID,
			Href,
			TotalClicks,
			DistinctClicks)
		SELECT pos_link_id, 
			camp_id, 
			href, 
			tot_clicks,
			dist_clicks
		FROM crpt_camp_pos
		WHERE camp_id = @camp_id
ELSE
	INSERT #tLink (LinkID,
			CampID,
			Href,
			TotalClicks,
			DistinctClicks)
		SELECT pos_link_id, 
			camp_id, 
			href, 
			tot_clicks,
			dist_clicks
		FROM crpt_camp_pos_cache
		WHERE camp_id = @camp_id

DECLARE @TotalAllClicks int, @DistinctAllClicks int
SELECT @TotalAllClicks = sum(TotalClicks), @DistinctAllClicks = sum(DistinctClicks) FROM #tLink WHERE CampID = @camp_id

	UPDATE #tLink SET TotalClickPrc = CASE @TotalAllClicks
					WHEN 0 THEN 0
					ELSE convert(decimal(5,1),(TotalClicks*100.0)/@TotalAllClicks) END,
				DistinctClickPrc = CASE @DistinctAllClicks
					WHEN 0 THEN 0
					ELSE convert(decimal(5,1),(DistinctClicks*100.0)/@DistinctAllClicks) END

	SELECT LinkID,
		CampID,
		Href,   
		DistinctClicks,
		DistinctClickPrc,
		TotalClicks,
		TotalClickPrc
	FROM #tLink

DROP TABLE #tLink

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

