SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ccnt_image_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ccnt_image_save]
GO


CREATE PROCEDURE dbo.usp_ccnt_image_save (@cust_id int, @image_name varchar(255), @folder_id int,
				 @file_path varchar(255), @url_path varchar(255), @file_size int, @user_id int, @image_id int = -1) AS


DECLARE @new_image_id int

IF @image_id < 1
	SET @image_id = NULL

IF (@image_id IS NULL)
--NEW image
BEGIN

	INSERT ccnt_image (cust_id, image_name, folder_id, file_path, url_path, file_size, create_user, create_date, last_mod_user, last_mod_date)
	VALUES
	(@cust_id, RTRIM(@image_name), @folder_id, RTRIM(@file_path), RTRIM(@url_path), @file_size, @user_id, getdate(), @user_id, getdate())

	SET @new_image_id = @@IDENTITY
END
ELSE
BEGIN
	UPDATE ccnt_image SET
		image_name = RTRIM(@image_name),
		folder_id = @folder_id,
		file_path = RTRIM(@file_path),
		url_path = RTRIM(@url_path),
		file_size = @file_size, 
		last_mod_user = @user_id,
		last_mod_date = getdate()
	WHERE image_id = @image_id

	SET @new_image_id = @image_id
END

SELECT @new_image_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

