SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ctgt_filter_clone_full_2]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ctgt_filter_clone_full_2]
GO



CREATE PROCEDURE usp_ctgt_filter_clone_full_2 (@filter_id int)
AS 

DECLARE @new_filter_id int
EXEC usp_ctgt_filter_clone_full @filter_id, @new_filter_id OUTPUT
SELECT @new_filter_id


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

