SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ccps_object_category_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ccps_object_category_save]
GO


CREATE PROCEDURE usp_ccps_object_category_save
(
	@cust_id int = NULL,
	@type_id int = NULL,
	@category_id int = NULL,
	@object_id int = NULL
)
AS

IF NOT EXISTS (SELECT TOP 1 * FROM ccps_object_category WHERE (cust_id = @cust_id) AND (category_id = @category_id) AND (type_id = @type_id) AND (object_id = @object_id))
BEGIN
	INSERT ccps_object_category
		(
			cust_id,
			type_id,
			category_id,
			object_id
		)
		VALUES
		(
			@cust_id,
			@type_id,
			@category_id,
			@object_id
		)
END

SELECT @cust_id, @category_id, @type_id, @object_id





GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

