SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ccnt_img_fld_tree_build]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ccnt_img_fld_tree_build]
GO



CREATE PROCEDURE usp_ccnt_img_fld_tree_build (@level_id int = 0, @cust_id int)
AS

SET @level_id = @level_id + 1

INSERT INTO #f (folder_id, parent_id, level_id)
	SELECT ff.folder_id, #f.folder_id, @level_id
		FROM
			ccnt_img_folder ff WITH(NOLOCK),
			ccnt_img_fld_cust_access fa WITH(NOLOCK),
			#f
		WHERE
			( #f.folder_id = ff.parent_id ) AND
			( ff.folder_id = fa.folder_id ) AND
			( fa.cust_id = @cust_id ) AND
			( fa.access_flag = 1 ) AND
			( #f.level_id = @level_id - 1 )

IF @@rowcount > 0 EXEC usp_ccnt_img_fld_tree_build @level_id, @cust_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

