SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ctgt_filter_statistic_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ctgt_filter_statistic_save]
GO


CREATE PROCEDURE usp_ctgt_filter_statistic_save
(
	@filter_id int = NULL,
	@start_date datetime = NULL,
	@finish_date datetime = NULL,
	@recip_qty int = NULL,
	@print_recip_qty int = NULL
)
AS

IF EXISTS (SELECT TOP 1 * FROM ctgt_filter_statistic WHERE (filter_id = @filter_id))
BEGIN
	UPDATE ctgt_filter_statistic
		SET
			start_date = @start_date,
			finish_date = @finish_date,
			recip_qty = @recip_qty,
			print_recip_qty = @print_recip_qty
		WHERE
			(filter_id = @filter_id)
END
ELSE
BEGIN
	INSERT ctgt_filter_statistic
		(
			filter_id,
			start_date,
			finish_date,
			recip_qty,
			print_recip_qty
		)
		VALUES
		(
			@filter_id,
			@start_date,
			@finish_date,
			@recip_qty,
			@print_recip_qty
		)
END

SELECT @filter_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

