SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_crpt_mbs_revenue_report_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_crpt_mbs_revenue_report_save]
GO

CREATE PROCEDURE usp_crpt_mbs_revenue_report_save
(
	@camp_id int = NULL,
	@purchasers int = NULL,
	@delivered decimal(9,4) = NULL,
	@purchases int = NULL,
	@total money = NULL
)
AS

IF EXISTS (SELECT TOP 1 * FROM crpt_mbs_revenue_report WHERE (camp_id = @camp_id))
BEGIN
	UPDATE crpt_mbs_revenue_report
		SET
			purchasers = @purchasers,
			delivered = @delivered,
			purchases = @purchases,
			total = @total
		WHERE
			(camp_id = @camp_id)
END
ELSE
BEGIN
	INSERT crpt_mbs_revenue_report
		(
			camp_id,
			purchasers,
			delivered,
			purchases,
			total
		)
		VALUES
		(
			@camp_id,
			@purchasers,
			@delivered,
			@purchases,
			@total
		)
END

SELECT @camp_id
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

