SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ccnt_link_insert_bytes]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ccnt_link_insert_bytes]
GO


CREATE PROCEDURE usp_ccnt_link_insert_bytes(@cont_id int, @b_link_name Varbinary(255), @href Varchar(255), @cust_id int)
AS

Declare  @Err Integer

DECLARE @link_id int
DECLARE @id_type_id int
SET @id_type_id = 130 -- LINK_ID
EXECUTE usp_ccps_next_id_get @cust_id, @id_type_id, @link_id OUTPUT

DECLARE @s_link_name varchar(255)
set @s_link_name=convert(varchar(255), @b_link_name)
set @s_link_name=LTrim(RTrim(@s_link_name))
set @href=LTrim(RTrim(@href))

INSERT cjtk_link (link_id, cont_id, cust_id, link_name, href) VALUES (@link_id, @cont_id, @cust_id, @s_link_name, @href)

--If @@Error=0
--	Exec usp_query_object_insert  5/*Type id of Href*/, @Id, @UserId, @hrefName
--If @@Error<>0
--	RaisError ('Can not save info about Links for tracing!',16,1)

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

