SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_cque_camp_clone_full_2]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_cque_camp_clone_full_2]
GO


CREATE PROCEDURE usp_cque_camp_clone_full_2 (@camp_id int, @sample_id int = NULL, @use_reserved_camp_id int = NULL)
AS 
DECLARE @new_camp_id int
EXEC usp_cque_camp_clone_full @camp_id, @sample_id, @new_camp_id OUTPUT, @use_reserved_camp_id
SELECT @new_camp_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

