SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_cftp_ftp_file_assignments_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_cftp_ftp_file_assignments_save]
GO


CREATE PROCEDURE usp_cftp_ftp_file_assignments_save
(
	@file_id int = NULL,
	@recip_import_id int = NULL,
	@entity_import_id int = NULL
)
AS

IF EXISTS (SELECT TOP 1 * FROM cftp_ftp_file_assignments WHERE (file_id = @file_id))
BEGIN
	UPDATE cftp_ftp_file_assignments
		SET
			recip_import_id = @recip_import_id,
			entity_import_id = @entity_import_id
		WHERE
			(file_id = @file_id)
END
ELSE
BEGIN
	INSERT cftp_ftp_file_assignments
		(
			file_id,
			recip_import_id,
			entity_import_id
		)
		VALUES
		(
			@file_id,
			@recip_import_id,
			@entity_import_id
		)
END

SELECT @file_id
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

