SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_cjtk_link_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_cjtk_link_save]
GO

CREATE PROCEDURE usp_cjtk_link_save
(
	@link_id int = NULL,
	@link_name varchar(255) = NULL,
	@cust_id int = NULL,
	@origin_link_id int = NULL,
	@cont_id int = NULL,
	@href varchar(255) = NULL,
	@camp_id int = NULL,
	@entity_id int = NULL
)
AS

IF EXISTS (SELECT TOP 1 * FROM cjtk_link WHERE (link_id = @link_id))
BEGIN
	UPDATE cjtk_link
		SET
			link_name = @link_name,
			cust_id = @cust_id,
			origin_link_id = @origin_link_id,
			cont_id = @cont_id,
			href = @href,
			camp_id = @camp_id,
			entity_id = @entity_id
		WHERE
			(link_id = @link_id)
END
ELSE
BEGIN

	DECLARE @id_type_id int, @next_id int
	SET @id_type_id = 130 -- Link
	EXECUTE usp_ccps_next_id_get @cust_id, @id_type_id, @link_id OUTPUT

	INSERT cjtk_link
		(
			link_id,
			link_name,
			cust_id,
			origin_link_id,
			cont_id,
			href,
			camp_id,
			entity_id
		)
		VALUES
		(
			@link_id,
			@link_name,
			@cust_id,
			@origin_link_id,
			@cont_id,
			@href,
			@camp_id,
			@entity_id
		)
END

SELECT @link_id


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

