SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_cque_campaign_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_cque_campaign_save]
GO


CREATE PROCEDURE usp_cque_campaign_save
(
	@camp_id int = NULL,
	@type_id int = NULL,
	@status_id smallint = NULL,
	@camp_name varchar(255) = NULL,
	@cust_id int = NULL,
	@cont_id int = NULL,
	@filter_id int = NULL,
	@seed_list_id int = NULL,
	@origin_camp_id int = NULL,
	@sample_id int = NULL,
	@approval_flag int = NULL,
	@mode_id int = NULL,
	@media_type_id int = NULL
)
AS

IF EXISTS (SELECT TOP 1 * FROM cque_campaign WHERE (camp_id = @camp_id))
BEGIN
	UPDATE cque_campaign
		SET
			type_id = @type_id,
			status_id = @status_id,
			camp_name = @camp_name,
			cust_id = @cust_id,
			cont_id = @cont_id,
			filter_id = @filter_id,
			seed_list_id = @seed_list_id,
			origin_camp_id = @origin_camp_id,
			sample_id = @sample_id,
			approval_flag = @approval_flag,
			mode_id = @mode_id,
			media_type_id = @media_type_id
		WHERE
			(camp_id = @camp_id)
END
ELSE
BEGIN
	DECLARE @id_type_id int, @next_id int, @increment int
	SET @id_type_id = 190 -- CAMPAIGN
	SET @increment = 1

	-- preserve one extra id as "Calculated" Campaign ID
	-- in usp_cque_camp_clone_full ... that id suppose to be used as real id for campaign to be sent
	IF ( (@origin_camp_id IS NULL) AND (ISNULL(@sample_id,0) = 0) AND (@status_id = 0) AND (@type_id != 1) ) SET @increment = 2

	EXECUTE usp_ccps_next_id_get @cust_id, @id_type_id, @next_id OUTPUT, @increment

	SET @camp_id = @next_id

	INSERT cque_campaign
		(
			camp_id,
			type_id,
			status_id,
			camp_name,
			cust_id,
			cont_id,
			filter_id,
			seed_list_id,
			origin_camp_id,
			sample_id,
			approval_flag,
			mode_id,
			media_type_id
		)
		VALUES
		(
			@camp_id,
			@type_id,
			@status_id,
			@camp_name,
			@cust_id,
			@cont_id,
			@filter_id,
			@seed_list_id,
			@origin_camp_id,
			@sample_id,
			@approval_flag,
			@mode_id,
			@media_type_id
		)
END

SELECT @camp_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

