SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ccps_approval_request_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ccps_approval_request_save]
GO


CREATE PROCEDURE usp_ccps_approval_request_save
(
	@approval_request_id int=null, 
	@aprvl_id int=null, 
	@disposition_id int=null, 
	@requestor_id int=null, 
	@approver_id int=null,
	@request_date datetime=null, 
	@disposition_date datetime=null, 
	@active_flag int=null, 
	@request_comment varchar(2500)=null, 
	@aprvl_comment varchar(2500)=null,
	@cust_id int=null,
	@email_sent_date datetime=null
)
AS

DECLARE @new_approval_request_id int
SET @new_approval_request_id = @approval_request_id

IF EXISTS (SELECT 1 FROM ccps_aprvl_request WHERE (approval_request_id = @approval_request_id) AND (cust_id = @cust_id))
BEGIN
	UPDATE ccps_aprvl_request
		SET
			aprvl_id = @aprvl_id, 
			disposition_id = @disposition_id, 
			requestor_id=@requestor_id, 
			approver_id=@approver_id,
			request_date=@request_date, 
			disposition_date=@disposition_date, 
			active_flag=@active_flag, 
			request_comment=@request_comment, 
			aprvl_comment=@aprvl_comment,
			cust_id=@cust_id,
			email_sent_date=@email_sent_date
		WHERE
			(approval_request_id = @approval_request_id)

END
ELSE
BEGIN
	INSERT ccps_aprvl_request
		(
			aprvl_id, 
			disposition_id, 
			requestor_id, 
			approver_id,
			request_date, 
			disposition_date, 
			active_flag, 
			request_comment, 
			aprvl_comment,
			cust_id,
			email_sent_date
		)
		VALUES
		(
			@aprvl_id, 
			@disposition_id, 
			@requestor_id, 
			@approver_id,
			@request_date, 
			@disposition_date, 
			@active_flag, 
			@request_comment, 
			@aprvl_comment,
			@cust_id,
			@email_sent_date
		)

	SET @new_approval_request_id = @@Identity
END

SELECT @new_approval_request_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

