SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_csbs_form_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_csbs_form_save]
GO


CREATE PROCEDURE usp_csbs_form_save
(
	@cust_id int = NULL,
	@form_id int = NULL,
	@type_id int = NULL,
	@prefill_no_validate_flag tinyint = NULL,
	@post_validate_flag tinyint = NULL,
	@form_name varchar(255) = NULL,
	@update_incomplete_flag tinyint = NULL,
	@prefill_flag tinyint = NULL,
	@high_priority_flag tinyint = NULL,
	@form_next_success int = NULL,
	@form_alt_prefill_bad_recip int = NULL,
	@form_source image = NULL,
	@form_alt_prefill_no_recip int = NULL,
	@form_url varchar(255) = NULL,
	@confirm_url varchar(255) = NULL,
	@upd_rule_id int = NULL,
	@upd_hierarchy_id int = NULL,
	@unsub_hierarchy_id int = NULL
)
AS

IF EXISTS (SELECT TOP 1 * FROM csbs_form WHERE (form_id = @form_id))
BEGIN
	UPDATE csbs_form
		SET
			cust_id = @cust_id,
			type_id = @type_id,
			prefill_no_validate_flag = @prefill_no_validate_flag,
			post_validate_flag = @post_validate_flag,
			form_name = @form_name,
			update_incomplete_flag = @update_incomplete_flag,
			prefill_flag = @prefill_flag,
			high_priority_flag = @high_priority_flag,
			form_next_success = @form_next_success,
			form_alt_prefill_bad_recip = @form_alt_prefill_bad_recip,
			form_source = @form_source,
			form_alt_prefill_no_recip = @form_alt_prefill_no_recip,
			form_url = @form_url,
			confirm_url = @confirm_url,
			upd_rule_id = @upd_rule_id,
			upd_hierarchy_id = @upd_hierarchy_id,
			unsub_hierarchy_id = @unsub_hierarchy_id
		WHERE
			(form_id = @form_id)
END
ELSE
BEGIN

	DECLARE @id_type_id int, @next_id int
	SET @id_type_id = 140 -- Form
	EXECUTE usp_ccps_next_id_get @cust_id, @id_type_id, @form_id OUTPUT

	INSERT csbs_form
		(
			cust_id,
			form_id,
			type_id,
			prefill_no_validate_flag,
			post_validate_flag,
			form_name,
			update_incomplete_flag,
			prefill_flag,
			high_priority_flag,
			form_next_success,
			form_alt_prefill_bad_recip,
			form_source,
			form_alt_prefill_no_recip,
			form_url,
			confirm_url,
			upd_rule_id,
			upd_hierarchy_id,
			unsub_hierarchy_id
		)
		VALUES
		(
			@cust_id,
			@form_id,
			@type_id,
			@prefill_no_validate_flag,
			@post_validate_flag,
			@form_name,
			@update_incomplete_flag,
			@prefill_flag,
			@high_priority_flag,
			@form_next_success,
			@form_alt_prefill_bad_recip,
			@form_source,
			@form_alt_prefill_no_recip,
			@form_url,
			@confirm_url,
			@upd_rule_id,
			@upd_hierarchy_id,
			@unsub_hierarchy_id
		)
END

SELECT @form_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

