SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_crpt_cust_report_list_get_old]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_crpt_cust_report_list_get_old]
GO



CREATE PROCEDURE usp_crpt_cust_report_list_get_old (@cust_id int, @start_id int=2147483647 , @direction bit=1, @row_count int=0)
AS

SET NoCount ON

DECLARE @iOne int, @iTwo int

DECLARE @tr TABLE (report_id int Primary Key)

SET RowCount @row_count
IF @direction=1
	INSERT @tr
		SELECT cr.report_id FROM crpt_cust_report cr 
			WHERE cr.cust_id=@cust_id 
			and cr.report_id < @start_id
		ORDER BY cr.report_id DESC
ELSE
	INSERT @tr
		SELECT cr.report_id FROM crpt_cust_report cr 
			WHERE cr.cust_id=@cust_id 
			and cr.report_id > @start_id
		ORDER BY cr.report_id DESC 
SET RowCount 0

SELECT @iOne=max(report_id), @iTwo=min(report_id) FROM @tr

SELECT @iOne=count(*) 
	FROM crpt_cust_report cr 
		WHERE cr.cust_id=@cust_id 
		and cr.report_id > @iOne 

SELECT @iTwo=count(*) 
	FROM crpt_cust_report cr 
		WHERE cr.cust_id=@cust_id 
		and cr.report_id < @iTwo

SELECT @iOne as isLeft, @iTwo as isRight


SELECT DISTINCT cr.report_id, CONVERT(VARCHAR(32), cr.start_date, 100) as 'start_date', CONVERT(VARCHAR(32), cr.end_date, 100) as 'end_date', 
		cr.user_id, CONVERT(VARCHAR(32), cr.update_date, 100) as 'update_date', cr.active, cr.have_bback, cr.are_bback, 
		cr.unsub, cr.click, cr.multi_click, cr.camp_qty, cr.sent, cr.not_sent, 
		cr.detect_html, cr.detect_text, cr.detect_aol, cr.unconfirmed, 
		s.display_name, cu.user_name
	FROM crpt_cust_report cr 
		JOIN @tr t ON cr.report_id=t.report_id AND cr.cust_id = @cust_id
		JOIN ccps_user cu ON cr.user_id=cu.user_id
		JOIN crpt_report_status s ON cr.status_id = s.status_id
	ORDER BY cr.report_id DESC

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

