SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_cadm_unsub_msg_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_cadm_unsub_msg_save]
GO


CREATE PROCEDURE usp_cadm_unsub_msg_save
	(@msg_id int,
	@msg_name varchar(255),
	@cust_id int,
	@text_msg  varchar(8000),
	@html_msg  varchar(8000),
	@aol_msg varchar(8000))

AS

IF EXISTS (SELECT msg_id FROM ccps_unsub_msg WHERE msg_id = @msg_id)
BEGIN
	UPDATE ccps_unsub_msg
		SET
			msg_name = @msg_name,
			cust_id = @cust_id,
			text_msg = @text_msg,
			html_msg = @html_msg,
			aol_msg = @aol_msg
		WHERE
			msg_id = @msg_id
END
ELSE
BEGIN
	INSERT ccps_unsub_msg
			(msg_id,
			msg_name,
			cust_id,
			text_msg,
			html_msg,
			aol_msg)
		VALUES
			(@msg_id,
			@msg_name,
			@cust_id,
			@text_msg,
			@html_msg,
			@aol_msg)
END

SELECT @msg_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

