SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ccps_cust_tree_build]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ccps_cust_tree_build]
GO



CREATE PROCEDURE usp_ccps_cust_tree_build (@level_id int = 0)
AS

SET @level_id = @level_id + 1

INSERT INTO #c (cust_id, parent_cust_id, level_id)
	SELECT cc.cust_id, #c.cust_id, @level_id
		FROM
			ccps_customer cc WITH(NOLOCK),
			#c
		WHERE
			( #c.cust_id = cc.parent_cust_id ) AND
			( #c.level_id = @level_id - 1 )

/*
INSERT INTO #c (cust_id, parent_cust_id, level_id)
	SELECT cc.child_cust_id, #c.cust_id, @level_id
		FROM
			ccps_cust_cust cc WITH(NOLOCK),
			#c
		WHERE
			( #c.cust_id = cc.parent_cust_id ) AND
			( #c.level_id = @level_id - 1 )
*/

IF @@rowcount > 0 EXEC usp_ccps_cust_tree_build @level_id


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

