SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ccnt_cont_load_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ccnt_cont_load_save]
GO


CREATE PROCEDURE dbo.usp_ccnt_cont_load_save (@cust_id int, @status_id int, @status_desc varchar(255), @cont_id int=-1, @load_id int=-1) AS


DECLARE @new_load_id int

IF @load_id < 1
	SET @load_id = NULL

IF (@load_id IS NULL)
--NEW content load
BEGIN

	INSERT ccnt_cont_load (cust_id, status_id, status_desc, load_date)
	VALUES
	(@cust_id,@status_id, RTRIM(@status_desc),  getdate())

	SET @new_load_id = @@IDENTITY
END
ELSE
BEGIN
	UPDATE ccnt_cont_load SET
		status_id = @status_id,
		status_desc = RTRIM(@status_desc),
		cont_id = @cont_id
	WHERE load_id = @load_id

	SET @new_load_id = @load_id
END

SELECT @new_load_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

