SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_cftp_ftp_task_schedule_tweak]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_cftp_ftp_task_schedule_tweak]
GO


CREATE PROCEDURE usp_cftp_ftp_task_schedule_tweak
(
	@task_id int = NULL,
	@last_start_date datetime = NULL
)
AS

DECLARE @next_start_date datetime
DECLARE @next_start_interval int

SELECT
		@next_start_date = ISNULL(next_start_date, getdate()),
		@next_start_interval = ISNULL(next_start_interval, 60*24) -- 24 hours
	FROM cftp_ftp_task_schedule
	WHERE task_id = @task_id

--- === === === ---

/* Something old

DECLARE @day float
DECLARE @hours float

SET @day = CONVERT(float,ISNULL(@last_start_date, getdate()))
SET @day = FLOOR(@day)

SET @hours = CONVERT(float,ISNULL(@next_start_date,getdate()))
SET @hours = @hours - FLOOR(@hours)

SET @next_start_date = @day  + 1 + @hours
*/
--- === === === ---

SET @next_start_date = DATEADD(mi, @next_start_interval, @next_start_date)

UPDATE cftp_ftp_task_schedule SET next_start_date = @next_start_date WHERE task_id = @task_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

