SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ctgt_filter_list_get]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ctgt_filter_list_get]
GO



CREATE PROCEDURE usp_ctgt_filter_list_get
	(@cust_id int,
	@category_id int,
	@start_record int,
	@page_size int)
AS

CREATE TABLE #t
	(n int identity,
	filter_id int null,
	filter_name varchar(255) null,
	finish_date varchar(255) null,
	recip_qty int null,
	status_id int null,
	status_name varchar(255) null)

IF ((@category_id IS NULL) OR (@category_id = 0))
BEGIN
	INSERT #t
		(filter_id,
		filter_name,
		finish_date,
		recip_qty,
		status_id,
		status_name)
	SELECT
			f.filter_id,
			f.filter_name,
			finish_date = CONVERT(varchar, fsc.finish_date, 100),
			fsc.recip_qty,
			fss.status_id,
			fss.status_name
		 FROM
			ctgt_filter f WITH(NOLOCK),
			ctgt_filter_statistic fsc WITH(NOLOCK),
			ctgt_filter_status fss WITH(NOLOCK)
		 WHERE
			f.filter_id *= fsc.filter_id
			AND f.status_id = fss.status_id
			AND UPPER(fss.status_name) <> 'DELETED'
			AND f.filter_name IS NOT NULL
			AND f.origin_filter_id IS NULL
			AND f.type_id = 0 --FilterType.MULTIPART
			AND ISNULL(f.usage_type_id,500) = 500
			AND f.cust_id = @cust_id
		ORDER BY  ISNULL(fsc.finish_date, getdate()) DESC, f.filter_name
END
ELSE
BEGIN
	INSERT #t
		(filter_id,
		filter_name,
		finish_date,
		recip_qty,
		status_id,
		status_name)
	SELECT
			f.filter_id,
			f.filter_name,
			CONVERT(varchar, fsc.finish_date, 100),
			fsc.recip_qty,
			fss.status_id,
			fss.status_name
		FROM
			ctgt_filter f WITH(NOLOCK),
			ctgt_filter_statistic fsc WITH(NOLOCK),
			ctgt_filter_status fss WITH(NOLOCK),
			ccps_object_category oc WITH(NOLOCK)
		WHERE
			f.filter_id *= fsc.filter_id
			AND f.status_id = fss.status_id
			AND UPPER(fss.status_name) <> 'DELETED'
			AND f.filter_name IS NOT NULL
			AND f.origin_filter_id IS NULL		
			AND f.type_id = 0 --FilterType.MULTIPART
			AND ISNULL(f.usage_type_id,500) = 500
			AND f.cust_id = @cust_id
			AND f.filter_id = oc.object_id
			AND oc.type_id =200  --ObjectType.FILTER;		
			AND oc.cust_id = @cust_id
			AND oc.category_id = @category_id
		ORDER BY  ISNULL(fsc.finish_date, getdate()) DESC, f.filter_name
END

SELECT 
		filter_id,
		filter_name,
		finish_date,
		recip_qty,
		status_id,
		status_name
	FROM #t
	WHERE ( n >= @start_record ) AND ( n <= @start_record + @page_size)
	ORDER BY n

DROP TABLE #t


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

