SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ctgt_filter_part_validate]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ctgt_filter_part_validate]
GO



CREATE PROCEDURE  usp_ctgt_filter_part_validate
	(@parent_filter_id int,
	@child_filter_id int)
AS

CREATE TABLE #filter_parent_chains (parent_filter_id int, child_filter_id int, level_id int)
CREATE TABLE #filter_child_tree (parent_filter_id int, child_filter_id int, level_id int)

INSERT #filter_parent_chains (parent_filter_id, child_filter_id, level_id) VALUES (@parent_filter_id, @child_filter_id, 0)
INSERT #filter_child_tree(parent_filter_id, child_filter_id, level_id) VALUES (@parent_filter_id, @child_filter_id, 0)

EXEC usp_ctgt_filter_parent_chains_get
EXEC usp_ctgt_filter_child_tree_get

DECLARE @n int

SELECT @n = count(*)
	FROM
		#filter_parent_chains fpc,
		#filter_child_tree fct
	WHERE
		fpc.parent_filter_id = fct.child_filter_id

IF ISNULL(@n, 0)  != 0 RAISERROR ('ERROR: Cycle reference within filter chain is not permitted.', 11, 1)


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

