SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ccps_aprvl_cust_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ccps_aprvl_cust_save]
GO


CREATE PROCEDURE usp_ccps_aprvl_cust_save
(
	@cust_id int = NULL,
	@object_type int = NULL,
	@aprvl_workflow_flag int = NULL
)
AS

IF EXISTS (SELECT TOP 1 * FROM ccps_aprvl_cust WHERE (cust_id = @cust_id) AND (object_type = @object_type))
BEGIN
	UPDATE ccps_aprvl_cust
		SET
			aprvl_workflow_flag = @aprvl_workflow_flag
		WHERE
			(cust_id = @cust_id) AND
			(object_type = @object_type)
END
ELSE
BEGIN
	INSERT ccps_aprvl_cust
		(
			cust_id,
			object_type,
			aprvl_workflow_flag
		)
		VALUES
		(
			@cust_id,
			@object_type,
			@aprvl_workflow_flag
		)
END

SELECT @cust_id, @object_type



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

