SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ccnt_logic_block_modify]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ccnt_logic_block_modify]
GO


CREATE PROCEDURE usp_ccnt_logic_block_modify 
	(@cont_id int = null,
	@cust_id int,
	@cont_name varchar(255),
	@user_id int)
AS

DECLARE @type_id int
SET @type_id = 25 --LOGIC_BLOCK

DECLARE @status_id int
SET @status_id = 20

IF @cont_id IS NULL
BEGIN
	DECLARE @id_type_id int
	SET @id_type_id = 170 -- CONTENT
	EXECUTE usp_ccps_next_id_get @cust_id, @id_type_id, @cont_id OUTPUT

	INSERT ccnt_content (cont_id, type_id, cust_id, status_id, cont_name)
		VALUES (@cont_id, @type_id, @cust_id, @status_id, @cont_name)

	INSERT ccnt_cont_edit_info (cont_id, creator_id, create_date, modifier_id, modify_date)
		VALUES (@cont_id, @user_id, getdate(), @user_id, getdate())
END
ELSE
BEGIN
	UPDATE ccnt_content
		SET cont_name=@cont_name
		WHERE cont_id=@cont_id

	UPDATE ccnt_cont_edit_info 
		SET modifier_id = @user_id, modify_date = getdate()
		WHERE cont_id=@cont_id

END
SELECT @cont_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

