SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_cque_camp_sample_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_cque_camp_sample_save]
GO


CREATE PROCEDURE usp_cque_camp_sample_save
(
	@camp_id int = NULL,
	@sample_id int = NULL,
	@from_name varchar(255) = NULL,
	@from_address varchar(255) = NULL,
	@from_address_id int = NULL,
	@subject_html varchar(255) = NULL,
	@subject_text varchar(255) = NULL,
	@subject_aol varchar(255) = NULL,
	@cont_id int = NULL,
	@send_date datetime = NULL,
	@test_list_id int = NULL
)
AS

IF EXISTS (SELECT TOP 1 * FROM cque_camp_sample WHERE (camp_id = @camp_id) AND (sample_id = @sample_id))
BEGIN
	UPDATE cque_camp_sample
		SET
			from_name = @from_name,
			from_address = @from_address,
			from_address_id = @from_address_id,
			subject_html = @subject_html,
			subject_text = @subject_text,
			subject_aol = @subject_aol,
			cont_id = @cont_id,
			send_date = @send_date,
			test_list_id = @test_list_id
		WHERE
			(camp_id = @camp_id) AND
			(sample_id = @sample_id)
END
ELSE
BEGIN
	INSERT cque_camp_sample
		(
			camp_id,
			sample_id,
			from_name,
			from_address,
			from_address_id,
			subject_html,
			subject_text,
			subject_aol,
			cont_id,
			send_date,
			test_list_id
		)
		VALUES
		(
			@camp_id,
			@sample_id,
			@from_name,
			@from_address,
			@from_address_id,
			@subject_html,
			@subject_text,
			@subject_aol,
			@cont_id,
			@send_date,
			@test_list_id
		)
END

SELECT @camp_id, @sample_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

