SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_cque_email_list_item_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_cque_email_list_item_save]
GO


CREATE PROCEDURE usp_cque_email_list_item_save
(
	@item_id int = NULL,
	@email_type_id smallint = NULL,
	@list_id int = NULL,
	@email varchar(255) = NULL
)
AS

IF EXISTS (SELECT TOP 1 * FROM cque_email_list_item WHERE (item_id = @item_id))
BEGIN
	UPDATE cque_email_list_item
		SET
			email_type_id = @email_type_id,
			list_id = @list_id,
			email = @email
		WHERE
			(item_id = @item_id)
END
ELSE
BEGIN
	-- this is crap
	-- item id should be identity
	-- or primary key should be list_id, item_id
	-- or both

	IF (@item_id IS NULL) SELECT @item_id = MAX(item_id) FROM cque_email_list_item WITH(NOLOCK)
	SET @item_id = ISNULL(@item_id,0) + 1

	INSERT cque_email_list_item
		(
			item_id,
			email_type_id,
			list_id,
			email
		)
		VALUES
		(
			@item_id,
			@email_type_id,
			@list_id,
			@email
		)
END

SELECT @item_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

