SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_cque_camp_setup_status_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_cque_camp_setup_status_save]
GO


CREATE PROCEDURE usp_cque_camp_setup_status_save
(
	@camp_id int = NULL,
	@rcp_status int = NULL,
	@jtk_status int = NULL,
	@inb_status int = NULL,
	@mailer_status int = NULL
)
AS

IF EXISTS (SELECT TOP 1 * FROM cque_camp_setup_status WHERE (camp_id = @camp_id))
BEGIN
	UPDATE cque_camp_setup_status
		SET
			rcp_status = ISNULL(rcp_status, @rcp_status),
			jtk_status =  ISNULL(jtk_status, @jtk_status),
			inb_status =  ISNULL(inb_status, @inb_status),
			mailer_status =  ISNULL(mailer_status, @mailer_status)
		WHERE
			(camp_id = @camp_id)
END
ELSE
BEGIN
	INSERT cque_camp_setup_status
		(
			camp_id,
			rcp_status,
			jtk_status,
			inb_status,
			mailer_status
		)
		VALUES
		(
			@camp_id,
			@rcp_status,
			@jtk_status,
			@inb_status,
			@mailer_status
		)
END

SELECT @camp_id





GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

