SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ccnt_img_folder_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ccnt_img_folder_save]
GO


CREATE PROCEDURE dbo.usp_ccnt_img_folder_save (@cust_id int, @folder_id int=-1, @folder_name varchar(255) , @file_path varchar(255),
							@url_path varchar(255), @parent_id int, @user_id int=0, @root_flag int=-1, @type_id int=null) AS


DECLARE @new_folder_id int

IF @folder_id < 1
	SET @folder_id = NULL

IF @root_flag < 1
	SET @root_flag = NULL

IF @type_id IS NULL
BEGIN
	IF @parent_id IS NOT NULL
		SELECT @type_id = type_id FROM ccnt_img_folder WHERE folder_id = @parent_id
	ELSE
		SET @type_id = 10 --STANDARD
END



IF (@folder_id IS NULL)  -- NEW Folder
BEGIN

	INSERT ccnt_img_folder (cust_id, folder_name, file_path, url_path, parent_id, root_flag, create_user, create_date, last_mod_user, last_mod_date, type_id)
	VALUES
	(@cust_id, RTRIM(@folder_name), RTRIM(@file_path),RTRIM( @url_path), @parent_id, @root_flag, @user_id, getdate(), @user_id, getdate(), @type_id)

	SET @new_folder_id = @@IDENTITY
END
ELSE
BEGIN
	UPDATE ccnt_img_folder SET
		folder_name = RTRIM(@folder_name),
		parent_id = @parent_id,
		url_path = RTRIM(@url_path),
		file_path = RTRIM(@file_path),
		last_mod_user =@user_id,
		last_mod_date = getdate(),
		type_id = @type_id
	WHERE folder_id = @folder_id

	SET @new_folder_id = @folder_id
END


SELECT @new_folder_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

