SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_cque_camp_mscrm_preview]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_cque_camp_mscrm_preview]
GO


CREATE  PROCEDURE usp_cque_camp_mscrm_preview
(
	@camp_id int, 
	@type_id int,
	@auto_queue_daily_flag int = NULL
)
AS

IF (@type_id = 4) SET @auto_queue_daily_flag = 1

CREATE TABLE #tmp
	(camp_id int,
	camp_name varchar(255), 
	display_name varchar(255),
	type_id int,
	filter_name varchar(255),
	cont_name varchar(255),
	modify_date datetime,
	qty_queued varchar(255),
	qty_sent varchar(255),
	start_date datetime,
	status_id int,
	approval_flag int,
	cont_id int, 
	sent_camp_id int, 
	from_name varchar(255),
	from_addr varchar(255),
	subj_line varchar(255),
	resp_frwd varchar(255))
	

IF @type_id = 4
BEGIN
	INSERT #tmp
		(camp_id,
		camp_name, 
		display_name,
		type_id,
		cont_id, 
		filter_name,
		cont_name,
		modify_date,
		status_id,
		approval_flag)
	SELECT
		c.camp_id,
		c.camp_name, 
		s.display_name,
		c.type_id, 
		c.cont_id, 
		isNull(f.filter_name, 'None'), 
		isNull(o.cont_name, 'None') ,
		cei.modify_date,
		c.status_id,
		isNull(c.approval_flag, 0)
	FROM
		cque_campaign c,
		ccnt_content o,
		ctgt_filter f,
		cque_camp_status s,
		cque_camp_edit_info cei

	WHERE
				c.status_id = s.status_id
		AND		( c.type_id in (2,4)  OR -1 = @type_id)
		AND		c.filter_id *= f.filter_id
		AND		c.cont_id *= o.cont_id
		AND		c.camp_id = @camp_id
		AND		c.origin_camp_id IS NULL
		AND		cei.camp_id = c.camp_id
END
ELSE
BEGIN
	INSERT #tmp
		(camp_id,
		camp_name, 
		display_name,
		type_id,
		cont_id, 
		filter_name,
		cont_name,
		modify_date,
		status_id,
		approval_flag)
	SELECT
		c.camp_id,
		c.camp_name, 
		s.display_name,
		c.type_id, 
		c.cont_id, 
		isNull(f.filter_name, 'None'), 
		isNull(o.cont_name, 'None') ,
		cei.modify_date,
		c.status_id,
		isNull(c.approval_flag, 0)
	FROM
		cque_campaign c,
		ccnt_content o,
		ctgt_filter f,
		cque_camp_status s,
		cque_camp_edit_info cei

	WHERE
				c.status_id = s.status_id
		AND		( c.type_id = @type_id  OR -1 = @type_id)
		AND		c.filter_id *= f.filter_id
		AND		c.cont_id *= o.cont_id
		AND		c.camp_id = @camp_id
		AND		c.origin_camp_id IS NULL
		AND		cei.camp_id = c.camp_id
END


UPDATE #tmp
	SET
		type_id = c.type_id,
		status_id = c.status_id,
		display_name  = 'Test: ' + s.display_name
	FROM
		cque_campaign c,
		cque_camp_status s
	WHERE
		c.origin_camp_id = #tmp.camp_id AND
		c.status_id < 60 /* CampaignStatus.DONE */ AND
		c.type_id = 1 AND
		c.status_id = s.status_id 

UPDATE #tmp
	SET
		type_id = c.type_id,
		status_id = c.status_id,
		display_name  = s.display_name,
		approval_flag = c.approval_flag
	FROM
		cque_campaign c,
		cque_camp_status s
	WHERE
		c.origin_camp_id = #tmp.camp_id AND
		c.type_id != 1 AND
		c.status_id = s.status_id 
		AND c.status_id < 60

--JPM 12/4/03 added the following update statement for Content deletion
UPDATE #tmp
	SET
		#tmp.cont_name =  '*Deleted* ' + #tmp.cont_name
	FROM
		cque_campaign c,
		ccnt_content o,
		ccnt_cont_status os
	WHERE
		(c.camp_id = #tmp.camp_id OR c.origin_camp_id = #tmp.camp_id) AND
		c.cont_id = o.cont_id AND
		o.status_id = os.status_id AND
		UPPER(os.status_name) = 'DELETED'

--JPM 12/8/03 added the following update statement for Filter deletion
UPDATE #tmp
	SET
		#tmp.filter_name =  '*Deleted* ' + #tmp.filter_name
	FROM
		cque_campaign camp,
		ctgt_filter filt,
		ctgt_filter_status fstat
	WHERE
		(camp.camp_id = #tmp.camp_id OR camp.origin_camp_id = #tmp.camp_id) AND
		camp.filter_id = filt.filter_id AND
		filt.status_id = fstat.status_id AND
		UPPER(fstat.status_name) = 'DELETED'

UPDATE #tmp
	SET 
		#tmp.start_date = cs.start_date
	FROM
		cque_campaign c,
		cque_schedule cs
	WHERE
		c.origin_camp_id = #tmp.camp_id AND 
		c.camp_id = cs.camp_id

UPDATE #tmp
	SET 
		#tmp.sent_camp_id = c.camp_id, 
		#tmp.qty_queued = cs.recip_queued_qty, 
		#tmp.qty_sent = cs.recip_sent_qty
	FROM
		cque_campaign c,
		cque_camp_statistic cs
	WHERE
		c.origin_camp_id = #tmp.camp_id AND 
		c.camp_id = cs.camp_id AND
		c.type_id <> '1'

--- === === === ---

SELECT
	camp_id,
	camp_name, 
	display_name,
	type_id,
	isnull(qty_queued, '0'),
	isnull(qty_sent, '0'),
	filter_name,
	cont_name,
	CONVERT(VARCHAR(32), modify_date, 100),
	CONVERT(VARCHAR(32), start_date, 100),
	status_id,
	approval_flag, 
	cont_id, 
	sent_camp_id
FROM #tmp
ORDER BY status_id DESC, start_date DESC

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

