SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ccnt_scrape_url_cont_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ccnt_scrape_url_cont_save]
GO


CREATE PROCEDURE usp_ccnt_scrape_url_cont_save
(
	@url_id int=null,
	@format_id int=null,
	@cont_id int=null
)
AS

IF EXISTS (SELECT TOP 1 * FROM ccnt_scrape_url_cont WHERE (url_id = @url_id) AND (format_id = @format_id))
BEGIN
	UPDATE ccnt_scrape_url_cont
		SET
			cont_id = @cont_id
		WHERE
			(url_id = @url_id) 
			AND (format_id = @format_id) 
END
ELSE
BEGIN
	INSERT ccnt_scrape_url_cont
		(
			url_id,
			format_id,
			cont_id
		)
		VALUES
		(
			@url_id,
			@format_id,
			@cont_id
		)
END

SELECT @url_id, @format_id


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

