SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ccps_approval_path_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ccps_approval_path_save]
GO


CREATE PROCEDURE usp_ccps_approval_path_save
(
	@approval_path_id int=null, 
	@cust_id int=null, 
	@group_id int=null, 
	@next_tier_cust_id int=null,  
	@next_tier_group_id int=null)
AS

DECLARE @new_approval_path_id int
SET @new_approval_path_id = @approval_path_id

IF EXISTS (SELECT 1 FROM ccps_approval_path WHERE (approval_path_id = @approval_path_id) AND (cust_id = @cust_id))
BEGIN
	UPDATE ccps_approval_path
		SET
			approval_path_id=@approval_path_id, 
			cust_id=@cust_id, 
			group_id=@group_id, 
			next_tier_cust_id=@next_tier_cust_id,  
			next_tier_group_id=@next_tier_group_id
		WHERE
			(approval_path_id = @approval_path_id)


END
ELSE
BEGIN
	INSERT ccps_approval_path
		(
			cust_id, 
			group_id, 
			next_tier_cust_id,  
			next_tier_group_id
		)
		VALUES
		(
			@cust_id, 
			@group_id, 
			@next_tier_cust_id,  
			@next_tier_group_id
		)

	SET @new_approval_path_id = @@Identity
END

SELECT @new_approval_path_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

