SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_crpt_cust_report_bbacks]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_crpt_cust_report_bbacks]
GO



CREATE PROCEDURE usp_crpt_cust_report_bbacks (@cust_id int, @report_id int=0) 
AS
SET NOCOUNT ON

CREATE TABLE #tBBacks (CategoryID int,
			CategoryName varchar(255),
			BBacks int)

INSERT #tBBacks (CategoryID,
		CategoryName,
		BBacks)
	SELECT b.category_id, 
		c.category_name, 
		b.bbacks
	FROM crpt_cust_report_bback b, crpt_bback_category c
	WHERE b.cust_id = @cust_id AND b.report_id = @report_id
		AND b.category_id = c.category_id

DECLARE @totBBacks int

SELECT @totBBacks = SUM(BBacks) FROM #tBBacks

SELECT CategoryID,
	CategoryName,
	BBacks,
	BBackPrc = CASE @totBBacks WHEN 0 THEN 0
		ELSE convert(decimal(5,1), (BBacks*100.0/@totBBacks)) END

FROM #tBBacks
ORDER BY CategoryName

DROP TABLE #tBBacks

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

