SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_crpt_camp_links]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_crpt_camp_links]
GO




CREATE PROCEDURE usp_crpt_camp_links (@camp_id int, @cache_id int = 0, @cache int=0) 
AS

SET NOCOUNT ON
CREATE TABLE #tLink (CampID int,
			[Id] int, 
			LinkName varchar(255),   
			TotalClicks int,
			TotalText int,
			TotalHTML int,
			TotalAOL int,
			DistinctClicks int,
			DistinctText int,
			DistinctHTML int,
			DistinctAOL int,
			MultiClickers int,
			TotalClickPrc decimal(5,1),
			DistinctClickPrc decimal(5,1))

	IF (@cache <> 1)
		INSERT #tLink (CampID,
				[Id], 
				LinkName,   
				TotalClicks,
				TotalText,
				TotalHTML,
				TotalAOL,
				DistinctClicks,
				DistinctText,
				DistinctHTML,
				DistinctAOL,
				MultiClickers)
			SELECT camp_id, 
				link_id, 
				link_name,
				tot_clicks,
				tot_text_clicks,
				tot_html_clicks,
				tot_aol_clicks,
				dist_clicks,
				dist_text_clicks,
				dist_html_clicks,
				dist_aol_clicks,
				multi_clickers
			FROM crpt_camp_link
			WHERE camp_id = @camp_id
	ELSE
		INSERT #tLink (CampID,
				[Id], 
				LinkName,   
				TotalClicks,
				TotalText,
				TotalHTML,
				TotalAOL,
				DistinctClicks,
				DistinctText,
				DistinctHTML,
				DistinctAOL,
				MultiClickers)
			SELECT camp_id, 
				link_id, 
				link_name,
				tot_clicks,
				tot_text_clicks,
				tot_html_clicks,
				tot_aol_clicks,
				dist_clicks,
				dist_text_clicks,
				dist_html_clicks,
				dist_aol_clicks,
				multi_clickers
			FROM crpt_camp_link_cache
			WHERE camp_id = @camp_id
			AND cache_id = @cache_id

DECLARE @TotalAllClicks int, @DistinctAllClicks int
SELECT @TotalAllClicks = sum(TotalClicks), @DistinctAllClicks = sum(DistinctClicks) FROM #tLink WHERE CampID = @camp_id

	UPDATE #tLink SET TotalClickPrc = CASE @TotalAllClicks
					WHEN 0 THEN 0
					ELSE convert(decimal(5,1),(TotalClicks*100.0)/@TotalAllClicks) END,
				DistinctClickPrc = CASE @DistinctAllClicks
					WHEN 0 THEN 0
					ELSE convert(decimal(5,1),(DistinctClicks*100.0)/@DistinctAllClicks) END


	SELECT 	CampID,
		[Id], 
		LinkName,   
		TotalClicks,
		TotalText,
		TotalHTML,
		TotalAOL,
		DistinctClicks,
		DistinctText,
		DistinctHTML,
		DistinctAOL,
		MultiClickers,
		TotalClickPrc,
		TotalTextPrc =
			CASE WHEN ((TotalClicks = 0) OR (TotalClickPrc < 1))THEN 0
				ELSE convert(decimal(5,1),(TotalText*100.0)/TotalClicks)
			END,
		TotalHTMLPrc =
			CASE WHEN ((TotalClicks = 0) OR (TotalClickPrc < 1))THEN 0
				ELSE convert(decimal(5,1),(TotalHTML*100.0)/TotalClicks)
			END,
		TotalAOLPrc =
			CASE WHEN ((TotalClicks = 0) OR (TotalClickPrc < 1))THEN 0
				ELSE convert(decimal(5,1),(TotalAOL*100.0)/TotalClicks)
			END,
		DistinctClickPrc,
		DistinctTextPrc =
			CASE WHEN ((DistinctClicks = 0) OR (DistinctClickPrc < 1))THEN 0
				ELSE convert(decimal(5,1),(DistinctText*100.0)/DistinctClicks)
			END,
		DistinctHTMLPrc =
			CASE WHEN ((DistinctClicks = 0) OR (DistinctClickPrc < 1))THEN 0
				ELSE convert(decimal(5,1),(DistinctHTML*100.0)/DistinctClicks)
			END,
		DistinctAOLPrc =
			CASE WHEN ((DistinctClicks = 0) OR (DistinctClickPrc < 1))THEN 0
				ELSE convert(decimal(5,1),(DistinctAOL*100.0)/DistinctClicks)
			END
	FROM #tLink

DROP TABLE #tLink
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

