SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_cadm_session_log_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_cadm_session_log_save]
GO



CREATE PROCEDURE usp_cadm_session_log_save
	(@session_id varchar(255),
	@cust_id int,
	@cust_name  varchar(255),
	@user_id int,
	@user_name  varchar(255),
	@last_url  varchar(255),
	@phone varchar(255))
AS

IF EXISTS (SELECT session_id FROM cadm_session_log WHERE session_id = @session_id)
BEGIN
	UPDATE cadm_session_log
		SET
			session_id = @session_id,
			cust_id = @cust_id,
			cust_name = @cust_name,
			user_id = @user_id,
			user_name = @user_name,
			last_url = @last_url,
			last_access_time = getdate(),
			phone = @phone
		WHERE session_id = @session_id
END
ELSE
BEGIN
	INSERT cadm_session_log
			(session_id,
			cust_id,
			cust_name,
			user_id,
			user_name,
			last_url,
			login_time,
			last_access_time,
			phone)
		VALUES
			(@session_id,
			@cust_id,
			@cust_name,
			@user_id,
			@user_name,
			@last_url,
			getdate(),
			getdate(),
			@phone)
END


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

