SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ccnt_cont_clone_full_2]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ccnt_cont_clone_full_2]
GO



CREATE PROCEDURE usp_ccnt_cont_clone_full_2 (@cont_id int)
AS 

DECLARE @new_cont_id int
EXEC usp_ccnt_cont_clone_full @cont_id, @new_cont_id OUTPUT
SELECT @new_cont_id


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

