SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_crpt_nonemail_import_list_get]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_crpt_nonemail_import_list_get]
GO


CREATE PROCEDURE usp_crpt_nonemail_import_list_get (@cust_id int) AS

CREATE TABLE #tl (import_id int, 
		camp_id int, 
		camp_name varchar(255),
		num_recips int,
		import_date datetime,
		import_user int)

INSERT #tl (import_id,
		camp_id, 
		num_recips,
		import_date,
		import_user)
	SELECT import_id,
		camp_id,
		num_recips,
		import_date,
		import_user
	FROM crpt_nonemail_import
		WHERE cust_id = @cust_id


UPDATE #tl
	SET camp_name = c.camp_name
	FROM #tl, cque_campaign c
	WHERE #tl.camp_id-1 = c.camp_id

SELECT import_id,
	camp_name,
	num_recips,
	convert(varchar(50),import_date,100),
	import_user
FROM #tl

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

