SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_cupd_import_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_cupd_import_save]
GO


CREATE PROCEDURE usp_cupd_import_save
(
	@import_id int = NULL,
	@batch_id int = NULL,
	@import_name varchar(255) = NULL,
	@status_id tinyint = NULL,
	@import_date datetime = NULL,
	@field_separator varchar(255) = NULL,
	@first_row int = NULL,
	@import_file varchar(255) = NULL,
	@upd_rule_id int = NULL,
	@import_url varchar(255) = NULL,
	@full_name_flag int = NULL,
	@email_type_flag int =  NULL,
	@type_id int =  NULL,
	@upd_hierarchy_id int =  NULL,
	@auto_commit_flag int = NULL,
	@multi_value_field_separator varchar(255) = NULL
)
AS

-- set defaults

IF EXISTS (SELECT TOP 1 * FROM cupd_import WHERE (import_id = @import_id))
BEGIN
	UPDATE cupd_import
		SET
			batch_id = @batch_id,
			import_name = @import_name,
			status_id = @status_id,
			import_date = ISNULL(@import_date,import_date),
			field_separator = @field_separator,
			first_row = @first_row,
			import_file = @import_file,
			upd_rule_id = @upd_rule_id,
			import_url = @import_url,
			full_name_flag = ISNULL(@full_name_flag,full_name_flag),
			email_type_flag = ISNULL(@email_type_flag,email_type_flag),
			type_id =  ISNULL(@type_id,type_id),
			upd_hierarchy_id =  ISNULL(@upd_hierarchy_id,upd_hierarchy_id),
			auto_commit_flag = @auto_commit_flag,
			multi_value_field_separator = @multi_value_field_separator
		WHERE
			(import_id = @import_id)
END
ELSE
BEGIN
	DECLARE @cust_id int
	SELECT @cust_id = cust_id FROM cupd_batch WHERE batch_id = @batch_id

	DECLARE @id_type_id int, @next_id int
	SET @id_type_id = 160 -- import
	EXECUTE usp_ccps_next_id_get @cust_id, @id_type_id, @import_id OUTPUT

	INSERT cupd_import
		(
			import_id,
			batch_id,
			import_name,
			status_id,
			import_date,
			field_separator,
			first_row,
			import_file,
			upd_rule_id,
			import_url,
			full_name_flag,
			email_type_flag,
			type_id,
			upd_hierarchy_id,
			auto_commit_flag,
			multi_value_field_separator
		)
		VALUES
		(
			@import_id,
			@batch_id,
			@import_name,
			@status_id,
			ISNULL(@import_date, getdate()),
			@field_separator,
			@first_row,
			@import_file,
			@upd_rule_id,
			@import_url,
			ISNULL(@full_name_flag,1),
			ISNULL(@email_type_flag,0),
			ISNULL(@type_id,10),
			ISNULL(@upd_hierarchy_id,100),
			@auto_commit_flag,
			@multi_value_field_separator
		)
END

SELECT @import_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

