SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_cque_email_list_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_cque_email_list_save]
GO



CREATE PROCEDURE usp_cque_email_list_save
(
	@list_id int = NULL,
	@cust_id int = NULL,
	@list_name varchar(255) = NULL,
	@type_id int = NULL,
	@status_id int = 10
)
AS

IF EXISTS (SELECT TOP 1 * FROM cque_email_list WHERE (list_id = @list_id))
BEGIN
	UPDATE cque_email_list
		SET
			cust_id = @cust_id,
			list_name = @list_name,
			type_id = @type_id, 
			status_id = @status_id
		WHERE
			(list_id = @list_id)
END
ELSE
BEGIN

	BEGIN TRANSACTION

	-- This crap was not noticed while moving from v4 to v5
	-- list id should be an identity field
	SELECT @list_id = MAX(list_id) FROM cque_email_list
	SET @list_id = ISNULL(@list_id,0) + 1

	INSERT cque_email_list
		(
			list_id,
			cust_id,
			list_name,
			type_id, 
			status_id
		)
		VALUES
		(
			@list_id,
			@cust_id,
			@list_name,
			@type_id, 
			@status_id
		)

	IF ( @@error = 0 ) COMMIT TRANSACTION
	ELSE ROLLBACK TRANSACTION
END

SELECT @list_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

