SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_crpt_camp_optouts]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_crpt_camp_optouts]
GO


CREATE PROCEDURE usp_crpt_camp_optouts (@camp_id int, @cache_id int = 0, @cache int=0) 
AS
SET NOCOUNT ON

DECLARE @cust_id int

SELECT @cust_id = cust_id FROM crpt_camp_summary WHERE camp_id = @camp_id

CREATE TABLE #tOptouts (CampID int,
			AttrID int,
			AttrName varchar(255),
			Optouts int)

IF (@cache <> 1)
	INSERT #tOptouts (CampID,
			AttrID,
			AttrName,
			Optouts)
		SELECT o.camp_id, 
			o.attr_id, 
			c.display_name, 
			o.optouts
		FROM crpt_camp_optout o, ccps_cust_attr c
		WHERE o.camp_id = @camp_id
			AND o.attr_id = c.attr_id
			AND c.cust_id = @cust_id
ELSE
	INSERT #tOptouts (CampID,
			AttrID,
			AttrName,
			Optouts)
		SELECT o.camp_id, 
			o.attr_id, 
			c.display_name, 
			o.optouts
		FROM crpt_camp_optout_cache o, ccps_cust_attr c
		WHERE o.camp_id = @camp_id
			AND o.attr_id = c.attr_id
			AND c.cust_id = @cust_id
			AND o.cache_id = @cache_id

DECLARE @totReaching int

SELECT @totReaching = reaching 
	FROM crpt_camp_summary c
	WHERE camp_id = @camp_id

SELECT CampID,
		AttrID,
		AttrName,
		Optouts,
		OptoutPrc = CASE @totReaching WHEN 0 THEN 0
			ELSE convert(decimal(5,1), (Optouts*100.0/@totReaching)) END
	FROM #tOptouts
	ORDER BY AttrName

DROP TABLE #tOptouts
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

