SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_cftp_ftp_task_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_cftp_ftp_task_save]
GO


CREATE PROCEDURE usp_cftp_ftp_task_save
(
	@task_id int = NULL,
	@task_name varchar(255) = NULL,
	@server varchar(255) = NULL,
	@directory varchar(255) = NULL,
	@username varchar(255) = NULL,
	@password varchar(255) = NULL,
	@filename_prefix varchar(255) = NULL,
	@filename_suffix varchar(255) = NULL,
	@date_format varchar(255) = NULL,
	@pgp_flag int = NULL,
	@cust_id int = NULL
)
AS

IF EXISTS (SELECT TOP 1 * FROM cftp_ftp_task WHERE (task_id = @task_id))
BEGIN
	UPDATE cftp_ftp_task
		SET
			task_name = @task_name,
			server = @server,
			directory = @directory,
			username = @username,
			password = @password,
			filename_prefix = @filename_prefix,
			filename_suffix = @filename_suffix,
			date_format = @date_format,
			pgp_flag = @pgp_flag,
			cust_id = @cust_id
		WHERE
			(task_id = @task_id)
END
ELSE
BEGIN
	INSERT cftp_ftp_task
		(
			task_name,
			server,
			directory,
			username,
			password,
			filename_prefix,
			filename_suffix,
			date_format,
			pgp_flag,
			cust_id
		)
		VALUES
		(
			@task_name,
			@server,
			@directory,
			@username,
			@password,
			@filename_prefix,
			@filename_suffix,
			@date_format,
			@pgp_flag,
			@cust_id
		)

	SET @task_id = @@identity
END

SELECT @task_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

