SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_crpt_cust_domain_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_crpt_cust_domain_save]
GO


CREATE PROCEDURE usp_crpt_cust_domain_save
(
	@domain_id int = NULL,
	@cust_id int = NULL,
	@domain varchar(255) = NULL
)
AS

IF EXISTS (SELECT TOP 1 * FROM crpt_cust_domain WHERE (cust_id = @cust_id) AND (domain_id = @domain_id))
BEGIN
	UPDATE crpt_cust_domain
		SET
			domain = @domain
		WHERE
			(cust_id = @cust_id) 
			AND (domain_id = @domain_id)
END
ELSE
BEGIN
	INSERT crpt_cust_domain
		(
			domain_id,
			cust_id,
			domain
		)
		VALUES
		(
			@domain_id,
			@cust_id,
			@domain
		)
END

SELECT @domain_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

