SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_cque_camp_list_get_all]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_cque_camp_list_get_all]
GO


CREATE PROCEDURE usp_cque_camp_list_get_all
(
	@query_id	int,
	@customer_id	int,
	@category_id	int,
	@type_id	int
)
AS

--- === === === ---

UPDATE cque_campaign
	SET status_id = 60
	FROM cque_schedule sch WITH(NOLOCK)
	WHERE
		cust_id = @customer_id AND
		status_id > 0 AND
		status_id < 60 AND
		origin_camp_id IS NOT NULL AND
		sch.camp_id = cque_campaign.camp_id AND
		sch.end_date < getdate()

--- === === === ---


/*
@query_id = 1: Current Camps (> 0, < 60)
@query_id = 2: Draft Camps (= 0)
@query_id = 3: Done Camps (>= 60)
@query_id = 4: Current Camps (> 0, < 60) - no type id (home page)
@query_id = 5: Draft Camps (=0) - no type id (home page)
@query_id = other: Draft Camps (=0)
*/

--DROP PROCEDURE usp_cque_camp_list_all

DECLARE @tmp_cat TABLE (c_id int, obj_id int)

IF (@category_id = 0) SET @category_id = null

INSERT @tmp_cat
	SELECT category_id, [object_id]
		FROM ccps_object_category
		WHERE
			cust_id = @customer_id AND
			type_id = 190 AND
			@category_id = category_id
/*
DROP TABLE #tmp
DROP TABLE #stat
DROP TABLE #samp
DROP TABLE #stfn
*/

--- TABLE TO HOLD DATA 
CREATE TABLE #tmp
	(origin_camp_id int,
	camp_id int,
	camp_name varchar(255), 
	status_id int,
	status_name varchar(255),
	actual_type_id int,
	type_id int,
	type_id_name varchar(255),
	filter_name varchar(255),
	cont_name varchar(255),
	created_date datetime,
	modified_date datetime,
	start_date datetime,
	finish_date datetime,
	end_date datetime,
	qty_queued varchar(255),
	qty_sent varchar(255),
	approval_flag int,
	queue_daily_flag int, 
	sample_qty int,
	sample_qty_sent int, 
	final_flag int, 
	mode_id int,
	media_type_id int,
	media_type_id_name varchar(255))

--- TABLE TO STORE STATUS' FOR SAMPLES
CREATE TABLE #stat
(origin_camp_id int, camp_id int, status_id int, approval_flag int, type_id int)

--- TABLE TO STORE SENT COUNT FOR SAMPLES
CREATE TABLE #samp
(origin_camp_id int, sample_qty_sent int)

--- TABLE TO STORE START/FINISH FOR SAMPLES
CREATE TABLE #stfn
(origin_camp_id int, get_date datetime)

--- SELECT ALL CAMPAIGNS (in category if provided)
INSERT #tmp
	(origin_camp_id,
	camp_name, 
	actual_type_id, 
	type_id,
             media_type_id,
	status_id,
	approval_flag)
	SELECT
		c.camp_id,
		c.camp_name, 
		c.type_id, 
		c.type_id, 
		c.media_type_id,
		c.status_id,
		isNull(c.approval_flag, 0)
	FROM
		cque_campaign c
	
	WHERE
			c.cust_id = @customer_id
	AND		( @category_id IS NULL OR @category_id IN (SELECT c_id FROM @tmp_cat WHERE obj_id = c.camp_id))
	AND		c.origin_camp_id IS NULL
	AND		c.status_id <> 90

-- SET TARGET GROUP NAME
UPDATE #tmp
	SET
		filter_name = isNull(f.filter_name, 'None')
	FROM
		cque_campaign c,
		ctgt_filter f
	WHERE
		c.camp_id = #tmp.origin_camp_id AND
		c.filter_id *= f.filter_id

-- SET CONTENT NAME
UPDATE #tmp
	SET
		cont_name = isNull(o.cont_name, 'None')
	FROM
		cque_campaign c,
		ccnt_content o
	WHERE
		c.camp_id = #tmp.origin_camp_id AND
		c.cont_id *= o.cont_id

-- SET CONTENT NAME IF DELETED
UPDATE #tmp
	SET
		cont_name =  '*Deleted* ' + #tmp.cont_name
	FROM
		cque_campaign c,
		ccnt_content o,
		ccnt_cont_status os
	WHERE
		c.camp_id = #tmp.origin_camp_id AND
		c.cont_id = o.cont_id AND
		o.status_id = os.status_id AND
		UPPER(os.status_name) = 'DELETED'

-- SET TARGET GROUP NAME IF DELETED
UPDATE #tmp
	SET
		filter_name =  '*Deleted* ' + #tmp.filter_name
	FROM
		cque_campaign camp,
		ctgt_filter filt,
		ctgt_filter_status fstat
	WHERE
		camp.camp_id = #tmp.origin_camp_id  
		AND
		camp.filter_id = filt.filter_id AND
		filt.status_id = fstat.status_id AND
		UPPER(fstat.status_name) = 'DELETED'

-- SET CONTENT NAME IF PENDING APPROVAL
UPDATE #tmp
	SET
		cont_name =  '*Pending Approval* ' + #tmp.cont_name
	FROM
		cque_campaign c,
		ccnt_content o,
		ccnt_cont_status os
	WHERE
		c.camp_id = #tmp.origin_camp_id AND
		c.cont_id = o.cont_id AND
		o.status_id = os.status_id AND
		UPPER(os.status_name) = 'PENDING APPROVAL'

-- SET TARGET GROUP NAME IF PENDING APPROVAL
UPDATE #tmp
	SET
		filter_name =  '*Pending Approval* ' + #tmp.filter_name
	FROM
		cque_campaign camp,
		ctgt_filter filt,
		ctgt_filter_status fstat
	WHERE
		camp.camp_id = #tmp.origin_camp_id  
		AND
		camp.filter_id = filt.filter_id AND
		filt.status_id = fstat.status_id AND
		UPPER(fstat.status_name) = 'PENDING APPROVAL'

-- GET SAMPLESET DEFINITION
UPDATE #tmp
	SET 
		sample_qty = cs.camp_qty, 
		final_flag = cs.final_camp_flag
	FROM
		cque_camp_sampleset cs
	WHERE
		cs.camp_id = #tmp.origin_camp_id

-- GET NUMBER OF SAMPLES SENT
INSERT INTO #samp
	(origin_camp_id, sample_qty_sent)
	SELECT
		c.origin_camp_id, count(c.camp_id)
	FROM
		#tmp,
		cque_campaign c
	WHERE
		#tmp.origin_camp_id = c.origin_camp_id AND 
		c.type_id != 1 AND
		c.status_id >= 60 AND
		c.sample_id is not null
	GROUP BY 
		c.origin_camp_id

-- UPDATE WITH NUMBER SAMPLES SENT
UPDATE #tmp
	SET 
		sample_qty_sent = #samp.sample_qty_sent
	FROM
		#samp, #tmp
	WHERE
		#samp.origin_camp_id = #tmp.origin_camp_id

-- UPDATE WITH QUEUE DAILY
UPDATE #tmp
	SET 
		queue_daily_flag = csp.queue_daily_flag
	FROM
		cque_camp_send_param csp
	WHERE
		csp.camp_id = #tmp.origin_camp_id

-- GET STATS ON CAMPS SENT FOR ORIGIN CAMP -- SAMPLES
INSERT INTO #stat
	(origin_camp_id, status_id, approval_flag)
	SELECT
		#tmp.origin_camp_id, min(c.status_id), c.approval_flag
	FROM
		#tmp,
		cque_campaign c
	WHERE
		#tmp.origin_camp_id = c.origin_camp_id AND 
		c.type_id != 1 AND
		c.sample_id is not null AND
		isnull(#tmp.sample_qty_sent, 0) < isnull(#tmp.sample_qty, 0)
	GROUP BY 
		#tmp.origin_camp_id, c.approval_flag

UPDATE #tmp
	SET
		status_id = c.status_id,
		approval_flag = c.approval_flag
	FROM
		#stat c
	WHERE
		c.origin_camp_id = #tmp.origin_camp_id

-- GET STATS ON CAMPS SENT FOR ORIGIN CAMP -- FINAL
DELETE FROM #stat

INSERT INTO #stat
	(origin_camp_id, status_id, approval_flag)
	SELECT
		#tmp.origin_camp_id, min(c.status_id), c.approval_flag
	FROM
		#tmp,
		cque_campaign c
	WHERE
		#tmp.origin_camp_id = c.origin_camp_id AND 
		c.type_id != 1 AND
		c.sample_id is null AND
		#tmp.final_flag is not null
	GROUP BY 
		#tmp.origin_camp_id, c.approval_flag

UPDATE #tmp
	SET
		status_id = c.status_id,
		approval_flag = c.approval_flag
	FROM
		#stat c
	WHERE
		c.origin_camp_id = #tmp.origin_camp_id

-- GET STATS ON CAMPS SENT FOR ORIGIN CAMP -- TEST
DELETE FROM #stat

INSERT INTO #stat
	(origin_camp_id, camp_id, status_id, approval_flag, type_id)
	SELECT
		#tmp.origin_camp_id, c.camp_id, min(c.status_id), c.approval_flag, c.type_id
	FROM
		#tmp,
		cque_campaign c
	WHERE
		#tmp.origin_camp_id = c.origin_camp_id AND 
		c.type_id = 1 AND
		c.sample_id is null AND
		#tmp.final_flag is null AND
		c.status_id < 60
	GROUP BY 
		#tmp.origin_camp_id, c.camp_id, c.approval_flag, c.type_id

UPDATE #tmp
	SET
		camp_id = c.camp_id, 
		status_id = c.status_id,
		approval_flag = c.approval_flag, 
		type_id = c.type_id
	FROM
		#stat c,
		cque_camp_status s
	WHERE
		c.origin_camp_id = #tmp.origin_camp_id

-- GET STATS ON CAMPS SENT FOR ORIGIN CAMP -- STANDARD
DELETE FROM #stat

INSERT INTO #stat
	(origin_camp_id, camp_id, status_id, approval_flag, type_id)
	SELECT
		#tmp.origin_camp_id, c.camp_id, min(c.status_id), c.approval_flag, c.type_id
	FROM
		#tmp,
		cque_campaign c
	WHERE
		#tmp.origin_camp_id = c.origin_camp_id AND 
		c.type_id != 1 AND
		c.sample_id is null AND
		#tmp.final_flag is null
	GROUP BY 
		#tmp.origin_camp_id, c.camp_id, c.approval_flag, c.type_id

UPDATE #tmp
	SET
		camp_id = c.camp_id, 
		status_id = c.status_id,
		approval_flag = c.approval_flag, 
		type_id = c.type_id
	FROM
		#stat c,
		cque_camp_status s
	WHERE
		c.origin_camp_id = #tmp.origin_camp_id

-- SET STATUS FOR SAMPLE W/NO FINAL
DELETE FROM #stat

INSERT INTO #stat
	(origin_camp_id, status_id, approval_flag)
	SELECT
		#tmp.origin_camp_id, max(c.status_id), c.approval_flag
	FROM
		#tmp,
		cque_campaign c
	WHERE
		#tmp.origin_camp_id = c.origin_camp_id AND 
		c.type_id != 1 AND
		c.sample_id is not null AND
		#tmp.sample_qty_sent = #tmp.sample_qty
	GROUP BY 
		#tmp.origin_camp_id, c.approval_flag

UPDATE #tmp
	SET 
		status_id = c.status_id
	FROM
		#stat c
	WHERE 
		c.origin_camp_id = #tmp.origin_camp_id AND
		#tmp.final_flag is null AND
		#tmp.sample_qty is not null AND
		#tmp.sample_qty_sent = #tmp.sample_qty

-- SET START AND END DATES
UPDATE #tmp
	SET 
		start_date = cs.start_date, 
		end_date = cs.end_date
	FROM
		cque_schedule cs
	WHERE
		cs.camp_id = #tmp.camp_id

-- SET FINISH DATE
UPDATE #tmp
	SET 
		finish_date = cs.finish_date
	FROM
		cque_camp_statistic cs
	WHERE
		cs.camp_id = #tmp.camp_id

--SET START DATE - SAMPLESET
INSERT INTO #stfn
	(origin_camp_id, get_date)
	SELECT
		#tmp.origin_camp_id, min(cs.start_date)
	FROM
		#tmp,
		cque_campaign c,
		cque_schedule cs
	WHERE
		#tmp.origin_camp_id = c.origin_camp_id AND 
		c.camp_id = cs.camp_id
	GROUP BY 
		#tmp.origin_camp_id

UPDATE #tmp
	SET
		start_date = c.get_date
	FROM
		#stfn c
	WHERE
		c.origin_camp_id = #tmp.origin_camp_id
		AND #tmp.sample_qty is not null

--SET FINISH DATE - SAMPLESET
DELETE FROM #stfn

INSERT INTO #stfn
	(origin_camp_id, get_date)
	SELECT
		#tmp.origin_camp_id, max(cs.finish_date)
	FROM
		#tmp,
		cque_campaign c,
		cque_camp_statistic cs
	WHERE
		#tmp.origin_camp_id = c.origin_camp_id AND 
		c.camp_id = cs.camp_id
	GROUP BY 
		#tmp.origin_camp_id

UPDATE #tmp
	SET
		finish_date = c.get_date
	FROM
		#stfn c
	WHERE
		c.origin_camp_id = #tmp.origin_camp_id
		AND #tmp.sample_qty is not null

-- SET UPDATED AND CREATED DATES
UPDATE #tmp
	SET 
		modified_date = cei.modify_date, 
		created_date = cei.create_date
	FROM
		cque_camp_edit_info cei
	WHERE
		cei.camp_id = #tmp.origin_camp_id

-- SET MODE
UPDATE #tmp
	SET 
		mode_id = isNull(c.mode_id, 0)
	FROM
		cque_campaign c
	WHERE
		c.camp_id = #tmp.camp_id

-- SET QUANTITY QUEUED AND SENT
UPDATE #tmp
	SET 
		qty_queued = cs.recip_queued_qty, 
		qty_sent = cs.recip_sent_qty
	FROM
		cque_campaign c,
		cque_camp_statistic cs
	WHERE
		c.camp_id = #tmp.camp_id AND 
		c.camp_id = cs.camp_id AND
		c.type_id <> 1

-- SET STATUS NAME
UPDATE #tmp
	SET 
		status_name = s.display_name
	FROM
		cque_camp_status s
	WHERE
		s.status_id = #tmp.status_id

-- SET SAMPLESET VALUES NAME
UPDATE #tmp
	SET 
		cont_name = '---'
	FROM
		cque_camp_sampleset cs
	WHERE
		cs.camp_id = #tmp.origin_camp_id
		AND cs.cont_flag = 1

-- SET TYPE NAME (2,0)
UPDATE #tmp
	SET type_id_name = 'Standard'
	FROM #tmp
	WHERE #tmp.actual_type_id = '2'

-- SET TYPE NAME (2,sample)
UPDATE #tmp
	SET type_id_name = 'Sample Set'
	FROM #tmp
	WHERE #tmp.actual_type_id = '2' AND
		#tmp.sample_qty is not null

-- SET TYPE NAME (3)
UPDATE #tmp
	SET type_id_name = 'Send to Friend'
	FROM #tmp
	WHERE #tmp.actual_type_id = '3'

-- SET TYPE NAME (4)
UPDATE #tmp
	SET type_id_name = 'Triggered'
	FROM #tmp
	WHERE #tmp.actual_type_id = '4'

-- SET TYPE NAME (2,1)
UPDATE #tmp
	SET type_id_name = 'Check Daily', 
		actual_type_id = 4
	FROM #tmp
	WHERE #tmp.actual_type_id = '2'
	AND #tmp.queue_daily_flag = 1

-- SET TYPE NAME (5)
UPDATE #tmp
	SET type_id_name = 'Web/DM/Call'
	FROM #tmp
	WHERE #tmp.actual_type_id = '5'

-- SET TYPE NAME (1)
UPDATE #tmp
	SET type_id_name = 'Test', status_name = 'Test: ' + status_name
	FROM #tmp
	WHERE #tmp.type_id = '1'
	AND #tmp.mode_id = 0

-- SET MEDIA TYPE ID
UPDATE #tmp
	SET media_type_id = 1
	FROM #tmp
	WHERE #tmp.media_type_id IS NULL

-- SET MEDIA TYPE NAME (1)
UPDATE #tmp
	SET media_type_id_name = 'Email'
	FROM #tmp
	WHERE #tmp.media_type_id = '1'

-- SET MEDIA TYPE NAME (2)
UPDATE #tmp
	SET media_type_id_name = 'Print'
	FROM #tmp
	WHERE #tmp.media_type_id = '2'

-- SET CALC STATS
UPDATE #tmp
	SET type_id_name = 'Statistics Calculation', status_name = 'Stats Calc: ' + status_name
	FROM #tmp
	WHERE #tmp.type_id = '1'
	AND #tmp.mode_id = 20


IF @query_id = 1
BEGIN
	SELECT
		origin_camp_id,
		camp_id,
		isnull(camp_name, 'NO NAME'), 
		status_id,
		status_name,
		--actual_type_id,
		type_id,
		type_id_name,
		filter_name,
		cont_name,
		created_date,
		modified_date,
		isnull(start_date, modified_date), 
		isnull(end_date, modified_date), 
		isnull(finish_date, modified_date), 
		CONVERT(VARCHAR(32), created_date, 100) as 'created_date_txt', 
		CONVERT(VARCHAR(32), modified_date, 100) as 'modified_date_txt', 
		isnull(CONVERT(VARCHAR(32), start_date, 100), '---') as 'start_date_txt', 
		isnull(CONVERT(VARCHAR(32), end_date, 100), '---') as 'end_date_txt', 
		isnull(CONVERT(VARCHAR(32), finish_date, 100), '---') as 'finish_date_txt',
		isnull(qty_queued, '0') as 'queued',
		isnull(qty_sent, '0') as 'sent', 
		approval_flag,
		queue_daily_flag, 
		sample_qty,
		sample_qty_sent, 
		final_flag,
                           media_type_id,
                           media_type_id_name
	FROM #tmp
	WHERE status_id < 60 AND status_id > 0 AND actual_type_id = @type_id
	ORDER BY start_date DESC, camp_name, status_id DESC
END
ELSE
IF @query_id = 2
BEGIN
	SELECT
		origin_camp_id,
		camp_id,
		isnull(camp_name, 'NO NAME'), 
		status_id,
		status_name,
		--actual_type_id,
		type_id,
		type_id_name,
		filter_name,
		cont_name,
		created_date,
		modified_date,
		isnull(start_date, modified_date), 
		isnull(end_date, modified_date), 
		isnull(finish_date, modified_date), 
		CONVERT(VARCHAR(32), created_date, 100) as 'created_date_txt', 
		CONVERT(VARCHAR(32), modified_date, 100) as 'modified_date_txt', 
		isnull(CONVERT(VARCHAR(32), start_date, 100), '---') as 'start_date_txt', 
		isnull(CONVERT(VARCHAR(32), end_date, 100), '---') as 'end_date_txt', 
		isnull(CONVERT(VARCHAR(32), finish_date, 100), '---') as 'finish_date_txt',
		isnull(qty_queued, '0') as 'queued',
		isnull(qty_sent, '0') as 'sent', 
		approval_flag,
		queue_daily_flag, 
		sample_qty,
		sample_qty_sent, 
		final_flag,
                           media_type_id,
                           media_type_id_name
	FROM #tmp
	WHERE status_id = 0 AND actual_type_id = @type_id
	ORDER BY modified_date desc, camp_name, status_id DESC
END
ELSE
IF @query_id = 3
BEGIN
	SELECT
		origin_camp_id,
		camp_id,
		isnull(camp_name, 'NO NAME'), 
		status_id,
		status_name,
		--actual_type_id,
		type_id,
		type_id_name,
		filter_name,
		cont_name,
		created_date,
		modified_date,
		isnull(start_date, modified_date), 
		isnull(end_date, modified_date), 
		isnull(finish_date, modified_date), 
		CONVERT(VARCHAR(32), created_date, 100) as 'created_date_txt', 
		CONVERT(VARCHAR(32), modified_date, 100) as 'modified_date_txt', 
		isnull(CONVERT(VARCHAR(32), start_date, 100), '---') as 'start_date_txt', 
		isnull(CONVERT(VARCHAR(32), end_date, 100), '---') as 'end_date_txt', 
		isnull(CONVERT(VARCHAR(32), finish_date, 100), '---') as 'finish_date_txt',
		isnull(qty_queued, '0') as 'queued',
		isnull(qty_sent, '0') as 'sent', 
		approval_flag,
		queue_daily_flag, 
		sample_qty,
		sample_qty_sent, 
		final_flag,
                           media_type_id,
                           media_type_id_name
	FROM #tmp
	WHERE status_id >= 60 AND actual_type_id = @type_id
	ORDER BY isnull(finish_date, modified_date) desc, camp_name, status_id DESC
END
ELSE
IF @query_id = 4
BEGIN
	SELECT
		origin_camp_id,
		camp_id,
		isnull(camp_name, 'NO NAME'), 
		status_id,
		status_name,
		--actual_type_id,
		type_id,
		type_id_name,
		filter_name,
		cont_name,
		created_date,
		modified_date,
		isnull(start_date, modified_date), 
		isnull(end_date, modified_date), 
		isnull(finish_date, modified_date), 
		CONVERT(VARCHAR(32), created_date, 100) as 'created_date_txt', 
		CONVERT(VARCHAR(32), modified_date, 100) as 'modified_date_txt', 
		isnull(CONVERT(VARCHAR(32), start_date, 100), '---') as 'start_date_txt', 
		isnull(CONVERT(VARCHAR(32), end_date, 100), '---') as 'end_date_txt', 
		isnull(CONVERT(VARCHAR(32), finish_date, 100), '---') as 'finish_date_txt',
		isnull(qty_queued, '0') as 'queued',
		isnull(qty_sent, '0') as 'sent', 
		approval_flag,
		queue_daily_flag, 
		sample_qty,
		sample_qty_sent, 
		final_flag,
                           media_type_id,
                           media_type_id_name
	FROM #tmp
	WHERE status_id < 60 AND status_id > 0
	ORDER BY start_date DESC, camp_name, status_id DESC
END
ELSE
IF @query_id = 5
BEGIN
	SELECT
		origin_camp_id,
		camp_id,
		isnull(camp_name, 'NO NAME'), 
		status_id,
		status_name,
		--actual_type_id,
		type_id,
		type_id_name,
		filter_name,
		cont_name,
		created_date,
		modified_date,
		isnull(start_date, modified_date), 
		isnull(end_date, modified_date), 
		isnull(finish_date, modified_date), 
		CONVERT(VARCHAR(32), created_date, 100) as 'created_date_txt', 
		CONVERT(VARCHAR(32), modified_date, 100) as 'modified_date_txt', 
		isnull(CONVERT(VARCHAR(32), start_date, 100), '---') as 'start_date_txt', 
		isnull(CONVERT(VARCHAR(32), end_date, 100), '---') as 'end_date_txt', 
		isnull(CONVERT(VARCHAR(32), finish_date, 100), '---') as 'finish_date_txt',
		isnull(qty_queued, '0') as 'queued',
		isnull(qty_sent, '0') as 'sent', 
		approval_flag,
		queue_daily_flag, 
		sample_qty,
		sample_qty_sent, 
		final_flag,
                           media_type_id,
                           media_type_id_name
	FROM #tmp
	WHERE status_id = 0
	ORDER BY modified_date desc, camp_name, status_id DESC
END
ELSE
BEGIN
	SELECT
		origin_camp_id,
		camp_id,
		isnull(camp_name, 'NO NAME'), 
		status_id,
		status_name,
		--actual_type_id,
		type_id,
		type_id_name,
		filter_name,
		cont_name,
		created_date,
		modified_date,
		isnull(start_date, modified_date), 
		isnull(end_date, modified_date), 
		isnull(finish_date, modified_date), 
		CONVERT(VARCHAR(32), created_date, 100) as 'created_date_txt', 
		CONVERT(VARCHAR(32), modified_date, 100) as 'modified_date_txt', 
		isnull(CONVERT(VARCHAR(32), start_date, 100), '---') as 'start_date_txt', 
		isnull(CONVERT(VARCHAR(32), end_date, 100), '---') as 'end_date_txt', 
		isnull(CONVERT(VARCHAR(32), finish_date, 100), '---') as 'finish_date_txt',
		isnull(qty_queued, '0') as 'queued',
		isnull(qty_sent, '0') as 'sent', 
		approval_flag,
		queue_daily_flag, 
		sample_qty,
		sample_qty_sent, 
		final_flag,
                           media_type_id,
                           media_type_id_name
	FROM #tmp
	WHERE status_id = 0 AND actual_type_id = @type_id
	ORDER BY camp_name, status_id DESC, start_date DESC
END

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

