SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ccps_approval_task_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ccps_approval_task_save]
GO


CREATE PROCEDURE usp_ccps_approval_task_save
(
	@approval_id int=null,
	@object_id int=null, 
	@next_tier_aprvl_id int=null, 
	@object_type int=null, 
	@cust_id int=null, 
	@group_id int=null, 
	@camp_sample_flag int=null, 
	@active_flag int=null
)
AS

DECLARE @new_approval_id int
SET @new_approval_id = @approval_id

IF EXISTS (SELECT 1 FROM ccps_aprvl_task WHERE (approval_id = @approval_id) AND (cust_id = @cust_id))
BEGIN
	UPDATE ccps_aprvl_task
		SET
			object_id = @object_id, 
			next_tier_aprvl_id = @next_tier_aprvl_id, 
			object_type= @object_type, 
			cust_id = @cust_id, 
			group_id =@group_id, 
			camp_sample_flag =@camp_sample_flag, 
			active_flag =@active_flag
		WHERE
			(approval_id = @approval_id)


END
ELSE
BEGIN
	INSERT ccps_aprvl_task
		(
			object_id, 
			next_tier_aprvl_id, 
			object_type, 
			cust_id, 
			group_id, 
			camp_sample_flag,
			active_flag
		)
		VALUES
		(
			@object_id, 
			@next_tier_aprvl_id, 
			@object_type, 
			@cust_id, 
			@group_id, 
			@camp_sample_flag,
			@active_flag
		)

	SET @new_approval_id = @@Identity
END

SELECT @new_approval_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

