SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_crpt_report_settings_get]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_crpt_report_settings_get]
GO


CREATE PROCEDURE usp_crpt_report_settings_get (@cust_id int) AS


CREATE TABLE #ts (
	cust_id 			int NOT NULL,
	totals_sec_flag		int NULL default 1,
	general_sec_flag	int NULL default 1,
	bback_sec_flag		int NULL default 1,
	action_sec_flag		int NULL default 1,
	dist_click_sec_flag	int NULL default 1,
	tot_click_sec_flag	int NULL default 0,
	form_sec_flag		int NULL default 1,
	tot_read_flag		int NULL default 0,
	multi_read_flag		int NULL default 1,
	tot_click_flag		int NULL default 1,
	multi_link_click_flag	int NULL default 1,
	link_multi_click_flag	int NULL default 1,
	domain_flag		int NULL default 1,
	optout_flag		int NULL default 0
)

INSERT #ts (cust_id) VALUES (@cust_id)

UPDATE #ts SET totals_sec_flag = ISNULL(s.totals_sec_flag, #ts.totals_sec_flag),
		general_sec_flag = ISNULL(s.general_sec_flag, #ts.general_sec_flag),
		bback_sec_flag = ISNULL(s.bback_sec_flag, #ts.bback_sec_flag),
		action_sec_flag = ISNULL(s.action_sec_flag, #ts.action_sec_flag),
		dist_click_sec_flag = ISNULL(s.dist_click_sec_flag, #ts.dist_click_sec_flag),
		tot_click_sec_flag = ISNULL(s.tot_click_sec_flag, #ts.tot_click_sec_flag),
		form_sec_flag = ISNULL(s.form_sec_flag, #ts.form_sec_flag),
		tot_read_flag = ISNULL(s.tot_read_flag, #ts.tot_read_flag),
		multi_read_flag = ISNULL(s.multi_read_flag, #ts.multi_read_flag),
		tot_click_flag = ISNULL(s.tot_click_flag, #ts.tot_click_flag),
		multi_link_click_flag = ISNULL(s.multi_link_click_flag, #ts.multi_link_click_flag),
		link_multi_click_flag = ISNULL(s.link_multi_click_flag, #ts.link_multi_click_flag),
		domain_flag = ISNULL(s.domain_flag, #ts.domain_flag),
		optout_flag = ISNULL(s.optout_flag, #ts.optout_flag)
	FROM crpt_report_settings s WHERE #ts.cust_id = s.cust_id


SELECT totals_sec_flag,
		general_sec_flag,
		bback_sec_flag,
		action_sec_flag,
		dist_click_sec_flag,
		tot_click_sec_flag,
		form_sec_flag,
		tot_read_flag,
		multi_read_flag,
		tot_click_flag,
		multi_link_click_flag,
		link_multi_click_flag,
		domain_flag,
		optout_flag
	FROM #ts

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

