SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ccnt_img_total_file_size_get]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ccnt_img_total_file_size_get]
GO


CREATE PROCEDURE usp_ccnt_img_total_file_size_get (@cust_id int) AS

DECLARE @parent_cust_id int
CREATE TABLE #cust_parent_chain (cust_id int, level_id int)

EXEC usp_ccps_cust_parent_chain_build @cust_id, 0

SELECT TOP 1 @parent_cust_id = cust_id
	FROM #cust_parent_chain
	ORDER BY level_id DESC

CREATE TABLE #f(folder_id int, parent_id int, level_id int)

INSERT #f(folder_id, parent_id, level_id) 
	SELECT folder_id, null, 0
	FROM ccnt_img_folder
	WHERE parent_id IS NULL
		AND ( (cust_id = @cust_id AND type_id = 10) --ROOT
			OR (cust_id = @parent_cust_id AND type_id = 15) ) --GLOBAL

EXEC usp_ccnt_img_fld_tree_build @cust_id = @cust_id

SELECT ISNULL(sum(file_size),0) 
	FROM ccnt_image i, ccnt_img_cust_access a, #f
	WHERE i.image_id = a.image_id
		AND a.cust_id = @cust_id
		AND a.access_flag = 1
		AND i.folder_id = #f.folder_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

