SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_cque_list_import]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_cque_list_import]
GO


CREATE PROCEDURE usp_cque_list_import (@list_id int, @file varchar(255))
AS

CREATE TABLE #tl1 (email varchar(255))

DECLARE @Command varchar(4000)
SET @Command='BULK INSERT #tl1 FROM '''+@file+ ''' WITH ( TABLOCK, FIRSTROW = 1, FIELDTERMINATOR = '''', KEEPNULLS,CODEPAGE=''1252'')'

EXEC (@Command)

SELECT n=identity (int), email INTO #tl2 FROM #tl1

DECLARE @max_id int

SELECT @max_id = ISNULL(MAX(item_id), 0) FROM cque_email_list_item

INSERT cque_email_list_item (item_id, list_id, email, email_type_id)
	SELECT @max_id+n, @list_id, email, 1
	FROM #tl2

DROP TABLE #tl1
DROP TABLE #tl2

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

