SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_cupd_import_statistics_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_cupd_import_statistics_save]
GO


CREATE PROCEDURE usp_cupd_import_statistics_save
(
	@import_id int = NULL,
	@tot_rows int = NULL,
	@bad_rows int = NULL,
	@tot_file_recips int = NULL,
	@bad_emails int = NULL,
	@warning_recips int = NULL,
	@file_dups int = NULL,
	@tot_recips int = NULL,
	@new_recips int = NULL,
	@dup_recips int = NULL,
	@num_committed int = NULL,
	@left_to_commit int = NULL,
	@error_message varchar(4000) = NULL,
	@bad_fingerprints int = NULL
)
AS

IF EXISTS (SELECT TOP 1 * FROM cupd_import_statistics WHERE (import_id = @import_id))
BEGIN
	UPDATE cupd_import_statistics
		SET
			tot_rows = @tot_rows,
			bad_rows = @bad_rows,
			tot_file_recips = @tot_file_recips,
			bad_emails = @bad_emails,
			warning_recips = @warning_recips,
			file_dups = @file_dups,
			tot_recips = @tot_recips,
			new_recips = @new_recips,
			dup_recips = @dup_recips,
			num_committed = @num_committed,
			left_to_commit = @left_to_commit,
			error_message = @error_message,
			bad_fingerprints = @bad_fingerprints
		WHERE
			(import_id = @import_id)
END
ELSE
BEGIN
	INSERT cupd_import_statistics
		(
			import_id,
			tot_rows,
			bad_rows,
			tot_file_recips,
			bad_emails,
			warning_recips,
			file_dups,
			tot_recips,
			new_recips,
			dup_recips,
			num_committed,
			left_to_commit,
			error_message,
			bad_fingerprints
		)
		VALUES
		(
			@import_id,
			@tot_rows,
			@bad_rows,
			@tot_file_recips,
			@bad_emails,
			@warning_recips,
			@file_dups,
			@tot_recips,
			@new_recips,
			@dup_recips,
			@num_committed,
			@left_to_commit,
			@error_message,
			@bad_fingerprints
		)
END

SELECT @import_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

