SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ccnt_img_cust_refresh_info_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ccnt_img_cust_refresh_info_save]
GO


CREATE PROCEDURE usp_ccnt_img_cust_refresh_info_save
(
	@cust_id int = NULL,
	@domain_prefix varchar(255) = NULL,
	@refresh_url varchar(255) = NULL,
	@immediate_refresh_flag int = NULL,
	@login_id varchar(255) = NULL,
	@login_pwd varchar(255) = NULL,
	@last_refresh_date datetime = NULL
)
AS

IF EXISTS (SELECT TOP 1 * FROM ccnt_img_cust_refresh_info WHERE (cust_id = @cust_id))
BEGIN
	UPDATE ccnt_img_cust_refresh_info
		SET
			domain_prefix = @domain_prefix,
			refresh_url = @refresh_url,
			immediate_refresh_flag = @immediate_refresh_flag,
			login_id = @login_id,
			login_pwd = @login_pwd,
			last_refresh_date = ISNULL(@last_refresh_date,last_refresh_date)
		WHERE
			(cust_id = @cust_id)
END
ELSE
BEGIN
	INSERT ccnt_img_cust_refresh_info
		(
			cust_id,
			domain_prefix,
			refresh_url,
			immediate_refresh_flag,
			login_id,
			login_pwd,
			last_refresh_date
		)
		VALUES
		(
			@cust_id,
			@domain_prefix,
			@refresh_url,
			@immediate_refresh_flag,
			@login_id,
			@login_pwd,
			@last_refresh_date
		)
END

SELECT @cust_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

