SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ctgt_filter_clone_full]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ctgt_filter_clone_full]
GO


CREATE PROCEDURE usp_ctgt_filter_clone_full (@filter_id int, @new_filter_id int=null OUTPUT)
AS

-- === === === ---

PRINT 'usp_ctgt_filter_clone_full @filter_id=' + CAST(@filter_id as varchar)  + ' start'

-- === === === ---
 
DECLARE @cust_id int
DECLARE @filter_unique_id_type int
DECLARE @next_filter_id int

SELECT @cust_id = cust_id FROM ctgt_filter WHERE filter_id = @filter_id

IF @cust_id IS NULL
BEGIN
	RAISERROR ('ERROR usp_ctgt_filter_clone: filter does not exist.', 11, 1)
	RETURN
END

SET @filter_unique_id_type = 200

EXEC usp_ccps_next_id_get @cust_id, @filter_unique_id_type, @next_filter_id OUTPUT, 1

-- === === === ---

INSERT ctgt_filter
		(filter_id,
		filter_name,
		type_id,
		status_id,
		cust_id,
		origin_filter_id)
	SELECT 
		@next_filter_id,
		filter_name,
		type_id,
		status_id,
		cust_id,
		@filter_id
	FROM ctgt_filter
	WHERE filter_id = @filter_id

-- === === === ---

INSERT ctgt_filter_param
		(filter_id,
		param_id,
		param_name,
		integer_value,
		date_value,
		string_value)
	SELECT
		@next_filter_id,
		param_id,
		param_name,
		integer_value,
		date_value,
		string_value
	FROM ctgt_filter_param
	WHERE filter_id = @filter_id

-- === === === ---

INSERT ctgt_formula
		(filter_id,
		attr_id,
		operation_id,
		positive_flag,
		value1,
		value2)
	SELECT 
		@next_filter_id,
		attr_id,
		operation_id,
		positive_flag,
		value1,
		value2
	FROM ctgt_formula
	WHERE filter_id = @filter_id

-- === === === ---

-- for now we do not need to clone
-- ctgt_filter_statistic
-- ctgt_filter_preview_attr
-- put code here if you need it

-- === === === ---

DECLARE @child_filter_id int
DECLARE @display_seq int

DECLARE @new_child_filter_id int

DECLARE @ff_cursor CURSOR

SET @ff_cursor = CURSOR FAST_FORWARD FOR 
	SELECT child_filter_id, display_seq
	FROM ctgt_filter_part
	WHERE parent_filter_id = @filter_id

OPEN @ff_cursor

FETCH NEXT FROM @ff_cursor INTO @child_filter_id, @display_seq

WHILE @@FETCH_STATUS = 0
BEGIN

	SET @new_child_filter_id = NULL

	IF(@child_filter_id IS NOT NULL) EXEC usp_ctgt_filter_clone_full @child_filter_id, @new_child_filter_id OUTPUT

	INSERT ctgt_filter_part
			(parent_filter_id,
			child_filter_id,
			display_seq)
		VALUES
			(@next_filter_id,
			@new_child_filter_id,
			@display_seq)

	FETCH NEXT FROM @ff_cursor INTO @child_filter_id, @display_seq
END

CLOSE @ff_cursor
DEALLOCATE @ff_cursor

-- === === === ---

PRINT 'usp_ctgt_filter_clone_full @filter_id=' + CAST(@filter_id as varchar)  + ' finish'

-- === === === ---

SET @new_filter_id = @next_filter_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

