SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_crpt_cust_report_update]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_crpt_cust_report_update]
GO



CREATE PROCEDURE usp_crpt_cust_report_update (
		@report_id int=null,
		@cust_id int,
		@user_id int=null,
		@start_date datetime=null,
		@end_date datetime=null, 
		@update_date datetime=null,
		@active int=null,
		@have_bback int=null,
		@are_bback int=null,
		@unsub int=null,
		@click int=null,
		@multi_click int=null,
		@camp_qty int=null,
		@sent int=null,
		@not_sent int=null,
		@detect_html int=null,
		@detect_text int=null,
		@detect_aol int=null,
		@unconfirmed int=null,
		@status_id int) 
AS

IF @update_date = null
	SET @update_date = getdate()

DECLARE @cnt int
SELECT @cnt = count(*) FROM crpt_cust_report 
	WHERE report_id = @report_id AND report_id is not null
		AND cust_id = @cust_id

DECLARE @new_report_id int
SET @new_report_id = @report_id

IF @cnt = 0
BEGIN
	SELECT @new_report_id = ISNULL(MAX(report_id), 0)+1 FROM crpt_cust_report
		WHERE cust_id = @cust_id

	INSERT crpt_cust_report (cust_id,
		report_id,
		user_id,
		start_date,
		end_date,
		update_date,
		active,
		have_bback,
		are_bback,
		unsub,
		click,
		multi_click,
		camp_qty,
		sent,
		not_sent,
		detect_html,
		detect_text,
		detect_aol,
		unconfirmed,
		status_id )
	VALUES (@cust_id,
		@new_report_id,
		@user_id,
		@start_date,
		@end_date,
		@update_date,
		ISNULL(@active,0),
		ISNULL(@have_bback,0),
		ISNULL(@are_bback,0),
		ISNULL(@unsub,0),
		ISNULL(@click,0),
		ISNULL(@multi_click,0),
		ISNULL(@camp_qty,0),
		ISNULL(@sent,0),
		ISNULL(@not_sent,0),
		ISNULL(@detect_html,0),
		ISNULL(@detect_text,0),
		ISNULL(@detect_aol,0),
		ISNULL(@unconfirmed,0),
		@status_id )
END
ELSE
	UPDATE crpt_cust_report
		SET user_id = ISNULL(@user_id,user_id),
			start_date = ISNULL(@start_date,start_date),
			end_date = ISNULL(@end_date, end_date),
			update_date = ISNULL(@update_date, getdate()),
			active = ISNULL(@active,active),
			have_bback = ISNULL(@have_bback,have_bback),
			are_bback = ISNULL(@are_bback,are_bback),
			unsub = ISNULL(@unsub,unsub),
			click = ISNULL(@click,click),
			multi_click = ISNULL(@multi_click,multi_click),
			camp_qty = ISNULL(@camp_qty,camp_qty),
			sent = ISNULL(@sent,sent),
			not_sent = ISNULL(@not_sent,not_sent),
			detect_html = ISNULL(@detect_html,detect_html),
			detect_text = ISNULL(@detect_text,detect_text),
			detect_aol = ISNULL(@detect_aol,detect_aol),
			unconfirmed = ISNULL(@unconfirmed,unconfirmed),
			status_id = @status_id
		WHERE report_id = @report_id AND cust_id = @cust_id

SELECT report_id = @new_report_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

