SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_cupd_fields_mapping_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_cupd_fields_mapping_save]
GO


CREATE PROCEDURE usp_cupd_fields_mapping_save
(
	@import_id int = NULL,
	@attr_id int = NULL,
	@seq int = NULL
)
AS

IF NOT EXISTS (SELECT TOP 1 * FROM cupd_fields_mapping WHERE (import_id = @import_id) AND (attr_id = @attr_id) AND (seq = @seq))
BEGIN
	INSERT cupd_fields_mapping
		(
			import_id,
			attr_id,
			seq
		)
		VALUES
		(
			@import_id,
			@attr_id,
			@seq
		)
END

SELECT @import_id, @attr_id, @seq





GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

