SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ctgt_filter_param_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ctgt_filter_param_save]
GO


CREATE PROCEDURE usp_ctgt_filter_param_save
(
	@filter_id int = NULL,
	@param_id int = NULL,
	@param_name varchar(255) = NULL,
	@integer_value int = NULL,
	@date_value datetime = NULL,
	@string_value varchar(255) = NULL,
	@money_value money = NULL
)
AS

IF EXISTS (SELECT TOP 1 * FROM ctgt_filter_param WHERE (filter_id = @filter_id) AND (param_id = @param_id))
BEGIN
	UPDATE ctgt_filter_param
		SET
			param_name = @param_name,
			integer_value = @integer_value,
			date_value = @date_value,
			string_value = @string_value,
			money_value = @money_value
		WHERE
			(filter_id = @filter_id) AND
			(param_id = @param_id)
END
ELSE
BEGIN
	IF(@param_id IS NULL)
	BEGIN
		SELECT @param_id = MAX(param_id) + 1 FROM ctgt_filter_param WHERE filter_id = @filter_id
		IF(@param_id IS NULL) SET @param_id = 0
	END

	INSERT ctgt_filter_param
		(
			filter_id,
			param_id,
			param_name,
			integer_value,
			date_value,
			string_value,
			money_value
		)
		VALUES
		(
			@filter_id,
			@param_id,
			@param_name,
			@integer_value,
			@date_value,
			@string_value,
			@money_value
		)
END

SELECT @filter_id, @param_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

