SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_cque_delete_camp_children]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_cque_delete_camp_children]
GO


CREATE     PROCEDURE usp_cque_delete_camp_children (@cust_id int, @camp_id int)
AS
--This procedure cleans out all of the campaign child tables and deletes the campaign indicated by @cust_id and @camp_id.
-- Its main purpose is to be used to delete a campaign if that campaign has been rejected during the approval workflow.
-- This procedure will return a value of 1 if it successfully processes everything.
-- It will return NO value if an error occurs at any point.

DECLARE @sample_camp_id int

SELECT @sample_camp_id = ISNULL(origin_camp_id,0)
FROM cque_campaign
WHERE camp_id = @camp_id

BEGIN TRAN
--PRINT 'deleting campaign export attr'
	DELETE cque_camp_export_attr 
	where camp_id=@camp_id
		-- and cust_id = @cust_id
	if @@ERROR <> 0 Begin
		ROLLBACK TRAN
		RETURN
	END

--PRINT 'deleting campaign export '
	DELETE cque_camp_export 
	where camp_id=@camp_id
		-- and cust_id = @cust_id
	if @@ERROR <> 0 Begin
		ROLLBACK TRAN
		RETURN
	END

--PRINT 'deleting campaign stat detail '
	DELETE cque_camp_stat_detail 
	where camp_id=@camp_id
		-- and cust_id = @cust_id
	if @@ERROR <> 0 Begin
		ROLLBACK TRAN
		RETURN
	END

--PRINT 'deleting campaign stats '
	DELETE cque_camp_statistic
	where camp_id=@camp_id
		-- and cust_id = @cust_id
	if @@ERROR <> 0 Begin
		ROLLBACK TRAN
		RETURN
	END

--PRINT 'deleting campaign send param '
	DELETE cque_camp_send_param
	where camp_id=@camp_id
		-- and cust_id = @cust_id
	if @@ERROR <> 0 Begin
		ROLLBACK TRAN
		RETURN
	END

--PRINT 'deleting campaign schedule '
	DELETE cque_schedule 
	where camp_id=@camp_id
		-- and cust_id = @cust_id
	if @@ERROR <> 0 Begin
		ROLLBACK TRAN
		RETURN
	END

--PRINT 'deleting campaign edit info '
	DELETE cque_camp_edit_info 
	where camp_id=@camp_id
		-- and cust_id = @cust_id
	if @@ERROR <> 0 Begin
		ROLLBACK TRAN
		RETURN
	END

--PRINT 'deleting linked campaigns '
	DELETE cque_linked_camp
	where camp_id=@camp_id
		-- and cust_id = @cust_id
	if @@ERROR <> 0 Begin
		ROLLBACK TRAN
		RETURN
	END

--PRINT 'deleting campaign msg header '
	DELETE cque_msg_header 
	where camp_id=@camp_id
		-- and cust_id = @cust_id
	if @@ERROR <> 0 Begin
		ROLLBACK TRAN
		RETURN
	END

--PRINT 'deleting super camp campaign '
	DECLARE @super_camp_id int
	SELECT @super_camp_id = super_camp_id
	FROM cque_super_camp_camp
	WHERE camp_id = @camp_id

	DELETE cque_super_camp_camp
	where super_camp_id=@super_camp_id
		-- and cust_id = @cust_id
	if @@ERROR <> 0 Begin
		ROLLBACK TRAN
		RETURN
	END

	DELETE crpt_super_link_link
	FROM crpt_super_link csl, crpt_super_link_link csll
	WHERE csl.super_link_id = csll.super_link_id AND
		csl.super_camp_id = csll.super_camp_id AND
		csl.super_camp_id = @super_camp_id
	if @@ERROR <> 0 Begin
		ROLLBACK TRAN
		RETURN
	END

	DELETE crpt_super_link
	WHERE  super_camp_id = @super_camp_id
	if @@ERROR <> 0 Begin
		ROLLBACK TRAN
		RETURN
	END

--PRINT 'deleting super campaign '
	DELETE cque_super_camp 
	FROM cque_super_camp
	where super_camp_id = @super_camp_id
		-- and cust_id = @cust_id
	if @@ERROR <> 0 Begin
		ROLLBACK TRAN
		RETURN
	END


--PRINT 'deleting campaign sample '
--	IF (@sample_camp_id > 0) 
--	BEGIN
--		DELETE cque_camp_sample 
--		where camp_id=@sample_camp_id
--			-- and cust_id = @cust_id
--		if @@ERROR <> 0 Begin
--			ROLLBACK TRAN
--			RETURN
--		END
--	END

--PRINT 'deleting campaign sampleset '
--	IF (@sample_camp_id > 0) 
--	BEGIN
--		DELETE cque_camp_sampleset 
--		where camp_id=@sample_camp_id
--			-- and cust_id = @cust_id
--		if @@ERROR <> 0 Begin
--			ROLLBACK TRAN
--			RETURN
--		END
--	END
--PRINT 'deleting campaign setup status '
	DELETE cque_camp_setup_status 
	where camp_id=@camp_id
		-- and cust_id = @cust_id
	if @@ERROR <> 0 Begin
		ROLLBACK TRAN
		RETURN
	END

--PRINT 'deleting campaign list '
	DELETE cque_camp_list 
	where camp_id=@camp_id
		-- and cust_id = @cust_id
	if @@ERROR <> 0 Begin
		ROLLBACK TRAN
		RETURN
	END

COMMIT TRAN
RETURN 1

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

