SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ccnt_content_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ccnt_content_save]
GO


CREATE PROCEDURE usp_ccnt_content_save
(
	@cont_id int = NULL,
	@cont_name varchar(255) = NULL,
	@status_id tinyint = NULL,
	@cust_id int = NULL,
	@origin_cont_id int = NULL,
	@charset_id int = NULL,
	@type_id int = NULL,
	@reusable_flag int = NULL, 
	@cti_doc_id varchar(100) = NULL
)
AS

IF EXISTS (SELECT TOP 1 * FROM ccnt_content WHERE (cont_id = @cont_id))
BEGIN
	UPDATE ccnt_content
		SET
			cont_name = @cont_name,
			status_id = @status_id,
			cust_id = @cust_id,
			origin_cont_id = @origin_cont_id,
			charset_id = @charset_id,
			type_id = @type_id,
			reusable_flag = @reusable_flag,
			cti_doc_id = @cti_doc_id
		WHERE
			(cont_id = @cont_id)
END
ELSE
BEGIN
	DECLARE @id_type_id int, @next_id int
	SET @id_type_id = 170 -- CONTENT
	EXECUTE usp_ccps_next_id_get @cust_id, @id_type_id, @cont_id OUTPUT

	INSERT ccnt_content
		(
			cont_id,
			cont_name,
			status_id,
			cust_id,
			origin_cont_id,
			charset_id,
			type_id,
			reusable_flag,
			cti_doc_id
		)
		VALUES
		(
			@cont_id,
			@cont_name,
			@status_id,
			@cust_id,
			@origin_cont_id,
			@charset_id,
			@type_id,
			@reusable_flag,
			@cti_doc_id
		)
END

SELECT @cont_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

