SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ccps_category_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ccps_category_save]
GO


CREATE PROCEDURE usp_ccps_category_save
	(@cust_id int,
	@category_id int,
	@category_name varchar(255),
	@category_descrip varchar(255))
AS

IF EXISTS (SELECT TOP 1 cust_id, category_id FROM ccps_category WHERE cust_id=@cust_id AND category_id=@category_id)
BEGIN
	UPDATE ccps_category
		SET
			category_name = @category_name,
			category_descrip = @category_descrip
		WHERE
			cust_id=@cust_id AND
			category_id=@category_id
END
ELSE
BEGIN
	INSERT ccps_category
			(cust_id,
			category_name,
			category_descrip)
		VALUES
			(@cust_id,
			@category_name,
			@category_descrip)

	SELECT @category_id = @@identity
END

SELECT @cust_id, @category_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

