SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_cque_camp_list_get]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_cque_camp_list_get]
GO


CREATE  PROCEDURE usp_cque_camp_list_get
(
	@customer_id	int,
	@category_id	int,
	@type_id	int,
	@auto_queue_daily_flag int = NULL
)
AS

DECLARE @tmp_cat TABLE (c_id int, obj_id int)

IF (@category_id = 0) SET @category_id = null

IF (@type_id = 4) SET @auto_queue_daily_flag = 1

INSERT @tmp_cat
	SELECT category_id, [object_id]
		FROM ccps_object_category
		WHERE
			cust_id = @customer_id AND
			type_id = 190 AND
			@category_id = category_id

/* JPM 12/17/03  added code to retrieve approval_flag */
CREATE TABLE #tmp
	(camp_id int,
	camp_name varchar(255), 
	display_name varchar(255),
	type_id int,
	filter_name varchar(255),
	cont_name varchar(255),
	start_date datetime,
	finish_date datetime,
	modify_date datetime,
	status_id int,
	approval_flag int, 
	sent_camp_id int)

IF @type_id = 4
BEGIN
	INSERT #tmp
		(camp_id,
		camp_name, 
		display_name,
		type_id,
		modify_date, 
		filter_name,
		cont_name,
		status_id,
		approval_flag)
	SELECT
		c.camp_id,
		c.camp_name, 
		s.display_name,
		c.type_id, 
		cei.modify_date, 
		isNull(f.filter_name, 'None'), 
		isNull(o.cont_name, 'None') ,
		c.status_id,
		isNull(c.approval_flag, 0)
	FROM
		cque_campaign c,
		ccnt_content o,
		ctgt_filter f,
		cque_camp_status s,
		cque_camp_edit_info cei

	WHERE
				c.status_id = s.status_id
		AND		( c.type_id in (2,4) OR -1 = @type_id)
		AND		( @category_id IS NULL OR @category_id IN (SELECT c_id FROM @tmp_cat WHERE obj_id = c.camp_id))
		AND		c.filter_id *= f.filter_id
		AND		c.cont_id *= o.cont_id
		AND		c.cust_id = @customer_id
		AND		c.origin_camp_id IS NULL
		AND 		c.camp_id = cei.camp_id
                           AND                   c.status_id <> 90
END
ELSE
BEGIN
	INSERT #tmp
		(camp_id,
		camp_name, 
		display_name,
		type_id,
		modify_date, 
		filter_name,
		cont_name,
		status_id,
		approval_flag)
	SELECT
		c.camp_id,
		c.camp_name, 
		s.display_name,
		c.type_id, 
		cei.modify_date, 
		isNull(f.filter_name, 'None'), 
		isNull(o.cont_name, 'None') ,
		c.status_id,
		isNull(c.approval_flag, 0)
	FROM
		cque_campaign c,
		ccnt_content o,
		ctgt_filter f,
		cque_camp_status s,
		cque_camp_edit_info cei

	WHERE
				c.status_id = s.status_id
		AND		( c.type_id = @type_id  OR -1 = @type_id)
		AND		( @category_id IS NULL OR @category_id IN (SELECT c_id FROM @tmp_cat WHERE obj_id = c.camp_id))
		AND		c.filter_id *= f.filter_id
		AND		c.cont_id *= o.cont_id
		AND		c.cust_id = @customer_id
		AND		c.origin_camp_id IS NULL
		AND 		c.camp_id = cei.camp_id
                           AND                   c.status_id <> 90
END

UPDATE #tmp
	SET
		sent_camp_id = c.camp_id, 
		type_id = c.type_id,
		status_id = c.status_id,
		display_name  = s.display_name,
		approval_flag = c.approval_flag
	FROM
		cque_campaign c,
		cque_camp_status s
	WHERE
		c.origin_camp_id = #tmp.camp_id AND
		c.type_id != 1 AND
		c.status_id = s.status_id AND
		c.sample_id is null

UPDATE #tmp
	SET 
		#tmp.start_date = isnull(cs.start_date, GETDATE()), 
		#tmp.finish_date = isnull(cs.finish_date, GETDATE())
	FROM
		cque_campaign c,
		cque_camp_statistic cs
	WHERE
		c.origin_camp_id = #tmp.camp_id AND 
		c.camp_id = cs.camp_id AND
		c.type_id != 1

--JPM 12/4/03 added the following update statement for Content deletion
UPDATE #tmp
	SET
		#tmp.cont_name =  '*Deleted* ' + #tmp.cont_name
	FROM
		cque_campaign c,
		ccnt_content o,
		ccnt_cont_status os
	WHERE
		c.camp_id = #tmp.camp_id 
		--OR 
		--c.origin_camp_id = #tmp.camp_id 
		AND
		c.cont_id = o.cont_id AND
		o.status_id = os.status_id AND
		UPPER(os.status_name) = 'DELETED'

--JPM 11/3/04 added the following update statement for approval workflow
UPDATE #tmp
	SET
		#tmp.cont_name =  '*Pending Approval* ' + #tmp.cont_name
	FROM
		cque_campaign c,
		ccnt_content o,
		ccnt_cont_status os
	WHERE
		c.camp_id = #tmp.camp_id 
		--OR 
		--c.origin_camp_id = #tmp.camp_id 
		AND
		c.cont_id = o.cont_id AND
		o.status_id = os.status_id AND
		UPPER(os.status_name) = 'PENDING APPROVAL'

--JPM 12/8/03 added the following update statement for Filter deletion
UPDATE #tmp
	SET
		#tmp.filter_name =  '*Deleted* ' + #tmp.filter_name
	FROM
		cque_campaign camp,
		ctgt_filter filt,
		ctgt_filter_status fstat
	WHERE
		camp.camp_id = #tmp.camp_id 
		--OR 
		--camp.origin_camp_id = #tmp.camp_id 
		AND
		camp.filter_id = filt.filter_id AND
		filt.status_id = fstat.status_id AND
		UPPER(fstat.status_name) = 'DELETED'

--JPM 11/3/04 added the following update statement for approval workflow
UPDATE #tmp
	SET
		#tmp.filter_name =  '*Pending Approval* ' + #tmp.filter_name
	FROM
		cque_campaign camp,
		ctgt_filter filt,
		ctgt_filter_status fstat
	WHERE
		camp.camp_id = #tmp.camp_id 
		--OR 
		--camp.origin_camp_id = #tmp.camp_id 
		AND
		camp.filter_id = filt.filter_id AND
		filt.status_id = fstat.status_id AND
		UPPER(fstat.status_name) = 'PENDING APPROVAL'

--- === === === ---

IF (@auto_queue_daily_flag = 1)
BEGIN
	SELECT
			camp_id,
			camp_name, 
			display_name,
			type_id,
			filter_name,
			cont_name,
			isnull(CONVERT(VARCHAR(32), finish_date, 100), GETDATE()),
			status_id,
			approval_flag, 
			case
			when type_id = '2' then 'Check Daily'
			when type_id = '4' then 'Triggered'
			else  'Triggered'
			end, 
			sent_camp_id
		FROM #tmp
		WHERE
			(
			( status_id >= 60 ) AND ( type_id = 2) AND
			( camp_id in (SELECT camp_id FROM cque_camp_send_param WITH(NOLOCK) WHERE queue_daily_flag = 1))
			)
			OR
			(
			( status_id >= 60 ) AND (type_id = 4) AND 
			( camp_id not in (SELECT camp_id FROM cque_camp_send_param WITH(NOLOCK) WHERE queue_daily_flag = 1))
			)
		ORDER BY isnull(finish_date, modify_date) DESC
END
ELSE
BEGIN
	SELECT
			camp_id,
			camp_name, 
			display_name,
			type_id,
			filter_name,
			cont_name,
			isnull(CONVERT(VARCHAR(32), finish_date, 100), GETDATE()),
			status_id,
			approval_flag, 
			case
			when type_id = '2' then 'Standard'
			when type_id = '3' then 'Send to Friend'
			else  'Standard'
			end, 
			sent_camp_id
		FROM #tmp
		WHERE
			status_id >= 60 AND
			( camp_id not in (SELECT camp_id FROM cque_camp_send_param WITH(NOLOCK) WHERE queue_daily_flag = 1))
		ORDER BY isnull(finish_date, modify_date) DESC
END

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

