SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ctgt_filter_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ctgt_filter_save]
GO




CREATE PROCEDURE usp_ctgt_filter_save
(
	@filter_id int = NULL,
	@filter_name varchar(255) = NULL,
	@type_id int = NULL,
	@cust_id int = NULL,
	@status_id int = NULL,
	@origin_filter_id int = NULL,
	@usage_type_id int = NULL,
	@aprvl_status_flag int = NULL
)
AS

IF EXISTS (SELECT TOP 1 * FROM ctgt_filter WHERE (filter_id = @filter_id))
BEGIN
	UPDATE ctgt_filter
		SET
			filter_name = @filter_name,
			type_id = @type_id,
			cust_id = @cust_id,
			status_id = @status_id,
			origin_filter_id = @origin_filter_id,
			usage_type_id = @usage_type_id,
			aprvl_status_flag = @aprvl_status_flag
		WHERE
			(filter_id = @filter_id)
END
ELSE
BEGIN
	IF ( @filter_id IS NULL )
	BEGIN
		DECLARE @id_type_id int, @next_id int
		SET @id_type_id = 200 -- FILTER
		EXECUTE usp_ccps_next_id_get @cust_id, @id_type_id, @filter_id OUTPUT
	END

	INSERT ctgt_filter
		(
			filter_id,
			filter_name,
			type_id,
			cust_id,
			status_id,
			origin_filter_id,
			usage_type_id,
			aprvl_status_flag
		)
		VALUES
		(
			@filter_id,
			@filter_name,
			@type_id,
			@cust_id,
			@status_id,
			@origin_filter_id,
			@usage_type_id,
			@aprvl_status_flag
		)
END

SELECT @filter_id


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

