SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_cque_camp_cont_get]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_cque_camp_cont_get]
GO


CREATE PROCEDURE usp_cque_camp_cont_get (@camp_id int)
AS

DECLARE @cont_id int

SELECT @cont_id = cont_id FROM cque_campaign WHERE camp_id = @camp_id

CREATE TABLE #cont_child_tree (parent_cont_id int, child_cont_id int, level_id int)
INSERT #cont_child_tree(parent_cont_id, child_cont_id, level_id) VALUES (null, @cont_id, 0)
EXEC usp_ccnt_cont_child_tree_get

SELECT cb.cont_id, cb.text_part, cb.html_part, cb.aol_part
	FROM
		ccnt_content c,
		ccnt_cont_body cb,
		#cont_child_tree ct
	WHERE
		c.cont_id = ct.child_cont_id AND
		cb.cont_id = c.cont_id AND
		c.type_id  = 30	-- PARAGRAPH
		--c.type_id  != 25	--LOGIC_BLOCK

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

