SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_cftp_ftp_file_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_cftp_ftp_file_save]
GO


CREATE PROCEDURE usp_cftp_ftp_file_save
(
	@file_id int = NULL,
	@task_id int = NULL,
	@file_name_remote varchar(255) = NULL,
	@file_name_local varchar(255) = NULL,
	@start_date datetime = NULL,
	@finish_date datetime = NULL,
	@error_msg varchar(1000) = NULL,
	@status_id int = NULL
)
AS

IF EXISTS (SELECT TOP 1 * FROM cftp_ftp_file WHERE file_id = @file_id)
BEGIN
	UPDATE cftp_ftp_file
		SET
			task_id = @task_id,
			file_name_remote = @file_name_remote,
			file_name_local = @file_name_local,
			start_date = ISNULL(@start_date, start_date),
			finish_date = @finish_date,
			error_msg = @error_msg,
			status_id = @status_id
		WHERE
			file_id = @file_id
END
ELSE
BEGIN
	INSERT cftp_ftp_file
		(
			task_id,
			file_name_remote,
			file_name_local,
			start_date,
			finish_date,
			error_msg,
			status_id
		)
		VALUES
		(
			@task_id,
			@file_name_remote,
			@file_name_local,
			ISNULL(@start_date, getdate()),
			@finish_date,
			@error_msg,
			@status_id
		)

	SET @file_id = @@identity
END

SELECT @file_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

