SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_cque_camp_cont_substitute]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_cque_camp_cont_substitute]
GO


CREATE PROCEDURE usp_cque_camp_cont_substitute
(
	@camp_id int,
	@new_cont_id int
)
AS

DECLARE @cust_id int, @cont_id int
DECLARE @child_cont_count int

SELECT @cust_id = cust_id, @cont_id = cont_id FROM cque_campaign WHERE camp_id = @camp_id
SELECT @child_cont_count = COUNT(*)
	FROM
		ccnt_cont_part cp,
		ccnt_content c
	WHERE
		( cp.parent_cont_id = @cont_id ) AND
		( c.cont_id = cp.child_cont_id )

IF( ISNULL(@child_cont_count,0) != 1 )
BEGIN
	RAISERROR('usp_cque_camp_cont_substitute ERROR: Original content is not simple 1', 16, 1)
	RETURN 0
END

--- === === === ---

DECLARE @child_cont_id int
DECLARE @child_cont_type_id int

SELECT @child_cont_id = c.cont_id, @child_cont_type_id = c.type_id
	FROM
		ccnt_cont_part cp,
		ccnt_content c
	WHERE
		( cp.parent_cont_id = @cont_id ) AND
		( c.cont_id = cp.child_cont_id )

IF( ISNULL(@child_cont_type_id,0) != 30 )
BEGIN
	RAISERROR('usp_cque_camp_cont_substitute ERROR: Original content is not simple 2', 16, 1)
	RETURN 0
END

--- === === === ---

SELECT @child_cont_count = COUNT(*)
	FROM ccnt_cont_part
	WHERE parent_cont_id = @child_cont_id

IF( ISNULL(@child_cont_count,0) != 0 )
BEGIN
	RAISERROR('usp_cque_camp_cont_substitute ERROR: Original content is not simple 3', 16, 1)
	RETURN 0
END

--- === === === ---

UPDATE ccnt_cont_body
	SET
		ccnt_cont_body.html_part = cb.html_part,
		ccnt_cont_body.text_part = cb.text_part,
		ccnt_cont_body.aol_part = null
	FROM
		ccnt_cont_body,
		ccnt_cont_body cb
	WHERE
		(
			( ccnt_cont_body.cont_id = @cont_id )
			OR
			( ccnt_cont_body.cont_id = @child_cont_id )
		)
		AND
		( cb.cont_id = @new_cont_id )

UPDATE ccnt_content
	SET
		ccnt_content.cont_name = c.cont_name,
		ccnt_content.charset_id = c.charset_id,
		ccnt_content.origin_cont_id = @new_cont_id
	FROM
		ccnt_content,
		ccnt_content c
	WHERE
		(
			( ccnt_content.cont_id = @cont_id )
			OR
			( ccnt_content.cont_id = @child_cont_id )
		)
		AND
		( c.cont_id = @new_cont_id )

UPDATE ccnt_cont_send_param
	SET
		ccnt_cont_send_param.unsub_msg_id = csp.unsub_msg_id,
		ccnt_cont_send_param.unsub_msg_position = csp.unsub_msg_position,
		ccnt_cont_send_param.send_html_flag = csp.send_html_flag,
		ccnt_cont_send_param.send_text_flag = csp.send_text_flag,
		ccnt_cont_send_param.send_aol_flag = csp.send_aol_flag
	FROM
		ccnt_cont_send_param,
		ccnt_cont_send_param csp
	WHERE
		( ccnt_cont_send_param.cont_id = @cont_id )
		AND
		( csp.cont_id = @new_cont_id )

--- === === === ---

EXEC usp_cque_camp_links_add_from_cont @camp_id, @new_cont_id
/*
DECLARE @link_count int

SELECT
		id = identity(int),
		link_id,
		link_name,
		cust_id,
		camp_id,
		cont_id,
		href
	INTO #cjtk_link
	FROM cjtk_link WITH(NOLOCK) 
	WHERE
		( cont_id = @new_cont_id )
		AND
		( href NOT IN (SELECT href FROM cjtk_link WITH(NOLOCK) WHERE camp_id = @camp_id ) )

SET @link_count = @@rowcount

IF (@link_count > 0)
BEGIN
	DECLARE @link_unique_id_type int
	DECLARE @next_link_id int

	SET @link_unique_id_type = 130
	EXEC usp_ccps_next_id_get @cust_id, @link_unique_id_type, @next_link_id OUTPUT, @link_count

	INSERT cjtk_link
		(link_id,
		link_name,
		cust_id,
		camp_id,
		cont_id,
		href,
		origin_link_id)
	SELECT
		id + @next_link_id - 1,
		link_name,
		cust_id,
		@camp_id,
		@cont_id,
		href,
		link_id
	FROM #cjtk_link
END

DROP TABLE #cjtk_link

--- === === === ---

SELECT @link_count
*/

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

