SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ccps_cust_attr_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ccps_cust_attr_save]
GO


CREATE PROCEDURE usp_ccps_cust_attr_save
(
	@cust_id int = NULL,
	@attr_id int = NULL,
	@display_name varchar(255) = NULL,
	@display_seq int = NULL,
	@fingerprint_seq int = NULL,
	@sync_flag int = NULL,
	@hist_flag int = NULL,
	@newsletter_flag varchar(255) = NULL,
	@recip_view_seq int = NULL
)
AS

IF EXISTS (SELECT TOP 1 * FROM ccps_cust_attr WHERE (cust_id = @cust_id) AND (attr_id = @attr_id))
BEGIN
	UPDATE ccps_cust_attr
		SET
			display_name = @display_name,
			display_seq = @display_seq,
			fingerprint_seq = @fingerprint_seq,
			sync_flag = @sync_flag,
			hist_flag = @hist_flag,
			newsletter_flag = @newsletter_flag,
			recip_view_seq = @recip_view_seq
		WHERE
			(cust_id = @cust_id) AND
			(attr_id = @attr_id)
END
ELSE
BEGIN
	INSERT ccps_cust_attr
		(
			cust_id,
			attr_id,
			display_name,
			display_seq,
			fingerprint_seq,
			sync_flag,
			hist_flag,
			newsletter_flag,
			recip_view_seq
		)
		VALUES
		(
			@cust_id,
			@attr_id,
			@display_name,
			@display_seq,
			@fingerprint_seq,
			@sync_flag,
			@hist_flag,
			@newsletter_flag,
			@recip_view_seq
		)
END

SELECT @cust_id, @attr_id
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

