SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_cntt_entity_attr_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_cntt_entity_attr_save]
GO



CREATE PROCEDURE usp_cntt_entity_attr_save
(
	@attr_id int = NULL,
	@entity_id int = NULL,
	@type_id int = NULL,
	@attr_name varchar(255) = NULL,
	@scope_id int = NULL,
	@internal_id_flag int = NULL,
	@fingerprint_seq int = NULL
)
AS

IF EXISTS (SELECT TOP 1 * FROM cntt_entity_attr WHERE (attr_id = @attr_id))
BEGIN
	UPDATE cntt_entity_attr
		SET
			entity_id = @entity_id,
			type_id = @type_id,
			attr_name = @attr_name,
			scope_id = @scope_id,
			internal_id_flag = @internal_id_flag,
			fingerprint_seq = @fingerprint_seq
		WHERE
			(attr_id = @attr_id)
END
ELSE
BEGIN
	INSERT cntt_entity_attr
		(
			attr_id,
			entity_id,
			type_id,
			attr_name,
			scope_id,
			internal_id_flag,
			fingerprint_seq
		)
		VALUES
		(
			@attr_id,
			@entity_id,
			@type_id,
			@attr_name,
			@scope_id,
			@internal_id_flag,
			@fingerprint_seq
		)
END

SELECT @attr_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

