SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_crpt_super_camp_links]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_crpt_super_camp_links]
GO




CREATE PROCEDURE usp_crpt_super_camp_links (@super_camp_id int) 
AS

SET NOCOUNT ON
CREATE TABLE #tLink (SuperCampID int,
			[Id] int, 
			SuperLinkName varchar(255),   
			TotalClicks int,
			TotalText int,
			TotalHTML int,
			TotalAOL int,
			DistinctClicks int,
			DistinctText int,
			DistinctHTML int,
			DistinctAOL int,
			TotalClickPrc decimal(5,1),
			DistinctClickPrc decimal(5,1))

	INSERT #tLink (SuperCampID,
			[Id], 
			SuperLinkName,   
			TotalClicks,
			TotalText,
			TotalHTML,
			TotalAOL,
			DistinctClicks,
			DistinctText,
			DistinctHTML,
			DistinctAOL)
		SELECT s.super_camp_id, 
			s.super_link_id, 
			s.super_link_name,
			sum(l.tot_clicks),
			sum(tot_text_clicks),
			sum(tot_html_clicks),
			sum(tot_aol_clicks),
			sum(dist_clicks),
			sum(dist_text_clicks),
			sum(dist_html_clicks),
			sum(dist_aol_clicks)
		FROM crpt_camp_link l, crpt_super_link_link sl, crpt_super_link s
		WHERE s.super_camp_id = @super_camp_id
			AND s.super_camp_id = sl.super_camp_id
			AND s.super_link_id = sl.super_link_id
			AND sl.link_id = l.link_id
		GROUP BY s.super_camp_id, 
			s.super_link_id, 
			s.super_link_name

DECLARE @TotalAllClicks int, @DistinctAllClicks int
SELECT @TotalAllClicks = sum(TotalClicks), @DistinctAllClicks = sum(DistinctClicks) FROM #tLink WHERE SuperCampID = @super_camp_id

	UPDATE #tLink SET TotalClickPrc = CASE @TotalAllClicks
					WHEN 0 THEN 0
					ELSE convert(decimal(5,1),(TotalClicks*100.0)/@TotalAllClicks) END,
				DistinctClickPrc = CASE @DistinctAllClicks
					WHEN 0 THEN 0
					ELSE convert(decimal(5,1),(DistinctClicks*100.0)/@DistinctAllClicks) END


	SELECT SuperCampID,
		[Id], 
		SuperLinkName,   
		TotalClicks,
		TotalText,
		TotalHTML,
		TotalAOL,
		DistinctClicks,
		DistinctText,
		DistinctHTML,
		DistinctAOL,
		TotalClickPrc,
		TotalTextPrc =
			CASE WHEN ((TotalClicks = 0) OR (TotalClickPrc < 1))THEN 0
				ELSE convert(decimal(5,1),(TotalText*100.0)/TotalClicks)
			END,
		TotalHTMLPrc =
			CASE WHEN ((TotalClicks = 0) OR (TotalClickPrc < 1))THEN 0
				ELSE convert(decimal(5,1),(TotalHTML*100.0)/TotalClicks)
			END,
		TotalAOLPrc =
			CASE WHEN ((TotalClicks = 0) OR (TotalClickPrc < 1))THEN 0
				ELSE convert(decimal(5,1),(TotalAOL*100.0)/TotalClicks)
			END,
		DistinctClickPrc,
		DistinctTextPrc =
			CASE WHEN ((DistinctClicks = 0) OR (DistinctClickPrc < 1))THEN 0
				ELSE convert(decimal(5,1),(DistinctText*100.0)/DistinctClicks)
			END,
		DistinctHTMLPrc =
			CASE WHEN ((DistinctClicks = 0) OR (DistinctClickPrc < 1))THEN 0
				ELSE convert(decimal(5,1),(DistinctHTML*100.0)/DistinctClicks)
			END,
		DistinctAOLPrc =
			CASE WHEN ((DistinctClicks = 0) OR (DistinctClickPrc < 1))THEN 0
				ELSE convert(decimal(5,1),(DistinctAOL*100.0)/DistinctClicks)
			END
	FROM #tLink

DROP TABLE #tLink

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

