SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ccps_access_mask_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ccps_access_mask_save]
GO


CREATE PROCEDURE usp_ccps_access_mask_save
(
	@user_id int = NULL,
	@type_id int = NULL,
	@mask int = NULL
)
AS

IF EXISTS (SELECT TOP 1 * FROM ccps_access_mask WHERE (user_id = @user_id) AND (type_id = @type_id))
BEGIN
	UPDATE ccps_access_mask
		SET
			mask = @mask
		WHERE
			(user_id = @user_id) AND
			(type_id = @type_id)
END
ELSE
BEGIN
	INSERT ccps_access_mask
		(
			user_id,
			type_id,
			mask
		)
		VALUES
		(
			@user_id,
			@type_id,
			@mask
		)
END

SELECT @user_id, @type_id


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

