SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ccnt_cont_clone_full]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ccnt_cont_clone_full]
GO


CREATE PROCEDURE usp_ccnt_cont_clone_full (@cont_id int, @new_cont_id int=null OUTPUT)
AS

EXEC usp_ccnt_cont_clone_tricky @cont_id, 1, 1, 1, @new_cont_id OUTPUT

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

