SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ccnt_img_fld_cust_access_delete]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ccnt_img_fld_cust_access_delete]
GO


CREATE PROCEDURE usp_ccnt_img_fld_cust_access_delete (@cust_id int, @folder_id int) AS

CREATE TABLE #c(cust_id int, parent_cust_id int, level_id int)
INSERT #c(cust_id, parent_cust_id, level_id) VALUES(@cust_id, null, 0)
EXEC usp_ccps_cust_tree_build 

INSERT #c(cust_id, parent_cust_id, level_id) VALUES(0, null, 0)

CREATE TABLE #cust_parent_chain (cust_id int, level_id int)
EXEC usp_ccps_cust_parent_chain_build @cust_id, 0

DECLARE @num_parents int
SELECT @num_parents = count(*) FROM #cust_parent_chain WHERE cust_id <> @cust_id

DECLARE @origin_cust_id int
SELECT @origin_cust_id = cust_id FROM ccnt_img_folder WHERE folder_id = @folder_id

IF ( (@num_parents > 0) OR (@origin_cust_id = @cust_id) ) -- Can remove globally as well if customer is top parent or customer created folder 
	INSERT #c(cust_id, parent_cust_id, level_id) VALUES(0, null, 0)

DELETE ccnt_img_fld_cust_access 
	FROM #c
	WHERE #c.cust_id = ccnt_img_fld_cust_access.cust_id
		AND ccnt_img_fld_cust_access.folder_id = @folder_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

