SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_crpt_camp_pos_insert]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_crpt_camp_pos_insert]
GO


CREATE PROCEDURE usp_crpt_camp_pos_insert (
	@pos_link_id int,
	@camp_id int,
	@href varchar(255),
	@tot_clicks int,
	@dist_clicks int)
AS

IF EXISTS (SELECT 1 FROM crpt_camp_pos WHERE pos_link_id = @pos_link_id AND camp_id = @camp_id)
	UPDATE crpt_camp_pos SET href = @href, tot_clicks = @tot_clicks, dist_clicks = @dist_clicks
		WHERE pos_link_id = @pos_link_id AND camp_id = @camp_id
ELSE
	INSERT crpt_camp_pos (pos_link_id,
			camp_id,
			href,
			tot_clicks,
			dist_clicks)
		VALUES (@pos_link_id,
			@camp_id,
			@href,
			@tot_clicks,
			@dist_clicks)

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

