SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_crpt_cust_report_domains]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_crpt_cust_report_domains]
GO



CREATE PROCEDURE usp_crpt_cust_report_domains (@cust_id int, @report_id int) 
AS
SET NOCOUNT ON

CREATE TABLE #tDomains (Domain varchar(255),
			Sent int,
			BBacks int)

INSERT #tDomains (Domain,
		Sent,
		BBacks)
	SELECT d.domain, 
		d.sent, 
		d.bbacks
	FROM crpt_cust_report_domain d
	WHERE d.cust_id = @cust_id AND d.report_id = @report_id

SELECT Domain,
		Sent,
		BBacks,
		BBackPrc = CASE Sent WHEN 0 THEN 0
			ELSE convert(decimal(5,1), (BBacks*100.0/Sent)) END
	FROM #tDomains
	WHERE Sent > 0
	ORDER BY Sent DESC

DROP TABLE #tDomains

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

