SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ccnt_info_get]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ccnt_info_get]
GO


CREATE PROCEDURE  usp_ccnt_info_get (@content_id int = null)
AS

If @content_id  is not Null
	SELECT
		c.cont_name as Name,
		c.status_id as Status,
		c.charset_id as SendType,
		c.type_id as TypeID, 
		c.cti_doc_id as ctiDocID, 
		ISNULL(b.html_part,' ') as HTML, 
		ISNULL(b.text_part,' ') as Text,
		ISNULL(b.aol_part,' ') as AOL,
		csp.unsub_msg_id,
		csp.unsub_msg_position,
		csp.send_text_flag,
		csp.send_html_flag,
		csp.send_aol_flag,
		u.user_name + ' ' + u.last_name as creator,
		isnull(convert(varchar(255),cei.create_date,100),'') as create_date,
		u2.user_name + ' ' + u2.last_name as modifier,
		isnull(convert(varchar(255),cei.modify_date,100),'') as modify_date
	FROM ccnt_content c, ccnt_cont_body b, ccps_user u, ccps_user u2,
		ccnt_cont_edit_info cei, ccnt_cont_send_param csp
	WHERE c.cont_id = @content_id AND c.cont_id = b.cont_id
		AND cei.cont_id = c.cont_id
		AND csp.cont_id = c.cont_id
		AND u.user_id =* cei.creator_id
		AND u2.user_id =* cei.modifier_id

Else
	SELECT
		c.cont_name as Name,
		c.status_id as Status,
		c.charset_id as SendType,
		c.type_id as TypeID, 
		c.cti_doc_id as ctiDocID, 
		ISNULL(b.html_part,' ') as HTML, 
		ISNULL(b.text_part,' ') as Text,
		ISNULL(b.aol_part,' ') as AOL
	FROM ccnt_content c, ccnt_cont_body b
	WHERE c.cont_id = b.cont_id
	ORDER BY cont_name

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

