SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ccnt_cont_part_validate]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ccnt_cont_part_validate]
GO



CREATE PROCEDURE  usp_ccnt_cont_part_validate
	(@parent_cont_id int,
	@child_cont_id int)
AS

CREATE TABLE #cont_parent_chains (parent_cont_id int, child_cont_id int, level_id int)
CREATE TABLE #cont_child_tree (parent_cont_id int, child_cont_id int, level_id int)

INSERT #cont_parent_chains (parent_cont_id, child_cont_id, level_id) VALUES (@parent_cont_id, @child_cont_id, 0)
INSERT #cont_child_tree(parent_cont_id, child_cont_id, level_id) VALUES (@parent_cont_id, @child_cont_id, 0)

EXEC usp_ccnt_cont_parent_chains_get
EXEC usp_ccnt_cont_child_tree_get

DECLARE @n int

SELECT @n = count(*)
	FROM
		#cont_parent_chains cpc,
		#cont_child_tree cct
	WHERE
		cpc.parent_cont_id = cct.child_cont_id

IF ISNULL(@n, 0)  != 0 RAISERROR ('ERROR: Cycle reference within content chain is not permitted.', 11, 1)


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

