SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ccnt_list_get]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ccnt_list_get]
GO


CREATE PROCEDURE dbo.usp_ccnt_list_get (@type_id int, @CustomerId int, @StatusId int=null, @category_id int=null)
AS
-- 12/3/03 John Mills
-- added IF ELSE block to deal with deleted Content records

Set NoCount On
DECLARE @printTypeID int

SELECT @printTypeID = 0

IF (@type_id = 20) SET @printTypeID = 40

Declare @tId Table (Id Integer Primary Key)

DECLARE @tmp_cat TABLE (c_id int, obj_id int)

IF (@category_id = 0) SET @category_id = null
	INSERT @tmp_cat
		SELECT category_id, [object_id]
		FROM ccps_object_category
		WHERE
			cust_id = @CustomerId AND
			type_id = 170 AND
			@category_id = category_id

IF (@StatusId IS NULL)  -- retrieve all Content records (excluding those with 'deleted' status)
	INSERT @tId
		SELECT cont_id
			FROM ccnt_content
			WHERE
				cust_id=@CustomerId
				AND status_id <> 90  -- not 'deleted' status
				AND (@category_id IS NULL OR @category_id IN
					(SELECT c_id FROM @tmp_cat WHERE obj_id = ccnt_content.cont_id))
				AND type_id in (@type_id, @printTypeID) AND origin_cont_id IS NULL
ELSE -- Status ID is a specific value.  Only retrieve Content with specified status.
	INSERT @tId
		SELECT cont_id
			FROM ccnt_content
			WHERE
				status_id=@StatusId
				AND cust_id=@CustomerId
				AND (@category_id IS NULL OR @category_id IN
					(SELECT c_id FROM @tmp_cat WHERE obj_id = ccnt_content.cont_id))
				AND type_id in (@type_id, @printTypeID) AND origin_cont_id IS NULL

Select Distinct
		c.cont_id as ContentId,
		c.cont_name as ContentName,
		cei.wizard_id as WizardId,
		c.type_id, 
		ct.display_name,
		Convert(Varchar, cei.modify_date,100) as 'ModifyDate',
		c.status_id as StatusId,
		s.status_name as Status,
		u.user_name + ' ' + u.last_name as 'Editor',
		cei.modify_date
	FROM
		ccnt_content as c,
		ccps_user u,
		ccnt_cont_status s,
		ccnt_cont_type ct,
		@tId t,
		ccnt_cont_edit_info cei
	WHERE
		t.Id = c.cont_id
		AND cei.modifier_id *= u.user_id
		AND c.status_id = s.status_id
		AND ct.type_id = c.type_id
		AND cei.cont_id = c.cont_id
	ORDER BY cei.modify_date DESC

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

