SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ccnt_img_fld_hide]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ccnt_img_fld_hide]
GO


CREATE PROCEDURE usp_ccnt_img_fld_hide (@folder_id int, @cust_id int) 
AS

CREATE TABLE #c(cust_id int, parent_cust_id int, level_id int)
INSERT #c(cust_id, parent_cust_id, level_id) VALUES(@cust_id, null, 0)
EXEC usp_ccps_cust_tree_build 

CREATE TABLE #cust_parent_chain (cust_id int, level_id int)
EXEC usp_ccps_cust_parent_chain_build @cust_id, 0

DECLARE @num_parents int
SELECT @num_parents = count(*) FROM #cust_parent_chain WHERE cust_id <> @cust_id

DECLARE @origin_cust_id int
SELECT @origin_cust_id = cust_id FROM ccnt_img_folder WHERE folder_id = @folder_id

IF ( (@num_parents > 0) OR (@origin_cust_id = @cust_id) ) -- Can hide globally as well if customer is top parent or customer created folder 
	INSERT #c(cust_id, parent_cust_id, level_id) VALUES(0, null, 0)

UPDATE ccnt_img_fld_cust_access 
	SET access_flag = -1 
	FROM #c
	WHERE ccnt_img_fld_cust_access.cust_id = #c.cust_id 
		AND folder_id = @folder_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

