SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ccps_cust_unique_id_save]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ccps_cust_unique_id_save]
GO


CREATE PROCEDURE usp_ccps_cust_unique_id_save
	(@cust_id int,
	@type_id int,
	@min_id int,
	@max_id int,
	@next_id int)
AS

IF NOT EXISTS (SELECT cust_id, type_id FROM ccps_cust_unique_id WHERE cust_id = @cust_id AND type_id = @type_id)
BEGIN
	INSERT ccps_cust_unique_id
			(cust_id,
			type_id,
			min_id,
			max_id,
			next_id)
		VALUES
			(@cust_id,
			@type_id,
			@min_id,
			@max_id,
			@min_id)
END
ELSE
BEGIN
	UPDATE ccps_cust_unique_id
		SET 
			min_id = @min_id,
			max_id = @max_id,
			next_id =
				CASE
					WHEN next_id > @min_id THEN next_id
					ELSE @min_id
				END
/* If want to update next_id
	 			CASE
					WHEN (next_id > @min_id AND next_id > @next_id) THEN next_id
					WHEN @next_id > @min_id THEN @next_id
					ELSE @min_id
				END */
		WHERE
			cust_id = @cust_id AND
			type_id = @type_id
END

SELECT cust_id, type_id, min_id, max_id, next_id
	FROM ccps_cust_unique_id
	WHERE cust_id = @cust_id AND type_id = @type_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

