.<rvts_recommendation_selector> {
    position: relative;
    height: 390px;
    margin: 25px auto;
    overflow: hidden;
    display: none;
}

.<rvts_recommendation_selector>-container {
    transition: left 0.5s ease 0s;
    position: absolute;
    height: calc(100% - 30px);
    top: 30px;

}

.<rvts_recommendation_selector>-container__flex {
    display: flex;
    height: 100%;
}

.<rvts_recommendation_selector>-container__element {
    position: relative;
    width: 178px;
    height: calc(100% - 2px);
    margin-left: 50px;
    overflow: hidden;
    cursor: pointer;
}

.<rvts_recommendation_selector>-container__element:last-child {
    margin-right: 50px;
}

.<rvts_recommendation_selector>-container__element_image {
	max-height: 250px;
	overflow: hidden;
	top: 8px;
	box-shadow: 2px 2px 5px 0px #000000,-2px -2px 5px 0px #000000;
    position: absolute;
    width: 166px;
    left: calc(50% - 83px);
}

.<rvts_recommendation_selector>-container__element_image > img:first-child {
    position: relative;
    max-height: 250px;
    left: 50%;
    transform: translateX(-50%);
}

.<rvts_recommendation_selector>-container__element:hover > .<rvts_recommendation_selector>-container__element_image {
	box-shadow: 2px 2px 5px 2px #000000,-2px -2px 5px 2px #000000;
}

.<rvts_recommendation_selector>-container__element_name {
    position: absolute;
    overflow: hidden;
	font-family: Nunito Sans;
    font-weight: 100;
    top: 270px;
    left: 0;
    width: 100%;
	max-height: 45px;
	font-size: 14px;
}

.<rvts_recommendation_selector>-container__element_price {
    position: absolute;
    overflow: hidden;
    font-family: Nunito Sans;
    font-weight: 100;
    top: 340px;
    left: 0;
    width: 100%;
	font-size: 15px;
    height: 25px;
    text-decoration: line-through;
}

.<rvts_recommendation_selector>-container__element_name.original-price {
	bottom: 33px;
}

.<rvts_recommendation_selector>-container__element_price.original-price {
	top: 320px;
	text-decoration: none;
	font-weight: 700;
}

.<rvts_recommendation_selector>-container__element_sales_price {
    position: absolute;
    overflow: hidden;
    font-family: Nunito Sans;
    font-weight: 700;
	color:#bb0712;
    top: 320px;
    left: 0;
    width: 100%;
    font-size: 15px;
    height: 25px;
}

.<rvts_recommendation_selector>-container__element_sales_discount {
        box-shadow: 2px 0px 3px 0px #000000, -2px 0px 3px 0px #000000;
    position: absolute;
    background-color: #ff0000;
    overflow: hidden;
    font-family: Nunito Sans;
    font-weight: 700;
    top: 12px;
    right: 12px;
    line-height: 30px;
    text-decoration: line-through;
    height: 30px;
    width: 25%;
    text-align: center;
}

.<rvts_recommendation_selector>_buttons__left {
    position:absolute;
    top: calc(50% - 15px);
    cursor: pointer;
    left: 0;
}

.<rvts_recommendation_selector>_buttons__right {
    position:absolute;
    top: calc(50% - 15px);
    cursor: pointer;
    right: 0;
}

.<rvts_recommendation_selector>_buttons__left > img:first-child {
    content: url("http://l.revotas.com/trc/recommendation/slide_prev.png");
}

.<rvts_recommendation_selector>_buttons__right > img:first-child {
    content: url("http://l.revotas.com/trc/recommendation/slide_next.png");
}

.<rvts_recommendation_selector>-header {
    position: absolute;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Nunito Sans;
    font-weight: 700;  
    font-size: 18px;
	top: -5px;
}

.<rvts_recommendation_selector>-header:after {
	position: absolute;
    content: '';
    height: 1px;
    bottom: 2px;
    width: 300px;
    background: #000;
}